Repository aws/aws-sam-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: area/package, area/local/invoke, area/pipeline, area/deploy, area/local/start-api, area/local/start-invoke, area/local/generate-event, area/init, area/delete, area/integration-tests, area/publish, area/sync, area/validate, area/build, area/logs, area/traces, area/schema

Update reproducibles: update-reproducible-linux-reqs
  requirements/reproducible-linux.txt
Labels: none

Update reproducibles: update-reproducible-mac-reqs
  requirements/reproducible-mac.txt
Labels: none

Update base.txt
  requirements/base.txt
Labels: none

fix: Delete stacks in REVIEW_IN_PROGRESS (#5687)
  samcli/commands/delete/delete_context.py
  samcli/commands/delete/exceptions.py
  samcli/lib/delete/cfn_utils.py
  tests/integration/delete/test_delete_command.py
  tests/unit/commands/delete/test_delete_context.py
  tests/unit/lib/delete/test_cfn_utils.py
Labels: area/delete

Updated and added happy paths to apply test class
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/terraform-v1-api-simple/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-quick-create/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple/main.tf
Labels: none

Added case where build_options are None
  samcli/lib/build/app_builder.py
Labels: area/build

Use correct method for AWS_PROXY
  tests/integration/testdata/start_api/terraform/terraform-v1-api-simple/main.tf
Labels: none

chore: version bump to 1.94.0.dev202308041858
  samcli/__init__.py
Labels: none

chore: patch binary as sam-nightly
  setup.py
Labels: none

Pass function_name to lambda_builders
  samcli/lib/build/app_builder.py
Labels: area/build

Update Windows config
  tests/testing_utils.py
Labels: none

Test/binary canaries (#5717)
  tests/testing_utils.py
Labels: none

Update Windows config
  appveyor-windows-binary.yml
  tests/testing_utils.py
Labels: none

Test/binary canaries (#5718)
  appveyor-windows-binary.yml
  tests/testing_utils.py
Labels: none

test: AppVeyor Jobs Running Against Nightly Binaries
  appveyor-linux-binary.yml
  appveyor-windows-binary.yml
  tests/integration/telemetry/test_experimental_metric.py
  tests/integration/telemetry/test_installed_metric.py
  tests/testing_utils.py
Labels: none

fix: supporting nested apis for v1 method, integration, and integration response resources. (#5712)
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/terraform-v1-nested-apis/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: none

Install deps into a virtual env
  appveyor-linux-binary.yml
Labels: none

Binary canary config (#5720)
  appveyor-linux-binary.yml
  samcli/commands/delete/delete_context.py
  samcli/commands/delete/exceptions.py
  samcli/lib/delete/cfn_utils.py
  tests/integration/delete/test_delete_command.py
  tests/unit/commands/delete/test_delete_context.py
  tests/unit/lib/delete/test_cfn_utils.py
Labels: area/delete

Fix Windows test failure
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-python/{{cookiecutter.project_name}}/tests/unit/test_handler.py
  tests/integration/init/test_init_command.py
Labels: none

Binary canary config (#5721)
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-python/{{cookiecutter.project_name}}/tests/unit/test_handler.py
  tests/integration/init/test_init_command.py
Labels: none

Fix install
  appveyor-linux-binary.yml
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-python/{{cookiecutter.project_name}}/tests/unit/test_handler.py
Labels: none

Binary canary config (#5722)
  appveyor-linux-binary.yml
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/terraform-v1-nested-apis/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: none

Fix install
  appveyor-linux-binary.yml
Labels: none

Binary canary config (#5723)
  appveyor-linux-binary.yml
Labels: none

Fix install
  appveyor-linux-binary.yml
Labels: none

Binary canary config (#5724)
  appveyor-linux-binary.yml
Labels: none

Fix install
  appveyor-linux-binary.yml
Labels: none

Binary canary config (#5725)
  appveyor-linux-binary.yml
Labels: none

fix failing integration testing
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple-local-resource-link/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple-multi-resource-link/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple/main.tf
Labels: none

fix merge conflicts
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
Labels: none

Fix conflict
  appveyor-linux-binary.yml
Labels: none

Format files
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-python/{{cookiecutter.project_name}}/tests/unit/test_handler.py
Labels: none

tests: Added limitation test cases for V2 resources (#5708)
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/lambda-auth-openapi/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v1-api-simple/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-quick-create/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple-local-resource-link/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple-local-resource-link/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple-multi-resource-link/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple-multi-resource-link/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-openapi/lambda-functions.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-openapi/main.tf
Labels: none

feat: updating app templates repo hash with (590b5e90d681c504213e6c35d56c0d63d9401c0b)
  samcli/runtime_config.json
Labels: none

use get_sam_command to get the base sam command in regression pacakge test cases.
  tests/regression/package/regression_package_base.py
Labels: none

disable authorizer at parser level
  samcli/commands/local/lib/local_api_service.py
  samcli/lib/providers/api_provider.py
  samcli/lib/providers/cfn_api_provider.py
  samcli/lib/providers/cfn_base_api_provider.py
  samcli/lib/providers/sam_api_provider.py
  samcli/local/apigw/local_apigw_service.py
Labels: area/local/invoke, area/local/start-api, area/local/start-invoke

chore: version bump to 1.94.0.dev202308070901
  samcli/__init__.py
Labels: none

chore: patch binary as sam-nightly
  setup.py
Labels: none

chore: version bump to 1.94.0.dev202308080901
  samcli/__init__.py
Labels: none

chore: patch binary as sam-nightly
  setup.py
Labels: none

.github/labeler.yml:

area/package:
- samcli/commands/package/*
- samcli/commands/package/**/*

area/local/invoke:
- samcli/commands/local/invoke/*
- samcli/commands/local/invoke/**/*
- samcli/local/*
- samcli/local/**/*

area/pipeline:
- samcli/commands/pipeline/*
- samcli/commands/pipeline/**/*

area/deploy:
- samcli/commands/deploy/*
- samcli/commands/deploy/**/*

area/local/start-api:
- samcli/commands/local/start-api/*
- samcli/commands/local/start-api/**/*
- samcli/local/*
- samcli/local/**/*

area/local/start-invoke:
- samcli/commands/local/start-invoke/*
- samcli/commands/local/start-invoke/**/*
- samcli/local/*
- samcli/local/**/*

area/local/generate-event:
- samcli/commands/local/generate-event/*
- samcli/commands/local/generate-event/**/*

area/init:
- samcli/commands/init/*
- samcli/commands/init/**/*

area/delete:
- samcli/commands/delete/*
- samcli/commands/delete/**/*

area/integration-tests:
- test/integration/*
- test/integration/**/*

area/publish:
- samcli/commands/publish/*
- samcli/commands/publish/**/*

area/sync:
- samcli/commands/sync/*
- samcli/commands/sync/**/*

area/validate:
- samcli/commands/validate/*
- samcli/commands/validate/**/*

area/build:
- samcli/commands/build/*
- samcli/commands/build/**/*
- samcli/lib/build/*
- samcli/lib/build/**/*

area/logs:
- samcli/commands/logs/*
- samcli/commands/logs/**/*

area/traces:
- samcli/commands/traces/*
- samcli/commands/traces/**/*

area/schema:
- schema/*
- schema/**/*
