Repository aws/aws-sam-cli, pull requests merged in 2018-12, with the labels that each got.

#822 list ruby as supported runtime
  README.rst
Labels: area/docs, stage/accepted

#802 Making hello world java sample more idiomatic
  samcli/local/init/templates/cookiecutter-aws-sam-hello-java/{{cookiecutter.project_name}}/src/main/java/helloworld/App.java
Labels: stage/in-progress

#705 Updates to .NET Core init template
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/README.md
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/src/HelloWorld/HelloWorld.csproj
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/src/HelloWorld/Readme.md
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/src/HelloWorld/aws-lambda-tools-defaults.json
Labels: area/init, stage/accepted

#829 Fix Makefile typo
  Makefile
Labels: stage/accepted
