Repository aws/aws-sam-cli, pull requests merged in 2018-09, with the labels that each got.

#633 fix(path): change windows style path to unix
  samcli/local/docker/container.py
  samcli/local/docker/utils.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/docker/test_utils.py
Labels: area/docker, area/lambda-invoke, platform/windows, stage/in-progress

#661 Update usage.rst to render code inline in Debugging Go section
  docs/usage.rst
Labels: area/debugging, area/docs

#667 feat(generate-event): Add Kinesis Analytics events
  samcli/commands/local/lib/generated_sample_events/event-mapping.json
  samcli/commands/local/lib/generated_sample_events/events/kinesis/KinesisAnalytics.json
  samcli/commands/local/lib/generated_sample_events/events/kinesis/KinesisAnalyticsKpl.json
Labels: area/local/generate-event, stage/in-progress

#665 Add dotnetcore 2.1 support for init command
  samcli/local/init/__init__.py
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/cookiecutter.json
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/README.md
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/src/HelloWorld/HelloWorld.csproj
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/src/HelloWorld/aws-lambda-tools-defaults.json
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/template.yaml
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/test/HelloWorld.Test/HelloWorld.Tests.csproj
Labels: area/init, stage/in-progress
