Repository aws/aws-sam-cli, pull requests merged in 2018-07, with the labels that each got.

#422 Fix socket timeouts during local debugging
  samcli/local/docker/attach_api.py
Labels: area/docker, stage/accepted

#495 Support debugging Golang functions.
  README.rst
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/cli_common/options.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/lib/debug_context.py
  samcli/commands/local/lib/local_lambda.py
  samcli/commands/local/start_api/cli.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_container.py
  samcli/local/lambdafn/runtime.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/debugging, stage/accepted

#508 feat(LocalLambdaService): Invoke Local Lambdas through a Local Lambda Service
  samcli/commands/local/lib/local_api_service.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/lambda_service/__init__.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/services/__init__.py
  samcli/local/services/base_local_service.py
  tests/functional/local/apigw/test_local_apigw_service.py
  tests/functional/local/lambda_service/__init__.py
  tests/functional/local/lambda_service/test_local_lambda_invoke.py
  tests/unit/commands/local/lib/test_local_api_service.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/lambda_service/__init__.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
  tests/unit/local/services/__init__.py
  tests/unit/local/services/test_base_local_service.py
Labels: stage/in-progress

#545 Add dotnetcore2.1 container support
  README.rst
  samcli/local/docker/lambda_container.py
Labels: stage/accepted

#541 fix: invalid response with new line symbol
  samcli/local/services/base_local_service.py
  tests/unit/local/services/test_base_local_service.py
Labels: stage/accepted
