Repository aws/aws-sam-cli, pull requests merged in 2018-08, with the labels that each got.

#584 Sample code should run properly without changes
  README.rst
Labels: area/docs, stage/accepted

#586 Minor improvements for Node.js init template
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs/{{cookiecutter.project_name}}/hello_world/app.js
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs/{{cookiecutter.project_name}}/template.yaml
Labels: area/init, stage/accepted

#578 aws-lambda-java-core 1.1.0 -> 1.2.0
  samcli/local/init/templates/cookiecutter-aws-sam-hello-java/{{cookiecutter.project_name}}/pom.xml
  tests/integration/testdata/invoke/runtimes/java8/pom.xml
Labels: area/init, stage/accepted

#579 Fix stringifying λ environment variables when using Python2
  samcli/local/lambdafn/env_vars.py
  tests/unit/local/lambdafn/test_env_vars.py
Labels: area/lambda-invoke, stage/in-review

#608 Adding region parameter
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/cli_common/options.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/lib/local_lambda.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/local/start_lambda/test_cli.py
Labels: area/lambda-invoke, area/local/start-api, area/local/start-lambda

#610 Documentation Suggestion: Update README with clarification on --env-vars usage
  docs/advanced_usage.rst
Labels: area/docs, stage/accepted
