Repository aws/aws-sam-cli, pull requests merged in 2018-05, with the labels that each got.

#401 Enhance the .NET example
  README.rst
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/README.md
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/Solution.sln
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/build.cake
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/build.ps1
  samcli/local/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/build.sh
Labels: stage/in-progress

#398 Allow for case insensitve header names
  samcli/local/apigw/service.py
  tests/functional/function_code.py
  tests/functional/local/apigw/test_service.py
  tests/unit/local/apigw/test_service.py
Labels: stage/in-progress

#444 Fix download a swagger file from given S3 location
  samcli/commands/local/lib/swagger/reader.py
  tests/unit/commands/local/lib/swagger/test_reader.py
Labels: stage/accepted

#405 fix: Value of QueryString in the API event should only be a string
  samcli/local/apigw/service.py
  tests/functional/local/apigw/test_service.py
  tests/integration/local/start_api/test_start_api.py
  tests/unit/local/apigw/test_service.py
Labels: stage/accepted

#416 docs: remove broken links to sample code.
  README.rst
Labels: area/docs, stage/accepted, type/documentation
