Repository aws/aws-sam-cli, pull requests merged in 2018-10, with the labels that each got.

#675 fix: raise error for invalid environment variables file
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/lib/exceptions.py
  samcli/commands/local/lib/local_lambda.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/local/start_lambda/test_cli.py
Labels: area/lambda-invoke, area/local/start-api, area/local/start-lambda, stage/in-progress

#693 Update installation.rst
  docs/installation.rst
Labels: area/docs, area/ide

#694 Explain how to debug Python functions using VS Code
  docs/usage.rst
Labels: area/debugging, area/docs, area/ide, stage/in-progress

#704 fix: correct launch.json for node js debugging through vs code
  docs/usage.rst
Labels: area/debugging, area/docs, area/ide, stage/in-progress

#699 Updated isBase64Encoded value to bool as defined in documentation
  samcli/commands/local/lib/generated_sample_events/events/apigateway/AwsProxy.json
  tests/integration/local/start_lambda/test_start_lambda.py
Labels: area/local/generate-event, stage/in-progress

#670 update installation.rst
  docs/installation.rst
Labels: area/docs, area/installation, stage/in-progress
