Repository aws/aws-sam-cli, pull requests merged in 2018-06, with the labels that each got.

#443 Fixes github clone url in README.rst
  README.rst
Labels: stage/accepted

#446 feat: Python3 support
  requirements/dev.txt
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/lib/swagger/reader.py
  samcli/commands/validate/lib/sam_template_validator.py
  samcli/commands/validate/validate.py
  samcli/lib/samlib/wrapper.py
  samcli/local/apigw/service.py
  tests/functional/commands/local/lib/test_local_lambda.py
  tests/functional/init/test_generate_project.py
  tests/functional/local/apigw/test_service.py
  tests/functional/local/docker/test_lambda_container.py
  tests/functional/local/lambdafn/test_runtime.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/local/start_api/test_start_api.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/lib/swagger/test_reader.py
  tests/unit/commands/local/lib/test_sam_api_provider.py
  tests/unit/local/apigw/test_service.py
  tests/unit/local/docker/test_container.py
Labels: stage/in-progress

#464 fix: Preserve file permissions when decompressing a zip file
  samcli/local/lambdafn/runtime.py
  samcli/local/lambdafn/zip.py
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/runtimes/__init__.py
  tests/integration/local/invoke/runtimes/test_with_runtime_zips.py
  tests/integration/testdata/invoke/runtimes/go1.x/main.go
  tests/integration/testdata/invoke/runtimes/go1.x/main.zip
  tests/integration/testdata/invoke/runtimes/java8/pom.xml
  tests/integration/testdata/invoke/runtimes/java8/src/main/java/helloworld/App.java
  tests/integration/testdata/invoke/runtimes/template.yaml
  tests/unit/local/lambdafn/test_runtime.py
  tests/unit/local/lambdafn/test_zip.py
Labels: stage/in-review

#419 Prevent form data from being consumed by Flask
  samcli/local/apigw/service.py
  tests/functional/local/apigw/test_service.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/template.yaml
  tests/unit/local/apigw/test_service.py
Labels: area/local/start-api, stage/in-progress

#471 Add missing 'version' field to scheduled event generator
  samcli/commands/local/lib/events.py
  tests/unit/commands/local/lib/test_events.py
Labels: area/local/generate-event, stage/accepted

#452 feat: README clean up on installation, menu and formatting
  README.rst
Labels: stage/in-progress

#499 Remove docs about re-using Docker container
  docs/running_and_debugging_serverless_applications_locally.rst
Labels: stage/accepted, type/documentation
