Repository aws/aws-sam-cli, pull requests merged in 2019-12, with the labels that each got.

#1494 fix: Cache AWS Creds instead of getting a Session on every invoke
  samcli/commands/local/lib/local_lambda.py
  tests/unit/commands/local/lib/test_local_lambda.py
Labels: area/lambda-invoke, area/local/start-api, area/local/start-lambda, type/bug

#1642 fix(start-lambda): Fix for stackTrace not returned in new Lambda containers.
  samcli/commands/deploy/command.py
  samcli/local/services/base_local_service.py
  tests/unit/local/services/test_base_local_service.py
Labels: area/local/start-lambda, stage/accepted

#1505 feat: Remove nodejs6.10 init template
  samcli/local/common/runtime_template.py
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/.gitignore
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/LICENSE
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/README.md
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/cookiecutter.json
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/setup.cfg
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/{{cookiecutter.project_name}}/.gitignore
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/{{cookiecutter.project_name}}/README.md
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/{{cookiecutter.project_name}}/event.json
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/{{cookiecutter.project_name}}/hello-world/.npmignore
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/{{cookiecutter.project_name}}/hello-world/app-deps.js
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/{{cookiecutter.project_name}}/hello-world/app.js
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/{{cookiecutter.project_name}}/hello-world/package.json
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/{{cookiecutter.project_name}}/hello-world/tests/unit/test-handler.js
  samcli/local/init/templates/cookiecutter-aws-sam-hello-nodejs6/{{cookiecutter.project_name}}/template.yaml
Labels: area/init, stage/accepted

#1691 chore: Version bump to 0.39.0
  samcli/__init__.py
Labels: area/version

#1519 chore: Run make pr on Python3.8
  appveyor.yml
  requirements/base.txt
  samcli/settings/__init__.py
  setup.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: area/distribution
