Repository aws/aws-sam-cli, pull requests merged in 2019-11, with the labels that each got.

#1515 fix: Move validation of timeout is an int further down the stack
  requirements/base.txt
  samcli/commands/local/lib/sam_function_provider.py
  samcli/local/lambdafn/config.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/local/lambdafn/test_config.py
Labels: stage/waiting-for-release

#1518 chore: Simplify how timeouts are casted to an int
  samcli/local/lambdafn/config.py
Labels: area/lambda-invoke, area/local/start-api, area/local/start-lambda, area/refactor

#1455 Deploy off aws cli
  .pylintrc
  samcli/cli/types.py
  samcli/commands/_utils/custom_options/__init__.py
  samcli/commands/_utils/custom_options/option_nargs.py
  samcli/commands/_utils/options.py
  samcli/commands/_utils/table_print.py
  samcli/commands/deploy/__init__.py
  samcli/commands/deploy/command.py
  samcli/commands/deploy/deploy_context.py
  samcli/commands/deploy/exceptions.py
  samcli/lib/deploy/__init__.py
  samcli/lib/deploy/deployer.py
  samcli/lib/samlib/cloudformation_command.py
  samcli/lib/utils/time.py
  tests/integration/deploy/__init__.py
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/package_integ_base.py
  tests/integration/testdata/package/aws-serverless-function.yaml
  tests/regression/deploy/__init__.py
  tests/regression/deploy/regression_deploy_base.py
  tests/regression/deploy/test_deploy_regression.py
  tests/unit/cli/test_types.py
  tests/unit/commands/_utils/custom_options/__init__.py
  tests/unit/commands/_utils/custom_options/test_option_nargs.py
  tests/unit/commands/_utils/test_table_print.py
  tests/unit/commands/deploy/__init__.py
  tests/unit/commands/deploy/test_command.py
  tests/unit/commands/deploy/test_deploy_context.py
  tests/unit/commands/test_deploy.py
  tests/unit/lib/deploy/__init__.py
  tests/unit/lib/deploy/test_deployer.py
  tests/unit/lib/samlib/test_cloudformation_command.py
  tests/unit/lib/utils/test_time.py
Labels: area/deploy, type/feature

#1503 design: samconfig
  designs/sam-config.md
  docs/sam-config-docs.md
Labels: type/design

#1523 chore: Bump version to 0.31.1
  samcli/__init__.py
Labels: area/distribution

#1520 Release v0.31.1
  Makefile
  appveyor-windows-build-java-container.yml
  appveyor-windows-build-java-inprocess.yml
  appveyor-windows-build-ruby.yml
  requirements/base.txt
  samcli/__init__.py
  samcli/commands/init/__init__.py
  samcli/commands/local/lib/sam_function_provider.py
  samcli/local/lambdafn/config.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/init/test_init_command.py
  tests/integration/testdata/package/aws-elasticbeanstalk-applicationversion.yaml
  tests/integration/testdata/package/sourcebundle.zip
  tests/regression/package/regression_package_base.py
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/local/lambdafn/test_config.py
Labels: area/distribution

#1502 feat: configuration file for sam cli commands
  requirements/base.txt
  requirements/isolated.txt
  samcli/cli/cli_config_file.py
  samcli/cli/types.py
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/deploy/command.py
  samcli/commands/init/__init__.py
  samcli/commands/local/generate_event/event_generation.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/logs/command.py
  samcli/commands/package/command.py
  samcli/commands/publish/command.py
  samcli/commands/validate/validate.py
  tests/unit/cli/test_cli_config_file.py
  tests/unit/cli/test_types.py
  tests/unit/commands/_utils/test_options.py
  tests/unit/commands/local/generate_event/test_event_generation.py
Labels: area/sam-config

#1521 design: `sam deploy` also packages built artifacts
  designs/package_during_deploy.md
Labels: area/deploy, area/package, type/design

#1526 Managed S3 Bucket via optional bootstrap command
  designs/sam_setup_cmd.md
  samcli/cli/command.py
  samcli/commands/bootstrap/__init__.py
  samcli/commands/bootstrap/command.py
  samcli/lib/bootstrap/__init__.py
  samcli/lib/bootstrap/bootstrap.py
  tests/unit/lib/bootstrap/test_bootstrap.py
Labels: type/feature
