Repository aws/aws-sam-cli, pull requests merged in 2020-10, with the labels that each got.

#2304 Upgrade dependency (pylint)
  .pylintrc
  requirements/base.txt
  requirements/dev.txt
  samcli/cli/cli_config_file.py
  samcli/cli/command.py
  samcli/cli/context.py
  samcli/commands/_utils/custom_options/option_nargs.py
  samcli/commands/_utils/template.py
  samcli/commands/bootstrap/exceptions.py
  samcli/commands/build/command.py
  samcli/commands/deploy/exceptions.py
  samcli/commands/deploy/guided_config.py
  samcli/commands/deploy/guided_context.py
  samcli/commands/init/__init__.py
  samcli/commands/init/init_generator.py
  samcli/commands/init/init_templates.py
  samcli/commands/init/interactive_init_flow.py
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/generate_event/event_generation.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/lib/local_lambda.py
  samcli/commands/local/lib/swagger/reader.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/logs/logs_context.py
  samcli/commands/package/exceptions.py
  samcli/commands/package/package_context.py
  samcli/commands/publish/command.py
  samcli/commands/validate/lib/sam_template_validator.py
  samcli/commands/validate/validate.py
  samcli/lib/bootstrap/bootstrap.py
  samcli/lib/build/app_builder.py
  samcli/lib/build/workflow_config.py
  samcli/lib/deploy/deployer.py
  samcli/lib/init/__init__.py
  samcli/lib/init/arbitrary_project.py
  samcli/lib/intrinsic_resolver/intrinsic_property_resolver.py
  samcli/lib/package/s3_uploader.py
  samcli/lib/providers/exceptions.py
  samcli/lib/providers/provider.py
  samcli/lib/samlib/local_uri_plugin.py
  samcli/lib/samlib/wrapper.py
  samcli/lib/schemas/schemas_api_caller.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/docker/lambda_build_container.py
  samcli/local/docker/lambda_container.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  samcli/local/docker/manager.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/lambdafn/config.py
  samcli/local/layers/layer_downloader.py
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/package_integ_base.py
  tests/integration/package/test_package_command.py
  tests/integration/publish/test_command_integ.py
  tests/integration/telemetry/integ_base.py
  tests/regression/deploy/test_deploy_regression.py
  tests/regression/package/test_package_regression.py
Labels: dependencies

#1942 Support running HttpApi locally
  samcli/commands/local/lib/swagger/parser.py
  samcli/lib/providers/api_collector.py
  samcli/lib/providers/cfn_api_provider.py
  samcli/lib/providers/cfn_base_api_provider.py
  samcli/lib/providers/sam_api_provider.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/events/api_event.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/cfn-http-api-with-normal-and-default-routes.yaml
  tests/integration/testdata/start_api/cfn-http-api-with-swagger-body.yaml
  tests/integration/testdata/start_api/cfn-quick-created-http-api-with-default-route.yaml
  tests/integration/testdata/start_api/cfn-quick-created-http-api-with-one-route.yaml
  tests/integration/testdata/start_api/swagger-template-http-api.yaml
  tests/integration/testdata/start_api/template-http-api.yaml
  tests/unit/commands/local/lib/swagger/test_parser.py
  tests/unit/commands/local/lib/test_cfn_api_provider.py
  tests/unit/commands/local/lib/test_sam_api_provider.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/events/test_api_event.py
Labels: stage/in-progress

#2316 fix: fail on invalid config
  samcli/cli/cli_config_file.py
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/testdata/package/samconfig-invalid-syntax.toml
  tests/unit/cli/test_cli_config_file.py
Labels: type/bug

#2193 Fix: Missing Unix Permission Bits for Artifact ZIP Created in Windows
  samcli/lib/package/artifact_exporter.py
  tests/unit/lib/package/test_artifact_exporter.py
Labels: platform/windows, type/bug

#2138 Fix: relpath Fails with Different Drives
  samcli/lib/build/app_builder.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: platform/windows, type/bug

#2305 Upgrade base & dev Dependences except pylint
  pytest.ini
  requirements/base.txt
  requirements/dev.txt
  requirements/reproducible-linux.txt
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/publish/test_command_integ.py
  tests/integration/testdata/publish/metadata_create_app_with_readme_body.json
  tests/integration/testdata/publish/template_create_app_with_license_body.yaml
  tests/integration/testdata/publish/template_create_app_with_readme_body.yaml
Labels: dependencies
