Repository aws/aws-sam-cli, pull requests merged in 2020-03, with the labels that each got.

#1215 Use function name instead of logical id local lambda
  DEVELOPMENT_GUIDE.md
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/lib/local_lambda.py
  samcli/lib/intrinsic_resolver/intrinsics_symbol_table.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/local/start_lambda/test_start_lambda.py
  tests/integration/testdata/invoke/template.yml
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/lib/intrinsic_resolver/test_intrinsic_resolver.py
  tests/unit/lib/intrinsic_resolver/test_intrinsics_symbol_table.py
Labels: area/lambda-invoke, type/feature

#1495 Match local APIG API slashes behavior to AWS APIG
  samcli/local/apigw/local_apigw_service.py
  tests/integration/local/start_api/test_start_api.py
Labels: area/local/start-api

#1853 add missing --no-confirm-changeset option
  samcli/commands/deploy/command.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/package_integ_base.py
Labels: area/deploy
