Repository aws/aws-sam-cli, pull requests merged in 2021-06, with the labels that each got.

#2924 fix: Windows default template validation integration test
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#2912 Enabled ability to provide tags as list in samconfig.toml file
  samcli/cli/types.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/testdata/package/samconfig-tags-list.toml
  tests/integration/testdata/package/samconfig-tags-string.toml
  tests/unit/cli/test_types.py
Labels: pr/internal

#2932 fix: Add configparser to hiddenimports to resolve dependency issue from botocore in PyInstaller
  installer/pyinstaller/hook-samcli.py
Labels: pr/internal

#2933 Revert "Enabled ability to provide tags as list in samconfig.toml file"
  samcli/cli/types.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/testdata/package/samconfig-tags-list.toml
  tests/integration/testdata/package/samconfig-tags-string.toml
  tests/unit/cli/test_types.py
Labels: pr/internal

#2929 chore: Update requests to 2.25.1 to remove the locking on urllib3 to 1.25
  installer/assets/THIRD-PARTY-LICENSES
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#2940 test: Fix the integration validate tests on Windows
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#2884 resolve pseudo region in build amd deploy comands
  samcli/commands/build/build_context.py
  samcli/commands/build/command.py
  samcli/commands/deploy/deploy_context.py
  samcli/commands/deploy/guided_context.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/testdata/buildcmd/aws-serverless-application-with-application-id-map.yaml
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/buildcmd/test_command.py
  tests/unit/commands/deploy/test_deploy_context.py
  tests/unit/commands/deploy/test_guided_context.py
  tests/unit/commands/samconfig/test_samconfig.py
Labels: pr/internal

#2857 fix: Catch more errors when building an image
  samcli/local/docker/lambda_image.py
  tests/integration/local/invoke/test_integration_cli_images.py
  tests/integration/testdata/invoke/template_image.yaml
  tests/unit/local/docker/test_lambda_image.py
Labels: pr/internal, stage/pr-approved

#2945 chore: fix canary issue
  tests/integration/deploy/test_deploy_command.py
Labels: pr/internal

#2946 feat: Increase awareness of same file warning during package
  samcli/lib/package/s3_uploader.py
Labels: pr/internal

#2941 fix: Allow the base64Encoded field in REST Api, skip validation of unknown fields and validate missing statusCode for Http Api
  samcli/local/apigw/local_apigw_service.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/binarydata.gif
  tests/integration/testdata/start_api/image_package_type/main.py
  tests/integration/testdata/start_api/main.py
  tests/integration/testdata/start_api/swagger-template.yaml
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: pr/internal

#2943 fix: pass copy of environment variables for keeping cache valid
  samcli/lib/build/build_strategy.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/lib/build_module/test_build_strategy.py
Labels: pr/internal

#2935 fix: Skip build of Docker image if ImageUri is a valid ECR URL (#2934)
  samcli/commands/deploy/guided_context.py
  samcli/lib/package/ecr_utils.py
  samcli/lib/providers/sam_base_provider.py
  samcli/lib/providers/sam_function_provider.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
Labels: pr/external
