Repository aws/aws-sam-cli, pull requests merged in 2021-11, with the labels that each got.

#3445 fix: Bumped Minimal boto3 Version to 1.18.32
  requirements/base.txt
Labels: pr/internal

#3418 Timetravel seems unlikely
  designs/resource_metadata_overriding.md
Labels: pr/external

#3390 fix: OPTIONS Requests Break in sam local for CDK Cors Configs
  samcli/lib/providers/cfn_api_provider.py
  samcli/lib/providers/cfn_base_api_provider.py
  samcli/lib/providers/provider.py
  tests/integration/local/start_api/test_start_api_cdk.py
  tests/integration/testdata/start_api/cdk/python/aws-api-resource/aws_lambda_function/aws_lambda_function_stack.py
  tests/unit/commands/local/lib/test_cfn_api_provider.py
Labels: pr/internal

#3452 Chore: Add Auto PR labeler
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: pr/internal

#3457 fix: Remove CI Scripts from PyInstaller Package
  installer/pyinstaller/build-linux.sh
Labels: pr/internal

#3455 fix: use common method for client generation in sync flows
  samcli/lib/sync/flows/alias_version_sync_flow.py
  samcli/lib/sync/flows/function_sync_flow.py
  samcli/lib/sync/flows/http_api_sync_flow.py
  samcli/lib/sync/flows/image_function_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/rest_api_sync_flow.py
  samcli/lib/sync/flows/stepfunctions_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/sync/sync_flow.py
  samcli/lib/utils/boto_utils.py
  tests/unit/lib/sync/flows/test_alias_version_sync_flow.py
  tests/unit/lib/sync/flows/test_function_sync_flow.py
  tests/unit/lib/sync/flows/test_http_api_sync_flow.py
  tests/unit/lib/sync/flows/test_image_function_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_rest_api_sync_flow.py
  tests/unit/lib/sync/flows/test_stepfunctions_sync_flow.py
  tests/unit/lib/sync/flows/test_zip_function_sync_flow.py
  tests/unit/lib/sync/test_sync_flow.py
  tests/unit/lib/utils/test_boto_utils.py
Labels: pr/internal

#3469 Only add labels on open of PRs
  .github/workflows/README.md
  .github/workflows/pr-labeler.yml
  requirements/dev.txt
  samcli/commands/init/interactive_event_bridge_flow.py
  samcli/commands/pipeline/init/pipeline_templates_manifest.py
  samcli/lib/cookiecutter/question.py
  samcli/lib/pipeline/bootstrap/resource.py
Labels: area/init, pr/internal, area/pipeline

#3464 chore: add accelerate commands into next command you can use section
  samcli/commands/build/build_context.py
  samcli/commands/init/interactive_init_flow.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/logs/command.py
Labels: area/init, area/logs, area/build, area/local/invoke, pr/internal

#3472 fix: validate sfn logging configuration
  samcli/lib/observability/cw_logs/cw_log_group_provider.py
  tests/unit/lib/observability/cw_logs/test_cw_log_group_provider.py
Labels: pr/internal

#3482 Revert "chore: add accelerate commands into next command you can use section"
  samcli/commands/build/build_context.py
  samcli/commands/init/interactive_init_flow.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/logs/command.py
Labels: area/init, area/logs, area/build, area/local/invoke, pr/internal

#3483 chore: bump aws-sam-translator version to 1.41.0
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#3481 chore: bump version 1.36.0
  samcli/__init__.py
Labels: pr/internal

#3484 Revert "chore: bump aws-sam-translator version to 1.41.0"
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#3485 Revert "chore: bump version 1.36.0"
  samcli/__init__.py
Labels: pr/internal

#3471 fix: Correcting workflow for http and rest api code syncs
  samcli/lib/sync/flows/http_api_sync_flow.py
  samcli/lib/sync/flows/rest_api_sync_flow.py
  samcli/lib/utils/resources.py
  tests/unit/lib/sync/flows/test_http_api_sync_flow.py
  tests/unit/lib/sync/flows/test_rest_api_sync_flow.py
Labels: pr/internal, area/sync

#3327 feat: Invoke image option for local image command
  samcli/commands/_utils/option_value_processor.py
  samcli/commands/build/command.py
  samcli/commands/build/exceptions.py
  samcli/commands/exceptions.py
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/cli_common/options.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/local/docker/lambda_container.py
  samcli/local/docker/lambda_image.py
  samcli/local/lambdafn/runtime.py
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/local/start_lambda/test_start_lambda.py
  tests/unit/commands/_utils/test_value_parser.py
  tests/unit/commands/buildcmd/test_command.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/local/start_lambda/test_cli.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_image.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#3477 fix: Skip Over .aws-sam Folder
  samcli/lib/utils/resource_trigger.py
  tests/unit/lib/utils/test_resource_trigger.py
Labels: pr/internal

#3475 fix: Experimental Context for Sync
  samcli/commands/_utils/experimental.py
  samcli/commands/sync/command.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/logs/test_command.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/observability/cw_logs/test_cw_log_group_provider.py
Labels: pr/internal, area/sync

#3489 chore: add accelerate commands for next commands to try
  samcli/commands/build/build_context.py
  samcli/commands/init/interactive_init_flow.py
  samcli/commands/logs/command.py
Labels: area/init, area/logs, area/build, pr/internal

#3490 chore: bump Transform version to 1.42.0
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#3488 chore: bump version 1.36.0
  samcli/__init__.py
Labels: pr/internal

#3491 fix: Use docker --version Instead due to AppVeyor Issue
  appveyor.yml
Labels: pr/internal

#3423 feat: Adding support for --no-progressbar during ECR uploads
  samcli/commands/package/package_context.py
  samcli/lib/package/ecr_uploader.py
Labels: area/package, area/init, pr/external, area/pipeline
