Repository aws/aws-sam-cli, pull requests merged in 2021-09, with the labels that each got.

#3139 Fix: Pass a copy of environment variables when building layers
  samcli/lib/build/build_graph.py
  samcli/lib/build/build_strategy.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/lib/build_module/test_build_strategy.py
Labels: stage/accepted, area/build, stage/pr, stage/pr-approved, pr/external

#3018 fix: rapid regrex does not fit extended version number
  samcli/local/docker/lambda_image.py
  tests/unit/local/docker/test_lambda_image.py
Labels: pr/internal

#3057 feat: enable Go build image
  appveyor-windows-build-go.yml
  samcli/lib/build/workflow_config.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/Go/.gitignore
  tests/integration/testdata/buildcmd/Go/go.sum
Labels: pr/internal

#2458 Set operationName in local API request context
  samcli/commands/local/lib/swagger/parser.py
  samcli/lib/providers/api_collector.py
  samcli/lib/providers/cfn_api_provider.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/events/api_event.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/cfn-http-api-and-rest-api-gateways.yaml
  tests/integration/testdata/start_api/cfn-http-api-with-swagger-body.yaml
  tests/integration/testdata/start_api/main.py
  tests/integration/testdata/start_api/swagger-rest-api-template.yaml
  tests/integration/testdata/start_api/swagger-template-http-api.yaml
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: pr/external

#3286 test: Add integrations for CDK projects local commands (local invoke, local start-lambda, local start-api)
  samcli/lib/intrinsic_resolver/intrinsic_property_resolver.py
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/test_integrations_cli_cdk.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api_cdk.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/local/start_lambda/test_start_lambda_cdk.py
  tests/integration/testdata/invoke/cdk/python/aws-lambda-function/aws_lambda_function/aws_lambda_function_stack.py
  tests/integration/testdata/invoke/cdk/python/aws-lambda-function/docker_lambda_code/Dockerfile
  tests/integration/testdata/invoke/cdk/python/aws-lambda-function/docker_lambda_code/app.js
  tests/integration/testdata/invoke/cdk/python/aws-lambda-function/docker_lambda_code/package.json
  tests/integration/testdata/invoke/cdk/python/aws-lambda-function/lambda_code/app.py
  tests/integration/testdata/start_api/cdk/python/aws-api-resource/.gitignore
  tests/integration/testdata/start_api/cdk/python/aws-api-resource/app.py
  tests/integration/testdata/start_api/cdk/python/aws-api-resource/aws_lambda_function/__init__.py
  tests/integration/testdata/start_api/cdk/python/aws-api-resource/aws_lambda_function/aws_lambda_function_stack.py
  tests/integration/testdata/start_api/cdk/python/aws-api-resource/cdk.json
  tests/integration/testdata/start_api/cdk/python/aws-api-resource/lambda_code/__init__.py
  tests/integration/testdata/start_api/cdk/python/aws-api-resource/lambda_code/app.py
  tests/integration/testdata/start_api/cdk/python/aws-api-resource/lambda_code/requirements.txt
  tests/integration/testdata/start_api/cdk/python/aws-lambda-function/.gitignore
  tests/integration/testdata/start_api/cdk/python/aws-lambda-function/app.py
  tests/integration/testdata/start_api/cdk/python/aws-lambda-function/aws_lambda_function/__init__.py
  tests/integration/testdata/start_api/cdk/python/aws-lambda-function/aws_lambda_function/aws_lambda_function_stack.py
  tests/integration/testdata/start_api/cdk/python/aws-lambda-function/cdk.json
  tests/integration/testdata/start_api/cdk/python/aws-lambda-function/lambda_code/__init__.py
  tests/integration/testdata/start_api/cdk/python/aws-lambda-function/lambda_code/app.py
  tests/integration/testdata/start_api/cdk/python/aws-lambda-function/lambda_code/requirements.txt
Labels: pr/internal

#3297 feat: Support for CFN plugin read implementation (not wired to existing logic)
  samcli/commands/_utils/resources.py
  samcli/lib/iac/__init__.py
  samcli/lib/iac/cfn/cfn_iac.py
  samcli/lib/iac/constants.py
  samcli/lib/iac/plugins_interfaces.py
  samcli/lib/providers/sam_base_provider.py
  samcli/lib/providers/sam_stack_provider.py
  tests/unit/lib/iac/__init__.py
  tests/unit/lib/iac/cfn/__init__.py
  tests/unit/lib/iac/cfn/test_cfn_iac_implementation.py
  tests/unit/lib/iac/cfn/test_data/nested_stack.yaml
  tests/unit/lib/iac/cfn/test_data/stack.yaml
  tests/unit/lib/iac/test_iac_factory.py
  tests/unit/lib/iac/test_iac_implementations.py
Labels: pr/internal

#3273 Refactor Iac project command line validations
  samcli/commands/_utils/exceptions.py
  samcli/commands/_utils/iac_project_validator.py
  samcli/commands/_utils/iac_validations.py
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/deploy/command.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/package/command.py
  samcli/commands/package/exceptions.py
  samcli/commands/package/utils.py
  samcli/commands/package/validations.py
  samcli/lib/cli_validation/__init__.py
  samcli/lib/cli_validation/image_repository_validation.py
  samcli/lib/iac/utils/helpers.py
  samcli/lib/iac/utils/iac_project_resolver.py
  tests/integration/testdata/invoke/cdk/python/aws-lambda-function/aws_lambda_function/aws_lambda_function_stack.py
  tests/integration/testdata/invoke/cdk/python/aws-lambda-function/lambda_code/app.py
  tests/unit/commands/_utils/test_iac_validations.py
  tests/unit/commands/_utils/test_options.py
  tests/unit/commands/_utils/test_project_validator.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/cli_validation/test_image_repository_validation.py
  tests/unit/lib/iac/test_helpers.py
  tests/unit/lib/iac/test_project_reslover.py
Labels: pr/internal

#3280 fix: ECR URI for China regions
  samcli/lib/bootstrap/companion_stack/data_types.py
  tests/unit/lib/bootstrap/companion_stack/test_data_types.py
Labels: pr/internal

#3300 fix: don't pull partial xray traces
  samcli/lib/observability/xray_traces/xray_event_puller.py
  tests/unit/lib/observability/xray_traces/test_xray_event_puller.py
Labels: pr/internal
