Repository aws/aws-sam-cli, pull requests merged in 2021-12, with the labels that each got.

#3413 feat: Adding support for s3 arn in sam package and sam deploy
  samcli/commands/_utils/options.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/test_package_command_zip.py
  tests/unit/commands/_utils/test_options.py
Labels: pr/external

#3480 Resolve S3 bucket for AWS::ApiGatewayV2::Api resource
  samcli/lib/package/packageable_resources.py
  samcli/lib/utils/resources.py
  tests/integration/delete/test_delete_command.py
  tests/integration/package/test_package_command_zip.py
  tests/integration/testdata/package/aws-apigatewayv2-httpapi.yaml
  tests/regression/package/test_package_regression.py
Labels: pr/internal

#3001 fix: Handle S3 URL from AWS (cn)
  samcli/lib/package/utils.py
  tests/unit/lib/package/test_utils.py
Labels: pr/internal

#2953 #2948 - Make the bootstrapped S3 bucket compliant with SecurityHub rules. (S3…
  samcli/lib/bootstrap/bootstrap.py
Labels: pr/external

#3492 feat: Consume image asset metadata from CDK synth
  appveyor-windows-build-nodejs.yml
  samcli/lib/samlib/resource_metadata_normalizer.py
  tests/integration/local/invoke/invoke_cdk_templates.py
  tests/integration/testdata/invoke/cdk/cdk_template.yaml
  tests/integration/testdata/invoke/cdk/lambda_code/Dockerfile
  tests/integration/testdata/invoke/cdk/lambda_code/app.js
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
Labels: pr/internal

#3499 feat: Detect CDK project and add warning message for unsupported commands
  samcli/commands/_utils/cdk_support_decorators.py
  samcli/commands/deploy/command.py
  samcli/commands/package/command.py
  samcli/commands/sync/command.py
  samcli/lib/iac/cdk/utils.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/test_package_command_zip.py
  tests/integration/testdata/package/aws-serverless-function-cdk.yaml
  tests/unit/commands/_utils/test_cdk_support_decorators.py
  tests/unit/lib/iac/cdk/__init__.py
  tests/unit/lib/iac/cdk/test_cdk_utils.py
  tests/unit/lib/iac/cdk/test_data/cdk_template_metadata_path.yaml
  tests/unit/lib/iac/cdk/test_data/non_cdk_cfn.yaml
  tests/unit/lib/iac/cdk/test_data/resource_and_path_metadata.yaml
  tests/unit/lib/iac/cdk/test_data/resource_metadata.yaml
Labels: area/package, area/deploy, pr/internal, area/sync

#3507 fix: always combine dependencies for layer build
  samcli/lib/build/app_builder.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#3498 Add unique id for customer defined cdk functions
  samcli/commands/init/__init__.py
  samcli/commands/local/lib/local_lambda.py
  samcli/lib/build/app_builder.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  tests/integration/local/invoke/test_invoke_cdk_templates_with_function_id.py
  tests/integration/testdata/invoke/cdk/cdk_function_id_template.yaml
  tests/integration/testdata/invoke/cdk/lambda_code/app.js
  tests/integration/testdata/invoke/cdk/nested_templates/cdk_function_id_nested_template_A.yaml
  tests/integration/testdata/invoke/cdk/nested_templates/cdk_function_id_nested_template_B.yaml
  tests/integration/testdata/invoke/cdk/nested_templates/cdk_function_id_parent_template.yaml
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/local/lib/test_provider.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_graph.py
Labels: pr/internal

#3519 Revert "feat: Adding support for s3 arn in sam package and sam deploy…
  samcli/commands/_utils/options.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/test_package_command_zip.py
  tests/unit/commands/_utils/test_options.py
Labels: pr/internal

#3517 More integration test cases on cdk nested stacks
  tests/integration/local/invoke/test_invoke_cdk_templates_with_function_id.py
  tests/integration/testdata/invoke/cdk/lambda_code/app.js
  tests/integration/testdata/invoke/cdk/nested_templates/cdk_function_id_nested_template_A.yaml
  tests/integration/testdata/invoke/cdk/nested_templates/cdk_function_id_nested_template_B.yaml
  tests/integration/testdata/invoke/cdk/nested_templates/cdk_function_id_parent_template.yaml
Labels: area/init, area/build, pr/internal

#3518 Add new metrics projectType
  samcli/lib/telemetry/metric.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/integration/testdata/telemetry/cdk/cdk_template.yaml
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#3495 chore: Integration tests for sync command infrastructure sync
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/package_integ_base.py
  tests/integration/sync/sync_integ_base.py
  tests/integration/sync/test_sync_command.py
  tests/integration/testdata/sync/infra/after/Python/apigateway/definition.json
  tests/integration/testdata/sync/infra/after/Python/apigateway2/definition.yaml
  tests/integration/testdata/sync/infra/after/Python/function/__init__.py
  tests/integration/testdata/sync/infra/after/Python/function/app.py
  tests/integration/testdata/sync/infra/after/Python/function/requirements.txt
  tests/integration/testdata/sync/infra/after/Python/layer/__init__.py
  tests/integration/testdata/sync/infra/after/Python/layer/layer_method.py
  tests/integration/testdata/sync/infra/after/Python/layer/requirements.txt
  tests/integration/testdata/sync/infra/after/Python/statemachine/function.asl.json
  tests/integration/testdata/sync/infra/after/Ruby/function/Gemfile
  tests/integration/testdata/sync/infra/after/Ruby/function/app.rb
  tests/integration/testdata/sync/infra/after/Ruby/layer/Gemfile
  tests/integration/testdata/sync/infra/after/Ruby/layer/layer.rb
  tests/integration/testdata/sync/infra/before/Python/apigateway/definition.json
  tests/integration/testdata/sync/infra/before/Python/apigateway2/definition.yaml
  tests/integration/testdata/sync/infra/before/Python/function/__init__.py
  tests/integration/testdata/sync/infra/before/Python/function/app.py
  tests/integration/testdata/sync/infra/before/Python/function/requirements.txt
  tests/integration/testdata/sync/infra/before/Python/layer/__init__.py
  tests/integration/testdata/sync/infra/before/Python/layer/layer_method.py
  tests/integration/testdata/sync/infra/before/Python/layer/requirements.txt
  tests/integration/testdata/sync/infra/before/Python/statemachine/function.asl.json
  tests/integration/testdata/sync/infra/before/Ruby/function/Gemfile
  tests/integration/testdata/sync/infra/before/Ruby/function/app.rb
  tests/integration/testdata/sync/infra/before/Ruby/layer/Gemfile
  tests/integration/testdata/sync/infra/before/Ruby/layer/layer.rb
  tests/integration/testdata/sync/infra/template-python-after.yaml
  tests/integration/testdata/sync/infra/template-python-before.yaml
  tests/integration/testdata/sync/infra/template-ruby-after.yaml
  tests/integration/testdata/sync/infra/template-ruby-before.yaml
Labels: pr/internal

#3533 Update PR 3226
  samcli/cli/types.py
  samcli/commands/deploy/guided_config.py
Labels: area/deploy, pr/internal

#3532 fix: Correction of integration tests for canary environments
  tests/integration/deploy/test_deploy_command.py
  tests/integration/testdata/sync/infra/after/Ruby/function/Gemfile
  tests/integration/testdata/sync/infra/after/Ruby/layer/Gemfile
  tests/integration/testdata/sync/infra/before/Ruby/function/Gemfile
  tests/integration/testdata/sync/infra/before/Ruby/layer/Gemfile
  tests/integration/testdata/sync/infra/template-ruby-after.yaml
  tests/integration/testdata/sync/infra/template-ruby-before.yaml
Labels: pr/internal

#3531 (fix) stop resolving relative paths for Function image URI
  samcli/commands/_utils/template.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/commands/_utils/test_template.py
Labels: pr/internal

#3410 feat: SAM Init interactive flow redesign
  samcli/commands/exceptions.py
  samcli/commands/init/__init__.py
  samcli/commands/init/init_templates.py
  samcli/commands/init/interactive_init_flow.py
  samcli/local/common/runtime_template.py
  tests/integration/init/schemas/schemas_test_data_setup.py
  tests/integration/init/schemas/test_init_with_schemas_command.py
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/init/test_manifest.json
  tests/unit/commands/init/test_templates.py
Labels: pr/internal

#3541 chore: bump aws-lambda-builders version to 1.10.0
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#3544 fix: accept AWS_PROXY as integration type
  samcli/commands/local/lib/swagger/parser.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/swagger-template.yaml
  tests/unit/commands/local/lib/swagger/test_parser.py
Labels: pr/internal

#3545 feat: add unsupported command to asm validate in case of CDK synthesized templates
  samcli/commands/validate/validate.py
  tests/integration/validate/test_validate_command.py
Labels: area/validate, pr/internal

#3529 fix: allow sam to deploy templates contain CFN Lambda Function resources with Image package type, and its code is local image uri.
  samcli/commands/build/build_context.py
  samcli/lib/build/app_builder.py
  samcli/lib/package/packageable_resources.py
  samcli/lib/utils/resources.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/testdata/buildcmd/template_cfn_local_prebuilt_image.yaml
  tests/integration/testdata/buildcmd/template_local_prebuilt_image.yaml
  tests/integration/testdata/package/aws-lambda-function-image-and-api.yaml
  tests/integration/testdata/package/aws-lambda-function-image.yaml
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#3546 fix: change the multiple functions warning message colour to yellow
  samcli/lib/providers/sam_function_provider.py
Labels: pr/internal

#3547 feat: support invoking lambda functions using function full_path
  samcli/local/lambda_service/local_lambda_invoke_service.py
  tests/integration/local/start_lambda/test_start_lambda.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#3543 feat: allow skip building function tagged to SkipBuild, and CDK bundled functions
  samcli/commands/_utils/template.py
  samcli/commands/build/build_context.py
  samcli/lib/providers/provider.py
  samcli/lib/samlib/resource_metadata_normalizer.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/PreBuiltPython/__init__.py
  tests/integration/testdata/buildcmd/PreBuiltPython/main.py
  tests/integration/testdata/buildcmd/asset.7023fd47c81480184154c6e0e870d6920c50e35d8fae977873016832e127ded9/__init__.py
  tests/integration/testdata/buildcmd/asset.7023fd47c81480184154c6e0e870d6920c50e35d8fae977873016832e127ded9/main.py
  tests/integration/testdata/buildcmd/cdk_v1_synthesized_template_function_construct_with_skip_build_metadata.json
  tests/integration/testdata/buildcmd/cdk_v1_synthesized_template_python_function_construct.json
  tests/integration/testdata/buildcmd/cdk_v2_synthesized_template_function_construct_with_skip_build_metadata.json
  tests/integration/testdata/buildcmd/cdk_v2_synthesized_template_python_function_construct.json
  tests/integration/testdata/buildcmd/template_cfn_function_flagged_to_skip_build.yaml
  tests/integration/testdata/buildcmd/template_function_flagged_to_skip_build.yaml
  tests/unit/commands/_utils/test_template.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/local/lib/test_provider.py
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
Labels: area/build, pr/internal

#3550 fix: Remove build dir
  build_dir/MyFunctionbf3066d1DepLayer/AWS_SAM_CLI_README
Labels: pr/internal

#3552 fix: use the correct content property for Lambda Layer Version
  samcli/lib/build/app_builder.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/layers-functions-template.yaml
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#3554 feat: add CDK synthesized templates support to sam deploy and package commands
  samcli/commands/_utils/template.py
  samcli/commands/package/package_context.py
  samcli/lib/package/artifact_exporter.py
  samcli/lib/package/ecr_uploader.py
  samcli/lib/package/image_utils.py
  samcli/lib/samlib/resource_metadata_normalizer.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/test_package_command_image.py
  tests/integration/package/test_package_command_zip.py
  tests/integration/testdata/package/asset.6598609927b272b36fdf01072092f9851ddcd1b41ba294f736ce77091f5cc456/Dockerfile
  tests/integration/testdata/package/asset.6598609927b272b36fdf01072092f9851ddcd1b41ba294f736ce77091f5cc456/__init__.py
  tests/integration/testdata/package/asset.6598609927b272b36fdf01072092f9851ddcd1b41ba294f736ce77091f5cc456/main.py
  tests/integration/testdata/package/asset.6598609927b272b36fdf01072092f9851ddcd1b41ba294f736ce77091f5cc456/requirements.txt
  tests/integration/testdata/package/asset.b998895901bf33127f2c9dce715854f8b35aa73fb7eb5245ba9721580bbe5837/__init__.py
  tests/integration/testdata/package/asset.b998895901bf33127f2c9dce715854f8b35aa73fb7eb5245ba9721580bbe5837/main.py
  tests/integration/testdata/package/asset.b998895901bf33127f2c9dce715854f8b35aa73fb7eb5245ba9721580bbe5837/requirements.txt
  tests/integration/testdata/package/aws-serverless-function-cdk.yaml
  tests/integration/testdata/package/aws-serverlessrepo-application.yaml
  tests/integration/testdata/package/cdk_v1_synthesized_template_image_functions.json
  tests/integration/testdata/package/cdk_v1_synthesized_template_zip_functions.json
  tests/unit/commands/_utils/test_template.py
  tests/unit/commands/package/test_package_context.py
  tests/unit/lib/package/test_artifact_exporter.py
  tests/unit/lib/package/test_image_utils.py
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
Labels: area/package, pr/internal

#3549 feat: allow invoking built CDK synthesized templates
  samcli/lib/build/app_builder.py
  samcli/lib/samlib/resource_metadata_normalizer.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/asset.6598609927b272b36fdf01072092f9851ddcd1b41ba294f736ce77091f5cc456/Dockerfile
  tests/integration/testdata/buildcmd/asset.6598609927b272b36fdf01072092f9851ddcd1b41ba294f736ce77091f5cc456/__init__.py
  tests/integration/testdata/buildcmd/asset.6598609927b272b36fdf01072092f9851ddcd1b41ba294f736ce77091f5cc456/main.py
  tests/integration/testdata/buildcmd/asset.6598609927b272b36fdf01072092f9851ddcd1b41ba294f736ce77091f5cc456/requirements.txt
  tests/integration/testdata/buildcmd/asset.b998895901bf33127f2c9dce715854f8b35aa73fb7eb5245ba9721580bbe5837/__init__.py
  tests/integration/testdata/buildcmd/asset.b998895901bf33127f2c9dce715854f8b35aa73fb7eb5245ba9721580bbe5837/main.py
  tests/integration/testdata/buildcmd/asset.b998895901bf33127f2c9dce715854f8b35aa73fb7eb5245ba9721580bbe5837/requirements.txt
  tests/integration/testdata/buildcmd/cdk_v1_synthesized_template_zip_image_functions.json
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
Labels: area/build, pr/internal
