Repository aws/aws-sam-cli, pull requests merged in 2022-10, with the labels that each got.

#4275 chore: separate CI jobs for deploy, package, delete and sync
  appveyor-ubuntu.yml
  appveyor-windows.yml
Labels: pr/internal

#4269 feat: implement function to construct Modules out of the terraform configuration
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#4272 Init fix
  README.md
  samcli/commands/init/interactive_init_flow.py
Labels: area/init, pr/external, stage/needs-triage

#4279 chore: bump version to 1.59.0
  samcli/__init__.py
Labels: pr/internal

#4280 feat: add _link_lambda_function_to_layer function stub
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
Labels: pr/internal

#4276 feat: skip sync confirmation for subsequent runs
  samcli/cli/global_config.py
  samcli/commands/sync/command.py
  tests/unit/cli/test_global_config.py
Labels: pr/internal, area/sync

#4273 feat: use watch and code flags at the same time
  samcli/commands/sync/command.py
  samcli/lib/sync/sync_flow_factory.py
  samcli/lib/sync/watch_manager.py
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/sync/code/before/template-python-code-only.yaml
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/sync/test_watch_manager.py
Labels: pr/internal, area/sync

#4286 chore: fix sam sync integ tests after latest changes
  tests/integration/sync/test_sync_watch.py
Labels: pr/internal

#4270 Feat/sam pipeline OIDC
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/commands/pipeline/bootstrap/cli.py
  samcli/commands/pipeline/bootstrap/guided_context.py
  samcli/commands/pipeline/bootstrap/oidc_config.py
  samcli/commands/pipeline/bootstrap/pipeline_oidc_provider.py
  samcli/commands/pipeline/init/interactive_init_flow.py
  samcli/lib/cookiecutter/template.py
  samcli/lib/pipeline/bootstrap/resource.py
  samcli/lib/pipeline/bootstrap/stage.py
  samcli/lib/pipeline/bootstrap/stage_resources.yaml
  samcli/lib/utils/managed_cloudformation_stack.py
  tests/integration/pipeline/test_bootstrap_command.py
  tests/integration/pipeline/test_init_command.py
  tests/unit/commands/pipeline/bootstrap/test_cli.py
  tests/unit/commands/pipeline/bootstrap/test_guided_context.py
  tests/unit/commands/pipeline/bootstrap/test_oidc_config.py
  tests/unit/commands/pipeline/init/test_initeractive_init_flow.py
  tests/unit/lib/cookiecutter/test_template.py
  tests/unit/lib/pipeline/bootstrap/test_environment.py
  tests/unit/lib/utils/test_managed_cloudformation_stack.py
Labels: pr/internal, area/pipeline

#4284 feat: implement linking lambda layers to function
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/lib/__init__.py
  samcli/hook_packages/terraform/lib/utils.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/lib/__init__.py
  tests/unit/hook_packages/terraform/lib/test_utils.py
Labels: pr/internal

#4302 chore: bump version to 1.60.0
  samcli/__init__.py
Labels: pr/internal

#4295 feat: Add logic for linking functions to layers
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: pr/internal

#4288 fix: Fixed requiring dep manager when using location flag
  samcli/commands/init/command.py
  tests/integration/init/test_init_command.py
  tests/unit/commands/init/test_non_interactive_mode.py
Labels: area/init, pr/internal

#4293 Update options.py help message
  samcli/commands/_utils/options.py
Labels: pr/external

#4306 Remove conflict test case
  tests/integration/pipeline/test_bootstrap_command.py
Labels: pr/internal

#4312 Fix integration test
  tests/integration/pipeline/test_bootstrap_command.py
Labels: pr/internal

#4313 chore: fix typo in sam local tests
  tests/integration/local/start_api/test_start_api.py
  tests/integration/local/start_lambda/test_start_lambda.py
  tests/integration/testdata/buildcmd/base-dir-image/template/child/template.yaml
  tests/integration/testdata/buildcmd/base-dir-image/template/template.yaml
  tests/integration/testdata/buildcmd/custom-build-function.yaml
  tests/integration/testdata/buildcmd/dedup-functions-image-template.yaml
  tests/integration/testdata/buildcmd/dedup-functions-template.yaml
  tests/integration/testdata/buildcmd/esbuild_templates/template_with_metadata_global_node_options.yaml
  tests/integration/testdata/buildcmd/esbuild_templates/template_with_metadata_node_options.yaml
  tests/integration/testdata/buildcmd/layers-functions-template.yaml
  tests/integration/testdata/buildcmd/many-functions-template.yaml
  tests/integration/testdata/buildcmd/many-more-functions-template.yaml
  tests/integration/testdata/buildcmd/nested-child-template-image.yaml
  tests/integration/testdata/buildcmd/nested-child-template.yaml
  tests/integration/testdata/buildcmd/nested-parent/nested-root-template-image.yaml
  tests/integration/testdata/buildcmd/nested-parent/nested-root-template.yaml
  tests/integration/testdata/buildcmd/nested-parent/template-parent.yaml
  tests/integration/testdata/buildcmd/template.yaml
  tests/integration/testdata/buildcmd/template_image.yaml
  tests/integration/testdata/buildcmd/template_with_architecture.yaml
  tests/integration/testdata/buildcmd/template_with_metadata.yaml
  tests/integration/testdata/start_api/image_package_type/template.yaml
Labels: pr/internal

#4311 test: Add integration test cases for building terraform projects with lambda layers support
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/artifacts/HelloWorldFunction/app.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/artifacts/HelloWorldFunction/requirements.txt
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/artifacts/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/artifacts/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/artifacts/layer2/lib.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/artifacts/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/lambda_function/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/lambda_layer/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/py_build.sh
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/artifacts/HelloWorldFunction/app.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/artifacts/HelloWorldFunction/requirements.txt
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/artifacts/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/artifacts/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/artifacts/layer2/lib.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/artifacts/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/lambda_function/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/lambda_layer/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/py_build.sh
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#4309 test: Add integration test cases for local testing terraform projects with lambda layers support
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/integration/local/invoke/layer_utils.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/lambda/lambda2/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/lambda/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/artifacts/HelloWorldFunction.zip
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/artifacts/simple_layer1.zip
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/artifacts/simple_layer2.zip
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/artifacts/simple_layer3.zip
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/artifacts/simple_layer4.zip
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/artifacts/simple_layer5.zip
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/const_layer/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/data_layer/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/lambda_function/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/lambda_layer/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/main.tf
Labels: pr/internal

#4321 fix: add `MaxAttempts` to `sam delete`
  samcli/commands/delete/exceptions.py
  samcli/lib/delete/cfn_utils.py
  tests/unit/lib/delete/test_cfn_utils.py
Labels: pr/internal, area/delete

#4323 feat: Update client-side telemetry
  samcli/lib/hook/hook_config.py
  samcli/lib/hook/hook_wrapper.py
  samcli/lib/telemetry/metric.py
  tests/unit/lib/hook/test_hook_wrapper.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#4322 fix: Update logging and removed tree command in test file
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/py_build.sh
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/py_build.sh
Labels: pr/internal

#4300 Get TrimGoPath from build properties
  samcli/lib/build/app_builder.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/external, stage/needs-triage

#4326 chore: Upgrade Click and Flask
  installer/assets/THIRD-PARTY-LICENSES
  requirements/base.txt
  requirements/dev.txt
  requirements/reproducible-linux.txt
  samcli/commands/_utils/click_mutex.py
  samcli/commands/_utils/table_print.py
  samcli/commands/build/click_container.py
  samcli/local/common/runtime_template.py
  tests/integration/init/test_init_command.py
  tests/integration/telemetry/integ_base.py
  tests/unit/commands/deploy/test_guided_config.py
  tests/unit/commands/samconfig/test_samconfig.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4334 fix: fix metadata file generation performance issue
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: pr/internal

#4336 chore: bump version to 1.61.0
  samcli/__init__.py
Labels: pr/internal

#4340 fix: remove the dependency on six module
  samcli/hook_packages/terraform/copy_terraform_built_artifacts.py
Labels: pr/internal

#4341 fix: pin flask version, suppress flask output, fix integration tests
  installer/assets/THIRD-PARTY-LICENSES
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/local/services/base_local_service.py
  tests/iac_integration/cdk/test_sam_cdk_integration.py
  tests/integration/local/common_utils.py
  tests/integration/sync/test_sync_code.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4344 fix: building terraform projects in container
  samcli/lib/build/app_builder.py
  samcli/local/docker/lambda_build_container.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/testdata/buildcmd/terraform/build_image_docker/Dockerfile
  tests/unit/local/docker/test_lambda_build_container.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#4339 chore: Enforce Pytest Warnings
  pytest.ini
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: pr/internal

#4352 chore: bump golang version in CI jobs
  appveyor-iac-integration-ubuntu.yml
  appveyor-ubuntu.yml
  appveyor.yml
Labels: pr/internal

#4351 fix: Updated build success message for hook packages
  samcli/commands/build/build_context.py
  samcli/commands/build/command.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/buildcmd/test_command.py
Labels: area/build, pr/internal

#4349 docs: ignore pycache when listing available hook package ids in help text
  samcli/lib/hook/hook_wrapper.py
Labels: pr/internal

#4343 Integration Test Cases for Unsupported TF cases
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/function1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/layer2/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/my_vars.auto.tfvars
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/py_build.sh
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/variables.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/function1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/layer2/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/my_vars.auto.tfvars
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/py_build.sh
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/variables.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/function1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/layer2/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/py_build.sh
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/variables.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/lambda_src/function1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/lambda_src/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/lambda_src/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/lambda_src/layer2/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/lambda_src/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/py_build.sh
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/variables.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/function1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer2/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/py_build.sh
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/variables.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal
