Repository aws/aws-sam-cli, pull requests merged in 2022-08, with the labels that each got.

#4079 FEAT: Test Runner - Refactor of Template Generation
  samcli/commands/exceptions.py
  samcli/lib/test_runner/base_template.j2
  samcli/lib/test_runner/test_runner_template_generator.py
  tests/unit/lib/test_runner/test_template_generator.py
Labels: pr/external, maintainer/need-followup, stage/needs-triage

#4062 feat: Enable source maps if either Sourcemap: true or --enable-source-maps is provided
  samcli/commands/build/build_context.py
  tests/unit/commands/buildcmd/test_build_context.py
Labels: area/build, pr/external, maintainer/need-followup

#3935 feat: dedup & cached build performance improvements
  samcli/commands/_utils/experimental.py
  samcli/lib/bootstrap/nested_stack/nested_stack_manager.py
  samcli/lib/build/build_graph.py
  samcli/lib/build/build_strategy.py
  samcli/lib/utils/osutils.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/lib/build_module/test_build_graph.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/utils/test_osutils.py
Labels: area/build, pr/internal

#3974 feat: Adding --on-failure to sam deploy
  samcli/commands/deploy/command.py
  samcli/commands/deploy/deploy_context.py
  samcli/commands/deploy/exceptions.py
  samcli/commands/sync/command.py
  samcli/lib/deploy/deployer.py
  samcli/lib/deploy/utils.py
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/deploy/test_deploy_command.py
  tests/unit/commands/deploy/test_command.py
  tests/unit/commands/deploy/test_deploy_context.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/deploy/test_deployer.py
Labels: area/deploy, pr/internal, area/sync

#4098 feat: Added esbuild integration tests to sam sync
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/sync/code/after/esbuild_function/app.ts
  tests/integration/testdata/sync/code/after/esbuild_function/package.json
  tests/integration/testdata/sync/code/after/esbuild_function/tsconfig.json
  tests/integration/testdata/sync/code/before/esbuild_function/app.ts
  tests/integration/testdata/sync/code/before/esbuild_function/package.json
  tests/integration/testdata/sync/code/before/esbuild_function/tsconfig.json
  tests/integration/testdata/sync/code/before/template-esbuild.yaml
Labels: pr/external, stage/needs-triage

#4096 Add workflow events
  samcli/commands/build/build_context.py
  samcli/lib/build/workflow_config.py
  samcli/lib/build/workflows.py
  samcli/lib/telemetry/event.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/lib/telemetry/test_event.py
Labels: area/build, pr/external, stage/needs-triage

#4094 FEAT: Test Runner - Init CLI + Environment Variable File Generation
  samcli/cli/command.py
  samcli/commands/exceptions.py
  samcli/commands/test_runner/init/__init__.py
  samcli/commands/test_runner/init/cli.py
  samcli/commands/test_runner/test-runner.py
  samcli/lib/test_runner/generate_env_vars.py
  samcli/lib/test_runner/invoke_testsuite.py
  samcli/lib/test_runner/test_runner_template_generator.py
  tests/unit/commands/test_runner/test_init_command.py
  tests/unit/lib/test_runner/test_gen_env_vars.py
  tests/unit/lib/test_runner/test_invoke_testsuite.py
Labels: pr/external

#4104 Fix send_events lock logic
  samcli/lib/telemetry/event.py
Labels: pr/external, stage/needs-triage

#4105 feat: Add custom Makefile Path, custom working directory, and custom project root directory to provided builder
  samcli/commands/init/__init__.py
  samcli/lib/build/app_builder.py
  samcli/lib/build/build_strategy.py
  samcli/lib/build/constants.py
  samcli/lib/build/utils.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/custom_build_with_custom_make_file_path.yaml
  tests/integration/testdata/buildcmd/custom_build_with_custom_root_project_path.yaml
  tests/integration/testdata/buildcmd/custom_build_with_custom_root_project_path_and_custom_makefile_path.yaml
  tests/integration/testdata/buildcmd/custom_makefile_dir/Makefile
  tests/integration/testdata/buildcmd/custom_root_dir/Makefile
  tests/integration/testdata/buildcmd/custom_root_dir/__init__.py
  tests/integration/testdata/buildcmd/custom_root_dir/main.py
  tests/integration/testdata/buildcmd/custom_root_dir/requirements.txt
  tests/integration/testdata/buildcmd/custom_root_dir_and_custom_makefile/custom_makefile/Makefile
  tests/integration/testdata/buildcmd/custom_root_dir_and_custom_makefile/custom_src_code/__init__.py
  tests/integration/testdata/buildcmd/custom_root_dir_and_custom_makefile/custom_src_code/main.py
  tests/integration/testdata/buildcmd/custom_root_dir_and_custom_makefile/custom_src_code/requirements.txt
  tests/integration/testdata/buildcmd/provided_src_code_without_makefile/__init__.py
  tests/integration/testdata/buildcmd/provided_src_code_without_makefile/main.py
  tests/integration/testdata/buildcmd/provided_src_code_without_makefile/requirements.txt
  tests/unit/commands/local/lib/test_sam_layer_provider.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/build_module/test_utils.py
Labels: area/init, area/build, pr/internal

#4114 fix: Create layer root folder before adding layer readme for ADL
  samcli/lib/bootstrap/nested_stack/nested_stack_manager.py
  tests/unit/lib/bootstrap/nested_stack/test_nested_stack_manager.py
Labels: pr/internal

#4081 feat: Adding the sam list testable resources command, tests, and table output format support for all sam list commands
  samcli/commands/list/cli_common/options.py
  samcli/commands/list/table_consumer.py
  samcli/commands/list/testable_resources/cli.py
  samcli/commands/list/testable_resources/testable_resources_context.py
  samcli/lib/list/mapper_consumer_factory.py
  samcli/lib/list/resources/resources_to_table_mapper.py
  samcli/lib/list/stack_outputs/stack_output_to_table_mapper.py
  samcli/lib/list/stack_outputs/stack_outputs_producer.py
  samcli/lib/list/testable_resources/__init__.py
  samcli/lib/list/testable_resources/testable_res_def.py
  samcli/lib/list/testable_resources/testable_resources_producer.py
  samcli/lib/list/testable_resources/testable_resources_to_table_mapper.py
  tests/integration/list/resources/test_resources_command.py
  tests/integration/list/stack_outputs/test_stack_outputs_command.py
  tests/integration/list/testable_resources/test_testable_resources_command.py
  tests/integration/list/testable_resources/testable_resources_integ_base.py
  tests/integration/testdata/list/test_testable_resources_template.yaml
  tests/unit/commands/list/stack_outputs/test_stack_outputs_context.py
  tests/unit/commands/list/test_list_mappers.py
  tests/unit/commands/list/testable_resources/test_cli.py
  tests/unit/commands/list/testable_resources/test_testable_resources_context.py
Labels: pr/external

#4115 chore: bump version to 1.54.0
  samcli/__init__.py
Labels: pr/internal

#4111 Make minor tweaks before launch
  samcli/commands/sync/command.py
  samcli/lib/telemetry/event.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/lib/telemetry/test_event.py
Labels: pr/external, area/sync, stage/needs-triage

#4116 Renaming the 'testable-resources' command to 'endpoints'
  samcli/commands/list/endpoints/__init__.py
  samcli/commands/list/endpoints/cli.py
  samcli/commands/list/endpoints/endpoints_context.py
  samcli/commands/list/list.py
  samcli/lib/list/endpoints/__init__.py
  samcli/lib/list/endpoints/endpoints_def.py
  samcli/lib/list/endpoints/endpoints_producer.py
  samcli/lib/list/endpoints/endpoints_to_table_mapper.py
  samcli/lib/list/list_interfaces.py
  samcli/lib/list/mapper_consumer_factory.py
  samcli/lib/list/testable_resources/testable_resources_to_table_mapper.py
  tests/integration/list/endpoints/__init__.py
  tests/integration/list/endpoints/endpoints_integ_base.py
  tests/integration/list/endpoints/test_endpoints_command.py
  tests/integration/testdata/list/test_endpoints_template.yaml
  tests/unit/commands/list/endpoints/__init__.py
  tests/unit/commands/list/endpoints/test_cli.py
  tests/unit/commands/list/endpoints/test_endpoints_context.py
  tests/unit/commands/list/test_list_mappers.py
Labels: pr/external, stage/needs-triage

#4044 Error out and exit when --config-file does not exist
  samcli/cli/cli_config_file.py
  tests/unit/cli/test_cli_config_file.py
Labels: stage/in-progress, pr/external

#4103 Add option to CfnTag parameter to accept multiple values per key
  samcli/cli/types.py
  tests/unit/cli/test_types.py
Labels: pr/external

#4125 chore: bump version to 1.55.0
  samcli/__init__.py
Labels: pr/internal

#4112 feat: Add custom working directory to custom builder
  samcli/lib/build/app_builder.py
  tests/integration/testdata/buildcmd/custom_build_with_custom_root_project_path_custom_makefile_path_and_custom_working_dir.yaml
  tests/integration/testdata/buildcmd/custom_build_with_custom_working_dir.yaml
  tests/integration/testdata/buildcmd/custom_root_dir_custom_makefile_and_custom_working_dir/custom_makefile/Makefile
  tests/integration/testdata/buildcmd/custom_root_dir_custom_makefile_and_custom_working_dir/working_dir/__init__.py
  tests/integration/testdata/buildcmd/custom_root_dir_custom_makefile_and_custom_working_dir/working_dir/main.py
  tests/integration/testdata/buildcmd/custom_root_dir_custom_makefile_and_custom_working_dir/working_dir/requirements.txt
  tests/integration/testdata/buildcmd/custom_working_dir_src_code/Makefile
  tests/integration/testdata/buildcmd/custom_working_dir_src_code/working_dir/__init__.py
  tests/integration/testdata/buildcmd/custom_working_dir_src_code/working_dir/main.py
  tests/integration/testdata/buildcmd/custom_working_dir_src_code/working_dir/requirements.txt
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#4122 feat: Move esbuild binary to normal dependency
  tests/integration/testdata/buildcmd/Esbuild/Node/package.json
  tests/integration/testdata/buildcmd/Esbuild/TypeScript/package.json
  tests/integration/testdata/sync/code/before/esbuild_function/app.ts
Labels: pr/internal

#4136 Add hook_package_id option to sam build
  samcli/commands/build/command.py
  tests/unit/commands/buildcmd/test_command.py
  tests/unit/commands/samconfig/test_samconfig.py
Labels: area/build, pr/internal

#4108 Support pipeline templates manifests in custom Git locations
  samcli/commands/pipeline/init/interactive_init_flow.py
  tests/integration/pipeline/test_init_command.py
  tests/integration/testdata/pipeline/custom_template_with_manifest/food/cookiecutter.json
  tests/integration/testdata/pipeline/custom_template_with_manifest/food/metadata.json
  tests/integration/testdata/pipeline/custom_template_with_manifest/food/questions.json
  tests/integration/testdata/pipeline/custom_template_with_manifest/food/{{cookiecutter.outputDir}}/food
  tests/integration/testdata/pipeline/custom_template_with_manifest/manifest.yaml
  tests/integration/testdata/pipeline/custom_template_with_manifest/weather/cookiecutter.json
  tests/integration/testdata/pipeline/custom_template_with_manifest/weather/metadata.json
  tests/integration/testdata/pipeline/custom_template_with_manifest/weather/questions.json
  tests/integration/testdata/pipeline/custom_template_with_manifest/weather/{{cookiecutter.outputDir}}/weather
  tests/unit/commands/pipeline/init/test_initeractive_init_flow.py
Labels: pr/external, area/pipeline, stage/needs-triage

#4120 feat: Remove esbuild beta flag
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/__init__.py
  samcli/cli/cli_config_file.py
  samcli/cli/types.py
  samcli/commands/_utils/experimental.py
  samcli/commands/build/build_context.py
  tests/functional/commands/validate/lib/models/function_with_msk.yaml
  tests/functional/commands/validate/lib/models/function_with_msk_with_intrinsics.yaml
  tests/functional/commands/validate/lib/models/function_with_self_managed_kafka.yaml
  tests/functional/commands/validate/lib/models/self_managed_kafka_with_intrinsics.yaml
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/sync/test_sync_watch.py
  tests/unit/cli/test_cli_config_file.py
  tests/unit/cli/test_types.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/samconfig/test_samconfig.py
Labels: area/build, pr/external, stage/needs-triage

#4126 FEAT: Test Runner - Allow init --tags option to accept multiple values per key
  samcli/cli/types.py
  samcli/commands/test_runner/init/cli.py
  tests/unit/cli/test_types.py
Labels: pr/external, stage/needs-triage

#4134 Merge EventTracker project into develop
  samcli/commands/build/build_context.py
  samcli/commands/sync/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/build/workflows.py
  samcli/lib/sync/sync_flow_executor.py
  samcli/lib/telemetry/event.py
  samcli/lib/telemetry/metric.py
  samcli/lib/telemetry/project_metadata.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/lib/telemetry/test_event.py
  tests/unit/lib/telemetry/test_metric.py
  tests/unit/lib/telemetry/test_project_metadata.py
Labels: area/build, area/sync

#4132 feat: Allow mix of global and function specific env vars for sam local
  samcli/commands/local/lib/local_lambda.py
  tests/integration/local/invoke/test_integration_cli_images.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/testdata/invoke/template.yml
  tests/integration/testdata/invoke/template_image.yaml
  tests/integration/testdata/invoke/vars.json
  tests/unit/commands/local/lib/test_local_lambda.py
Labels: pr/external, stage/needs-triage

#4140 Add mode option to create_tarball, in order to support compression
  samcli/lib/utils/tar.py
  tests/unit/lib/utils/test_tar.py
Labels: pr/external, stage/needs-triage

#4146 Esbuild bug bash
  samcli/commands/build/build_context.py
  samcli/commands/sync/command.py
  samcli/lib/build/bundler.py
  tests/integration/sync/test_sync_adl.py
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/sync/test_sync_watch.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/build_module/test_bundler.py
Labels: area/build, pr/internal, area/sync

#4133 feat: Disable ADL for esbuild
  samcli/commands/build/build_context.py
  samcli/commands/sync/command.py
  samcli/lib/build/bundler.py
  tests/integration/sync/test_sync_adl.py
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/sync/test_sync_watch.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/build_module/test_bundler.py
Labels: area/build, pr/internal, area/sync

#4110 FEAT: Test Runner - Add the rest of the testsuite run process + run CLI
  samcli/commands/exceptions.py
  samcli/commands/test_runner/init/cli.py
  samcli/commands/test_runner/run/__init__.py
  samcli/commands/test_runner/run/cli.py
  samcli/commands/test_runner/test-runner.py
  samcli/lib/test_runner/fargate_testsuite_runner.py
  samcli/lib/test_runner/invoke_testsuite.py
  tests/unit/commands/test_runner/test_run_command.py
  tests/unit/lib/test_runner/test_fargate_testsuite_runner.py
  tests/unit/lib/test_runner/test_invoke_testsuite.py
Labels: pr/external

#4130 FEAT: Test Runner - Add --allow-iam option to init command
  samcli/commands/test_runner/init/cli.py
  samcli/lib/test_runner/test_runner_template_generator.py
  tests/unit/commands/test_runner/test_init_command.py
  tests/unit/lib/test_runner/test_template_generator.py
Labels: pr/external, stage/needs-triage

#4139 Add Table of Generated IAM Actions
  samcli/commands/test_runner/init/cli.py
  samcli/lib/test_runner/test_runner_template_generator.py
Labels: pr/external, stage/needs-triage

#4151 feat: make sure that the output directory, and project root directory paths are absolute paths
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4158 FEAT: Test Runner - Command Exit Code Based On Test Results
  samcli/commands/test_runner/run/cli.py
  samcli/lib/test_runner/fargate_testsuite_runner.py
  tests/unit/commands/test_runner/test_run_command.py
  tests/unit/lib/test_runner/test_fargate_testsuite_runner.py
Labels: pr/external, stage/needs-triage

#4152 feat: collect sam metadata resources to be processed by the enrich method
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4153 feat: do metadata resource type property validations
  samcli/hook_packages/terraform/hooks/prepare.py
  samcli/lib/hook/exceptions.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4159 UX Polishes
  samcli/commands/test_runner/init/cli.py
  samcli/commands/test_runner/run/cli.py
  samcli/lib/test_runner/fargate_testsuite_runner.py
  tests/unit/lib/test_runner/test_fargate_testsuite_runner.py
Labels: pr/external, stage/needs-triage

#4154 feat: get the cfn resource that match the sam metadata resource name property
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4165 fix: allow relative paths for `--config-file`
  .gitignore
  samcli/cli/cli_config_file.py
  tests/integration/package/test_package_command_image.py
  tests/unit/cli/test_cli_config_file.py
Labels: pr/external, stage/needs-triage

#4141 feat: Added data-safe stack trace collection to telemetry (#3917)
  samcli/lib/telemetry/metric.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#4169 fix: Fix esbuild Properties Integration Tests
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/esbuild_templates/template_with_metadata_global_node_options.yaml
  tests/integration/testdata/buildcmd/esbuild_templates/template_with_metadata_node_options.yaml
Labels: pr/internal

#4166 chore: bump lambda builders version to 1.19.0
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#4155 feat: extract the lambda function source code or docker context paths
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4156 feat: enrich zip lambda functions
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4157 feat: enrich image lambda functions
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4175 fix: Fixed URI path being resolved incorrectly and remove experimental call
  samcli/lib/build/bundler.py
  tests/integration/sync/test_sync_adl.py
  tests/unit/lib/build_module/test_bundler.py
Labels: area/build, pr/external, stage/needs-triage

#4171 chore: refactor enrich_zip_lambda_functions, and enrich_image_lambda_functions outside of enrich_mapped_resources
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal
