Repository aws/aws-sam-cli, pull requests merged in 2022-12, with the labels that each got.

#4441 Added Next Command Suggestions
  samcli/commands/_utils/options.py
  samcli/commands/init/interactive_init_flow.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/logs/command.py
  tests/unit/commands/_utils/test_options.py
Labels: pr/internal

#4350 Add error messages to conflict options
  samcli/commands/pipeline/bootstrap/cli.py
  tests/unit/commands/pipeline/bootstrap/test_cli.py
Labels: pr/internal, area/pipeline

#4297 Add type-stubs and remove redundant ignores
  .pylintrc
  mypy.ini
  requirements/dev.txt
  samcli/commands/local/lib/local_lambda.py
  samcli/commands/sync/sync_context.py
  samcli/lib/build/build_graph.py
  samcli/lib/generated_sample_events/events.py
  samcli/lib/package/artifact_exporter.py
  samcli/local/docker/utils.py
  samcli/yamlhelper.py
  tests/testing_utils.py
  tests/unit/local/docker/test_manager.py
Labels: area/local/start-api, area/local/invoke, dependencies, pr/external, area/local/start-invoke

#4465 chore: Allow closed issue message Action to write on Issues
  .github/workflows/closed-issue-message.yml
Labels: pr/internal

#4459 chore: Add retry for sam sync race condition tests
  tests/integration/sync/test_sync_code.py
Labels: pr/internal

#4469 chore: Update Closed Stale Issues Github Action
  .github/workflows/close-stale-issues.yml
Labels: pr/internal

#4471 chore: Move Close Stale issues to manual workflow for testing
  .github/workflows/close-stale-issues.yml
Labels: pr/internal

#4462 fix: change permissions on package universally
  samcli/lib/package/utils.py
  samcli/lib/sync/flows/auto_dependency_layer_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/utils/resources.py
  tests/unit/lib/package/test_artifact_exporter.py
  tests/unit/lib/sync/flows/test_auto_dependency_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_zip_function_sync_flow.py
Labels: pr/internal

#4477 chore: Update third party license information on certifi version update
  installer/assets/THIRD-PARTY-LICENSES
Labels: pr/internal

#4444 Adding cfn-lint as optional parameter for SAM validate command
  installer/assets/THIRD-PARTY-LICENSES
  installer/pyinstaller/hidden_imports.py
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/cli/options.py
  samcli/commands/validate/validate.py
  tests/integration/testdata/validate/default_yaml/templateError.yaml
  tests/integration/validate/test_validate_command.py
  tests/unit/cli/test_main.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/validate/test_cli.py
Labels: area/validate, pr/external

#4479 fix: Fix validate command integration tests console output missmatch and update pyyaml version requirement
  requirements/base.txt
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#4485 fix: use resource type instead of resource id for deciding zip method
  samcli/lib/package/packageable_resources.py
  samcli/lib/package/utils.py
  tests/integration/sync/test_sync_adl.py
  tests/integration/sync/test_sync_watch.py
  tests/testing_utils.py
  tests/unit/lib/package/test_artifact_exporter.py
Labels: pr/internal

#4486 fix: `pyinstaller` binaries
  installer/pyinstaller/hidden_imports.py
  installer/pyinstaller/hook-samcli.py
Labels: pr/internal

#4369 feat: app insights monitoring integration for sam init
  installer/assets/THIRD-PARTY-LICENSES
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/commands/init/command.py
  samcli/commands/init/init_generator.py
  samcli/commands/init/interactive_init_flow.py
  samcli/lib/init/__init__.py
  samcli/lib/init/template_modifiers/application_insights_template_modifier.py
  samcli/lib/init/template_modifiers/cli_template_modifier.py
  samcli/lib/init/template_modifiers/xray_tracing_template_modifier.py
  samcli/lib/telemetry/event.py
  samcli/lib/utils/resources.py
  tests/functional/commands/init/test_interactive_init_flow.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/delete/delete_integ_base.py
  tests/integration/init/schemas/test_init_with_schemas_command.py
  tests/integration/init/test_init_command.py
  tests/integration/local/generate_event/test_cli_integ.py
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/init/test_application_insights_template_modifier.py
  tests/unit/lib/init/test_cli_template_modifier.py
Labels: area/init, pr/external

#4489 Update lint help and output message
  samcli/commands/validate/validate.py
  tests/integration/validate/test_validate_command.py
Labels: area/validate, pr/external, stage/needs-triage

#4488 fix: Update expected message read for ADL sync code watch integration test
  tests/integration/sync/test_sync_adl.py
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#4491 fix: `hooks` data imports for pyinstaller
  installer/pyinstaller/hook-samcli.py
Labels: pr/internal

#4493 chore: remove redundant debug parameter for sync integration tests
  tests/integration/sync/test_sync_watch.py
Labels: pr/internal

#4494 revert: remove cfn-lint integration
  installer/assets/THIRD-PARTY-LICENSES
  installer/pyinstaller/hidden_imports.py
  installer/pyinstaller/hook-samcli.py
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/cli/options.py
  samcli/commands/validate/validate.py
  tests/integration/testdata/validate/default_yaml/templateError.yaml
  tests/integration/validate/test_validate_command.py
  tests/unit/cli/test_main.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/validate/test_cli.py
Labels: area/validate, pr/internal

#4497 chore: bump version to 1.67.0
  samcli/__init__.py
Labels: pr/internal

#4480 fix: Updated command tracker to capture hook exceptions
  samcli/cli/context.py
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/lib/telemetry/metric.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#4487 ci: add gh action to generate and test pyinstaller zip file
  .github/workflows/validate_pyinstaller.yml
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/build-mac.sh
Labels: pr/internal

#4458 Update pyinstaller to include modules under samcli dir as hidden imports
  installer/pyinstaller/hidden_imports.py
  tests/unit/cli/test_pyinstaller_imports.py
Labels: pr/internal

#4503 ci: validate hidden imports during unit & integration tests
  installer/pyinstaller/hook-samcli.py
  samcli/cli/hidden_imports.py
  samcli/cli/import_module_proxy.py
  samcli/cli/main.py
  tests/integration/init/test_init_command.py
  tests/unit/cli/test_import_module_proxy.py
  tests/unit/cli/test_pyinstaller_imports.py
  tests/unit/lib/observability/xray_traces/test_xray_service_graph_event_puller.py
Labels: pr/internal

#4508 fix: move "set -eu" after setting all variables
  installer/pyinstaller/build-mac.sh
Labels: pr/internal

#4463 adds support of CodeS3Location in AppSyncFunctionConfiguration
  samcli/lib/package/packageable_resources.py
  samcli/lib/utils/resources.py
  tests/unit/lib/package/test_artifact_exporter.py
Labels: area/package, pr/external

#4511 ci: fix canary failures
  appveyor-ubuntu.yml
  appveyor-windows.yml
  samcli/cli/hidden_imports.py
  samcli/lib/build/app_builder.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
Labels: area/build, pr/internal
