Repository aws/aws-sam-cli, pull requests merged in 2022-01, with the labels that each got.

#3561 feat: enable warm containers for CDK synthesized templates
  samcli/commands/local/cli_common/invoke_context.py
  samcli/lib/providers/sam_function_provider.py
  samcli/lib/utils/file_observer.py
  samcli/local/lambdafn/env_vars.py
  samcli/local/lambdafn/runtime.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/local/start_lambda/test_start_lambda.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/lib/utils/test_file_observer.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#3564 fix: copy normalized metadata to built resources only
  samcli/lib/build/app_builder.py
  samcli/lib/build/build_graph.py
  samcli/lib/utils/file_observer.py
  samcli/local/lambdafn/runtime.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_graph.py
Labels: area/build, pr/internal

#3565 test: split testing in separate jobs
  appveyor-ubuntu.yml
  appveyor-windows.yml
  appveyor.yml
Labels: pr/internal

#3567 test: Develop fix regression test cases
  samcli/lib/bootstrap/nested_stack/nested_stack_builder.py
  samcli/lib/bootstrap/nested_stack/nested_stack_manager.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/test_package_command_zip.py
  tests/integration/testdata/package/aws-cloudformation-stack-child.yaml
  tests/integration/testdata/package/aws-cloudformation-stack-regression.yaml
  tests/integration/testdata/package/aws-serverlessrepo-application_regression.yaml
  tests/integration/testdata/sync/infra/after/Ruby/function/Gemfile
  tests/integration/testdata/sync/infra/after/Ruby/layer/Gemfile
  tests/integration/testdata/sync/infra/before/Ruby/function/Gemfile
  tests/integration/testdata/sync/infra/before/Ruby/layer/Gemfile
  tests/integration/testdata/sync/infra/template-ruby-after.yaml
  tests/integration/testdata/sync/infra/template-ruby-before.yaml
  tests/integration/validate/test_validate_command.py
  tests/regression/package/regression_package_base.py
  tests/regression/package/test_package_regression.py
  tests/unit/lib/bootstrap/nested_stack/test_nested_stack_builder.py
Labels: pr/internal

#3249 Add CFN stack sets to supported resources
  samcli/lib/utils/resources.py
Labels: pr/external

#3542 chore: version bump 1.37.0
  samcli/__init__.py
Labels: pr/internal

#3568 test: fix integration test cases
  appveyor-ubuntu.yml
  appveyor.yml
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/delete/test_delete_command.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/package/package_integ_base.py
  tests/integration/package/test_package_command_image.py
  tests/integration/package/test_package_command_zip.py
  tests/integration/sync/test_sync_command.py
  tests/integration/testdata/sync/infra/after/Ruby/function/Gemfile
  tests/integration/testdata/sync/infra/after/Ruby/layer/Gemfile
  tests/integration/testdata/sync/infra/before/Ruby/function/Gemfile
  tests/integration/testdata/sync/infra/before/Ruby/layer/Gemfile
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_level3_nested_zip_functions.json
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_level3_nested_zip_functions_after.json
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_zip_functions.json
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_zip_functions_after.json
  tests/integration/testdata/sync/infra/template-python-after.yaml
  tests/integration/testdata/sync/infra/template-python-before.yaml
  tests/smoke/templates/sar/ffmpeg-lambda-layer-template.yaml
Labels: pr/internal

#2907 chore: Add warning about implicit logical ID usage in sam build
  samcli/commands/build/build_context.py
  samcli/lib/providers/sam_api_provider.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/local/lib/test_api_provider.py
Labels: pr/internal

#3570 fix: Adjustments for integration test failures
  tests/integration/sync/test_sync_command.py
Labels: pr/internal

#3497 fix: make routeKey and queryStringParameters for local HttpApi event match deployed one
  samcli/local/apigw/local_apigw_service.py
  samcli/local/events/api_event.py
  tests/unit/local/events/test_api_event.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#3527 fix: Add ECR Policy Check to Integration Tests
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/package_integ_base.py
Labels: pr/internal

#3590 Fix: Use Internal CLI templates
  samcli/commands/init/init_templates.py
  samcli/lib/init/local_manifest.json
  samcli/local/common/runtime_template.py
  tests/unit/commands/init/test_cli.py
Labels: area/local/start-api, area/init, area/local/invoke, pr/external, area/local/start-invoke

#3579 Fix: Make resource syncs respect base dir option
  samcli/lib/sync/flows/generic_api_sync_flow.py
  samcli/lib/sync/flows/stepfunctions_sync_flow.py
  tests/unit/lib/sync/flows/test_http_api_sync_flow.py
  tests/unit/lib/sync/flows/test_rest_api_sync_flow.py
  tests/unit/lib/sync/flows/test_stepfunctions_sync_flow.py
Labels: pr/internal

#3451 feat: support openapi yaml include validation
  samcli/commands/validate/lib/sam_template_validator.py
  tests/functional/commands/validate/lib/models/explicit_http_api_minimum_include.yaml
  tests/functional/commands/validate/lib/openapi/openapi.yaml
  tests/integration/testdata/validate/openapi_json/openapi.json
  tests/integration/testdata/validate/openapi_json/template.json
  tests/integration/testdata/validate/openapi_yaml/openapi.yaml
  tests/integration/testdata/validate/openapi_yaml/template.yaml
  tests/integration/validate/test_validate_command.py
  tests/unit/commands/local/lib/swagger/test_parser.py
  tests/unit/commands/validate/lib/test_sam_template_validator.py
Labels: area/validate, pr/external

#3599 Bump version of nodejs in init integ tests
  tests/integration/init/test_init_command.py
Labels: pr/internal

#3597 Readme update
  README.md
Labels: pr/internal

#3582 fix: force download dependencies if dependency folder doesn't exist
  samcli/lib/build/build_strategy.py
  tests/unit/lib/build_module/test_build_strategy.py
Labels: area/build, pr/internal
