Repository aws/aws-sam-cli, pull requests merged in 2022-09, with the labels that each got.

#4167 feat: Remove esbuild feature flag
  samcli/commands/_utils/experimental.py
  samcli/commands/build/build_context.py
  samcli/lib/build/bundler.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/sync/test_sync_adl.py
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/sync/test_sync_watch.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/build_module/test_bundler.py
Labels: area/build, pr/external, stage/needs-triage

#4174 feat: create stub function for generating custom makefile
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4182 fix: make terraform project root arg required, and move script into the terraform hook package dir
  installer/pyinstaller/hook-samcli.py
  samcli/hook_packages/terraform/copy_terraform_built_artifacts.py
  tests/integration/scripts/test_copy_terraform_built_artifacts.py
Labels: pr/internal

#4184 test: add integration test cases to cover Custom build with custom working directory
  tests/integration/buildcmd/test_build_cmd.py
Labels: pr/internal

#4185 fix: check for `hook-package-id` only being allowed if a beta feature on `sam build`
  samcli/commands/build/command.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/testing_utils.py
  tests/unit/commands/buildcmd/test_command.py
Labels: area/build, pr/external, stage/needs-triage

#4191 Fix typo in watch_manager.py
  samcli/lib/sync/watch_manager.py
Labels: pr/external, area/sync

#4188 fix: Patch sam-cli to support language extensions
  samcli/lib/samlib/wrapper.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/testdata/buildcmd/language-extensions.yaml
  tests/unit/lib/samlib/test_wrapper.py
Labels: pr/internal

#4192 feat: raise error in case of build in container with hooks package and no build image.
  appveyor-ubuntu.yml
  appveyor.yml
  samcli/commands/_utils/custom_options/hook_package_id_option.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/testdata/buildcmd/terraform/simple_application/HelloWorldFunction.zip
  tests/integration/testdata/buildcmd/terraform/simple_application/main.tf
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
Labels: pr/internal

#4195 Update appveyor definition to use go1.15
  appveyor-ubuntu.yml
  appveyor.yml
Labels: pr/internal

#4189 Fix parse remote origin url
  samcli/lib/telemetry/metric.py
  samcli/lib/telemetry/project_metadata.py
  tests/unit/lib/telemetry/test_project_metadata.py
Labels: pr/internal

#4168 feat: Enable sam local start-api to respond with HTTP/1.1 version
  samcli/local/apigw/local_apigw_service.py
  tests/integration/local/start_api/test_start_api.py
Labels: area/local/start-api, area/local/invoke, pr/external, maintainer/need-followup, area/local/start-invoke, stage/needs-triage

#4194 fix: Patch language extensions
  samcli/lib/samlib/wrapper.py
  tests/unit/lib/samlib/test_wrapper.py
Labels: pr/internal

#4197 fix: Update Slack Invite link
  README.md
Labels: pr/internal

#4199 chore: bump sam cli version to 1.56.1
  samcli/__init__.py
Labels: pr/internal

#4209 chore: Updated maintainers
  .github/workflows/pr-labeler.yml
Labels: pr/external

#4186 fix: Fix `--docker-volume-basedir` being ignored for sam local
  samcli/commands/local/cli_common/invoke_context.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
Labels: area/docker, pr/external, area/local

#4187 feat: implement _enrich_resources_and_generate_makefile
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4205 fix: speed up help by 2x on `sam` binary
  samcli/cli/command.py
  tests/integration/root/__init__.py
  tests/integration/root/root_integ_base.py
  tests/integration/root/test_root_command.py
  tests/unit/cli/test_command.py
Labels: area/init, pr/external

#4213 fix: speed up sam init help text by 100ms
  samcli/commands/init/__init__.py
  samcli/commands/init/command.py
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/init/test_non_interactive_mode.py
  tests/unit/commands/samconfig/test_samconfig.py
Labels: area/init, pr/internal

#4214 perf: improve unit test times for overall by 2.7x
  .gitignore
  tests/unit/commands/delete/test_delete_context.py
  tests/unit/commands/deploy/test_deploy_context.py
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/package/test_package_context.py
  tests/unit/commands/validate/test_cli.py
  tests/unit/lib/observability/cw_logs/test_cw_log_puller.py
  tests/unit/lib/sync/flows/test_zip_function_sync_flow.py
  tests/unit/lib/telemetry/test_event.py
  tests/unit/lib/telemetry/test_metric.py
  tests/unit/lib/utils/test_managed_cloudformation_stack.py
  tests/unit/local/docker/test_container.py
Labels: pr/internal

#4219 perf: push `--help` text to 150ms, 2.6x improvement - supercharge the cli.
  samcli/cli/context.py
  samcli/cli/main.py
  samcli/commands/init/command.py
  samcli/commands/init/init_flow_helpers.py
  samcli/commands/init/interactive_init_flow.py
  samcli/lib/build/deprecated_runtimes.py
  tests/unit/cli/test_context.py
  tests/unit/cli/test_main.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#4210 feat: Implement _get_python_command_name
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4202 fix: return None instead of exception when layer reference can't be found in the current template
  samcli/lib/providers/sam_function_provider.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
Labels: pr/internal

#4212 feat: Read lambda layer property from terraform
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/src/layer.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4232 Revert "feat: Added data-safe stack trace collection to telemetry (#3…
  samcli/lib/telemetry/metric.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#4224 feat: Add use-container flag to sam sync command
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/sync/command.py
  tests/integration/sync/sync_integ_base.py
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/sync/test_sync_watch.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
Labels: area/build, pr/internal, area/sync

#4228 fix: README.md - command names
  README.md
Labels: pr/internal

#4238 test: Add Retries on Duplicate Port, Timeout on Process for Local Tests
  tests/integration/local/common_utils.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
Labels: pr/internal

#4240 fix: wrap _write_container_output with try/except to gracefully handle any unexpected errors from docker api
  samcli/local/docker/container.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4233 feat: Generate Makefile Rule
  samcli/commands/_utils/custom_options/hook_package_id_option.py
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/lambda/lambda2/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/lambda/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/src/test.py
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4247 refactor: move hook into (new) prepare dir, and create resource_linking.py file
  samcli/hook_packages/terraform/hooks/prepare/__init__.py
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/main.py
  tests/unit/hook_packages/terraform/hooks/__init__.py
  tests/unit/hook_packages/terraform/hooks/prepare/__init__.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#4251 fix: remove the terraform project root parameter from built artifacts copy script.
  samcli/hook_packages/terraform/copy_terraform_built_artifacts.py
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  tests/integration/scripts/test_copy_terraform_built_artifacts.py
  tests/integration/scripts/testdata/build-output-path-dir.json
  tests/integration/scripts/testdata/build-output-path-zip.json
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: pr/internal

#4253 Fix copy script loc
  samcli/hook_packages/terraform/hooks/prepare/hook.py
Labels: pr/internal

#4252 feat: Clean Terraform References List
  samcli/hook_packages/terraform/hooks/prepare/layer_linking.py
  tests/unit/hook_packages/terraform/test_layer_linking.py
Labels: pr/internal

#4255 refactor: delete layer_linking, move to resource_linking
  samcli/hook_packages/terraform/hooks/prepare/layer_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/test_layer_linking.py
Labels: pr/internal

#4248 feat: Added configuration address cleaning function
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#4249 feat: define resource linking data representation structures
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#4261 Version bump to 1.58.0
  samcli/__init__.py
Labels: pr/internal

#4260 feat: Resolve Module Variables
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#4264 Add integ test for sam build terraform image based Lambda Function lo…
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/hello_world/Dockerfile
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/hello_world/go.mod
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/hello_world/go.sum
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/hello_world/main.go
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/hello_world/main_test.go
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/l1_lambda/l2_lambda/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/l1_lambda/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/hello_world/Dockerfile
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/hello_world/go.mod
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/hello_world/go.sum
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/hello_world/main.go
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/hello_world/main_test.go
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/l1_lambda/l2_lambda/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/l1_lambda/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/main.tf
Labels: pr/internal

#4259 feat: Added module output resolving
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#4265 Update makefile rule generate to create temp backend override
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: pr/internal

#4271 feat: Add resource attribute resolving
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal
