Repository aws/aws-sam-cli, pull requests merged in 2022-07, with the labels that each got.

#4027 Refactor Event data structure
  samcli/lib/telemetry/event.py
  tests/unit/lib/telemetry/test_event.py
Labels: pr/external, stage/needs-triage

#3995 Add OIDC support
  requirements/base.txt
  samcli/commands/pipeline/bootstrap/cli.py
  samcli/commands/pipeline/bootstrap/guided_context.py
  samcli/commands/pipeline/bootstrap/pipeline_oidc_provider.py
  samcli/commands/pipeline/init/interactive_init_flow.py
  samcli/lib/pipeline/bootstrap/resource.py
  samcli/lib/pipeline/bootstrap/stage.py
  samcli/lib/pipeline/bootstrap/stage_resources.yaml
  tests/integration/pipeline/test_bootstrap_command.py
  tests/unit/commands/pipeline/bootstrap/test_cli.py
  tests/unit/commands/pipeline/bootstrap/test_guided_context.py
  tests/unit/lib/pipeline/bootstrap/test_environment.py
Labels: pr/external, area/pipeline

#4035 Implement lock tests for EventTracker
  tests/unit/lib/telemetry/test_event.py
Labels: pr/external, stage/needs-triage

#4037 Support GitLab OIDC for pipeline bootstrap
  samcli/commands/pipeline/bootstrap/cli.py
  samcli/commands/pipeline/bootstrap/guided_context.py
  samcli/commands/pipeline/bootstrap/pipeline_oidc_provider.py
  samcli/commands/pipeline/init/interactive_init_flow.py
  samcli/lib/pipeline/bootstrap/stage.py
  samcli/lib/pipeline/bootstrap/stage_resources.yaml
  tests/unit/commands/pipeline/bootstrap/test_cli.py
  tests/unit/commands/pipeline/bootstrap/test_guided_context.py
  tests/unit/lib/pipeline/bootstrap/test_environment.py
Labels: pr/external, area/pipeline, stage/needs-triage

#4032 README.md Updated typo fixes done.
  README.md
Labels: pr/external

#3997 Adding blogposts and workshop material to readme
  README.md
Labels: pr/external

#4024 FEAT: Test Runner - Test Runner CloudFormation Template Generation
  samcli/commands/exceptions.py
  samcli/lib/test_runner/base_template.j2
  samcli/lib/test_runner/test_runner_template_generator.py
  tests/unit/lib/test_runner/test_template_generator.py
Labels: pr/internal, maintainer/need-followup, stage/needs-triage

#4020 Local transform and resource collection
  samcli/commands/list/cli_common/list_common_context.py
  samcli/commands/list/exceptions.py
  samcli/commands/list/resources/cli.py
  samcli/commands/list/resources/resources_context.py
  samcli/commands/list/stack_outputs/stack_outputs_context.py
  samcli/commands/validate/validate.py
  samcli/lib/list/resources/__init__.py
  samcli/lib/list/resources/resource_mapping_producer.py
  samcli/lib/list/resources/resources_def.py
  samcli/lib/list/stack_outputs/stack_outputs_producer.py
  samcli/lib/providers/exceptions.py
  samcli/lib/providers/sam_stack_provider.py
  samcli/lib/translate/__init__.py
  samcli/lib/translate/sam_template_validator.py
  tests/functional/commands/validate/lib/test_sam_template_validator.py
  tests/integration/list/resources/resources_integ_base.py
  tests/integration/list/resources/test_resources_command.py
  tests/integration/testdata/list/test_resources_invalid_sam_template.yaml
  tests/unit/commands/list/resources/test_cli.py
  tests/unit/commands/list/resources/test_resources_context.py
  tests/unit/commands/list/stack_outputs/test_stack_outputs_context.py
  tests/unit/commands/validate/lib/test_sam_template_validator.py
  tests/unit/commands/validate/test_cli.py
  tests/unit/lib/iac/cfn/test_cfn_iac_implementation.py
Labels: area/validate, area/local/invoke, pr/external, stage/needs-triage

#4052 fix: Don't use deps dir for non-cached builds
  samcli/lib/build/app_builder.py
  samcli/lib/build/build_strategy.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_strategy.py
Labels: area/build, pr/internal

#4039 Add send_events method to EventTracker
  samcli/lib/telemetry/event.py
  samcli/lib/telemetry/metric.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/lib/telemetry/test_event.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/external

#4061 Upgrade encryption algorithm from SHA-1 to SHA-256
  samcli/lib/telemetry/project_metadata.py
  tests/unit/lib/telemetry/test_project_metadata.py
Labels: pr/external

#4058 feat: add --hook-package-id option to sam local invoke, and sam local start-lambda commands
  samcli/commands/_utils/constants.py
  samcli/commands/_utils/custom_options/hook_package_id_option.py
  samcli/commands/_utils/options.py
  samcli/commands/build/build_context.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/sync/command.py
  samcli/lib/hook/hook_wrapper.py
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/start_lambda/test_cli.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/hook/test_hook_wrapper.py
Labels: area/local/invoke, pr/internal

#4041 Support Bitbucket OIDC in pipeline bootstrap
  samcli/commands/pipeline/bootstrap/cli.py
  samcli/commands/pipeline/bootstrap/guided_context.py
  samcli/commands/pipeline/bootstrap/oidc_config.py
  samcli/commands/pipeline/bootstrap/pipeline_oidc_provider.py
  samcli/commands/pipeline/init/interactive_init_flow.py
  samcli/lib/cookiecutter/template.py
  samcli/lib/pipeline/bootstrap/stage.py
  tests/unit/commands/pipeline/bootstrap/test_cli.py
  tests/unit/commands/pipeline/bootstrap/test_guided_context.py
  tests/unit/commands/pipeline/bootstrap/test_oidc_config.py
  tests/unit/commands/pipeline/init/test_initeractive_init_flow.py
  tests/unit/lib/cookiecutter/test_template.py
  tests/unit/lib/pipeline/bootstrap/test_environment.py
Labels: pr/external, area/pipeline

#4050 feat: add basic prepare hook
  samcli/hook_packages/__init__.py
  samcli/hook_packages/terraform/__init__.py
  samcli/hook_packages/terraform/hooks/__init__.py
  samcli/hook_packages/terraform/hooks/prepare.py
  samcli/hook_packages/terraform/main.py
  samcli/lib/hook/exceptions.py
  tests/unit/hook_packages/__init__.py
  tests/unit/hook_packages/terraform/__init__.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
  tests/unit/lib/hook/test_hook_wrapper.py
Labels: pr/internal

#4067 Add long event tracker
  samcli/lib/telemetry/event.py
  tests/unit/lib/telemetry/test_event.py
Labels: pr/external, stage/needs-triage

#4065 FEAT: Test Runner - Kick Off Testsuite
  samcli/commands/exceptions.py
  samcli/lib/test_runner/invoke_testsuite.py
  tests/unit/lib/test_runner/test_invoke_testsuite.py
Labels: pr/external, stage/needs-triage

#4072 Send events via thread when at capacity
  samcli/lib/telemetry/event.py
  tests/unit/lib/telemetry/test_event.py
Labels: pr/external, stage/needs-triage

#4056 feat: Adding cloud resources to sam list resources output
  samcli/commands/list/cli_common/options.py
  samcli/lib/list/resources/resource_mapping_producer.py
  tests/integration/list/resources/test_resources_command.py
  tests/unit/commands/list/resources/test_resources_context.py
Labels: area/validate, pr/external, maintainer/need-followup

#4068 test: Terraform support integration testing for SAM Local commands
  appveyor-ubuntu.yml
  appveyor-windows.yml
  appveyor.yml
  samcli/commands/_utils/custom_options/hook_package_id_option.py
  samcli/hook_packages/terraform/Config.json
  samcli/hook_packages/terraform/hooks/prepare.py
  samcli/lib/hook/hook_wrapper.py
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/HelloWorldFunction.zip
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/lambda/lambda2/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/lambda/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/main.tf
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/hook_packages/terraform/test_prepare_hook.py
  tests/unit/lib/hook/test_hook_wrapper.py
Labels: pr/internal

#4069 feat: Adding Image PackageType lambda function mapping
  samcli/hook_packages/terraform/hooks/prepare.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
  tests/integration/testdata/invoke/terraform/image_lambda_function_local_image_uri/main.tf
  tests/unit/hook_packages/terraform/test_prepare_hook.py
Labels: pr/internal

#4071 fix: Fixed describe stack events reporting wrong events
  samcli/commands/deploy/deploy_context.py
  samcli/lib/deploy/deployer.py
  tests/integration/deploy/test_deploy_command.py
  tests/unit/lib/deploy/test_deployer.py
Labels: area/deploy, pr/external

#4070 feat: add experimental flag to sam local invoke, and sam local start-lambda commands
  samcli/commands/_utils/command_exception_handler.py
  samcli/commands/_utils/custom_options/hook_package_id_option.py
  samcli/commands/_utils/experimental.py
  samcli/commands/_utils/options.py
  samcli/commands/_utils/parameterized_option.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/lib/hook/hook_wrapper.py
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/_utils/test_options.py
Labels: area/local/invoke, pr/internal

#4076 Add `sam sync` Events
  samcli/commands/sync/command.py
  samcli/lib/sync/sync_flow_executor.py
  samcli/lib/telemetry/event.py
Labels: pr/external, area/sync
