Repository aws/aws-sam-cli, pull requests merged in 2022-03, with the labels that each got.

#3696 fix: Runtime sorting fix and use new manifest
  samcli/commands/init/__init__.py
  samcli/commands/init/init_templates.py
  samcli/commands/init/interactive_init_flow.py
  samcli/local/common/runtime_template.py
  tests/functional/commands/init/__init__.py
  tests/functional/commands/init/test_interactive_init_flow.py
  tests/functional/testdata/init/unknown_runtime/manifest-v2.json
  tests/functional/testdata/init/unknown_runtime/python3.8/cookiecutter-aws-sam-hello/__init__.py
  tests/functional/testdata/init/unknown_runtime/python3.8/cookiecutter-aws-sam-hello/cookiecutter.json
  tests/functional/testdata/init/unknown_runtime/python3.8/cookiecutter-aws-sam-hello/setup.cfg
  tests/functional/testdata/init/unknown_runtime/python3.8/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/__init__.py
  tests/functional/testdata/init/unknown_runtime/python3.8/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/hello_world/__init__.py
  tests/functional/testdata/init/unknown_runtime/python3.8/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/hello_world/app.py
  tests/functional/testdata/init/unknown_runtime/python3.8/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/hello_world/requirements.txt
  tests/functional/testdata/init/unknown_runtime/python3.8/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/template.yaml
  tests/functional/testdata/init/unknown_runtime/random.runtime1/cookiecutter-aws-sam-hello/__init__.py
  tests/functional/testdata/init/unknown_runtime/random.runtime1/cookiecutter-aws-sam-hello/cookiecutter.json
  tests/functional/testdata/init/unknown_runtime/random.runtime1/cookiecutter-aws-sam-hello/setup.cfg
  tests/functional/testdata/init/unknown_runtime/random.runtime1/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/__init__.py
  tests/functional/testdata/init/unknown_runtime/random.runtime1/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/hello_world/__init__.py
  tests/functional/testdata/init/unknown_runtime/random.runtime1/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/hello_world/app.py
  tests/functional/testdata/init/unknown_runtime/random.runtime1/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/hello_world/requirements.txt
  tests/functional/testdata/init/unknown_runtime/random.runtime1/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/template.yaml
  tests/functional/testdata/init/unknown_runtime/random.runtime2/cookiecutter-aws-sam-hello/__init__.py
  tests/functional/testdata/init/unknown_runtime/random.runtime2/cookiecutter-aws-sam-hello/cookiecutter.json
  tests/functional/testdata/init/unknown_runtime/random.runtime2/cookiecutter-aws-sam-hello/setup.cfg
  tests/functional/testdata/init/unknown_runtime/random.runtime2/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/__init__.py
  tests/functional/testdata/init/unknown_runtime/random.runtime2/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/hello_world/__init__.py
  tests/functional/testdata/init/unknown_runtime/random.runtime2/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/hello_world/app.py
  tests/functional/testdata/init/unknown_runtime/random.runtime2/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/hello_world/requirements.txt
  tests/functional/testdata/init/unknown_runtime/random.runtime2/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/template.yaml
Labels: area/local/start-api, area/init, area/local/invoke, pr/external, area/local/start-invoke

#3699 chore: Version Bump for 1.40.1
  samcli/__init__.py
Labels: pr/internal

#3694 fix: Warm containers break on non-local layers
  samcli/lib/utils/file_observer.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/main-layers.py
  tests/integration/testdata/start_api/template-warm-containers-layers.yaml
  tests/unit/lib/utils/test_file_observer.py
Labels: pr/internal

#3703 Revert "fix: Warm containers break on non-local layers"
  samcli/lib/utils/file_observer.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/main-layers.py
  tests/integration/testdata/start_api/template-warm-containers-layers.yaml
  tests/unit/lib/utils/test_file_observer.py
Labels: pr/internal

#3704 Revert "Revert "fix: Warm containers break on non-local layers""
  samcli/lib/utils/file_observer.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/main-layers.py
  tests/integration/testdata/start_api/template-warm-containers-layers.yaml
  tests/unit/lib/utils/test_file_observer.py
Labels: pr/internal

#3641 feat: Update Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: stage/pr-approved, pr/internal

#3708 fix: Update Python3.6 Debug Bootstrap Path
  samcli/local/docker/lambda_debug_settings.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#3352 Refactor deprecated unittest aliases for Python 3.11 compatibility.
  tests/unit/commands/pipeline/bootstrap/test_guided_context.py
  tests/unit/commands/pipeline/init/test_initeractive_init_flow.py
  tests/unit/commands/pipeline/init/test_pipeline_templates_manifest.py
  tests/unit/lib/cookiecutter/test_question.py
  tests/unit/lib/pipeline/bootstrap/test_resource.py
  tests/unit/local/docker/test_lambda_image.py
Labels: pr/external, maintainer/need-response

#3705 feat: Add flag for using npm ci in node builds
  samcli/lib/build/app_builder.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#3647 feat(generate-event): Add Amazon Work Mail event
  samcli/lib/generated_sample_events/event-mapping.json
  samcli/lib/generated_sample_events/events/workmail/WorkMail.json
Labels: pr/external, maintainer/need-response

#3657 feat: Add Go code generation option to Eventbridge Schemas workflow
  samcli/lib/schemas/schemas_api_caller.py
  samcli/local/common/runtime_template.py
  tests/integration/init/schemas/test_init_with_schemas_command.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke

#3722 Revert "feat: Add Go code generation option to Eventbridge Schemas workflow"
  samcli/lib/schemas/schemas_api_caller.py
  samcli/local/common/runtime_template.py
  tests/integration/init/schemas/test_init_with_schemas_command.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#3706 fix: container start waits for port
  samcli/local/docker/container.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#3655 feat(generate-event): Add Http API V2 event
  samcli/lib/generated_sample_events/event-mapping.json
  samcli/lib/generated_sample_events/events/apigateway/HttpApi.json
Labels: pr/external

#3649 feat(generate-event): Add Amazon Lex V2 Event
  samcli/lib/generated_sample_events/event-mapping.json
  samcli/lib/generated_sample_events/events/lex-v2/BankingBot.json
  samcli/lib/generated_sample_events/events/lex-v2/LexBookCar.json
  samcli/lib/generated_sample_events/events/lex-v2/LexBookHotel.json
Labels: pr/external, maintainer/need-followup

#3724 Gating Unsupported runtime
  samcli/commands/init/interactive_init_flow.py
  tests/functional/commands/init/test_interactive_init_flow.py
  tests/functional/testdata/init/unknown_runtime/python3.8/cookiecutter-aws-sam-hello/{{cookiecutter.project_name}}/unique_test_file.txt
  tests/unit/commands/init/test_cli.py
Labels: area/init, pr/external

#3738 Revert "fix: Warm containers break on non-local layers"
  samcli/lib/utils/file_observer.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/main-layers.py
  tests/integration/testdata/start_api/template-warm-containers-layers.yaml
  tests/unit/lib/utils/test_file_observer.py
Labels: pr/internal

#3740 Revert "feat: Add flag for using npm ci in node builds"
  samcli/lib/build/app_builder.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#3743 chore: bump version to 1.41.0
  samcli/__init__.py
Labels: pr/internal

#3681 feat(generate-event): Add Rest API Request Authorizer event
  samcli/lib/generated_sample_events/event-mapping.json
  samcli/lib/generated_sample_events/events/apigateway/ApiGatewayRestRequestAuthorizer.json
Labels: pr/external, maintainer/need-response

#3617 feat: Watch Integration Tests
  samcli/lib/utils/resource_trigger.py
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/sync/code/after/apigateway/definition.json
  tests/integration/testdata/sync/code/after/statemachine/function.asl.json
  tests/integration/testdata/sync/code/before/apigateway/definition.json
  tests/integration/testdata/sync/code/before/statemachine/function.asl.json
  tests/integration/testdata/sync/code/before/template-python.yaml
  tests/integration/testdata/sync/infra/after/Python/apigateway/definition.json
  tests/integration/testdata/sync/infra/after/Python/statemachine/function.asl.json
  tests/integration/testdata/sync/infra/before/Python/apigateway/definition.json
  tests/integration/testdata/sync/infra/before/Python/statemachine/function.asl.json
  tests/integration/testdata/sync/infra/template-python-after.yaml
  tests/integration/testdata/sync/infra/template-python-before.yaml
Labels: pr/internal

#3728 fix: Added Left Over Resource Clean Up
  tests/integration/delete/test_delete_command.py
  tests/integration/deploy/deploy_integ_base.py
Labels: pr/internal

#3756 chore: bump Lambda Builder version to 1.14.0
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#3741 Revert "Revert "feat: Add flag for using npm ci in node builds""
  samcli/lib/build/app_builder.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#3702 [typing] Unlock boto3-stubs and add all services in use
  requirements/dev.txt
  samcli/commands/local/lib/local_lambda.py
  samcli/lib/bootstrap/bootstrap.py
  samcli/lib/bootstrap/companion_stack/companion_stack_manager.py
  samcli/lib/package/packageable_resources.py
  samcli/lib/pipeline/bootstrap/stage.py
  samcli/lib/utils/boto_utils.py
  samcli/lib/utils/managed_cloudformation_stack.py
  samcli/lib/utils/profile.py
Labels: pr/external, maintainer/need-followup

#3723 Revert "Revert "feat: Add Go code generation option to Eventbridge Schemas workflow""
  samcli/lib/schemas/schemas_api_caller.py
  samcli/local/common/runtime_template.py
  tests/integration/init/schemas/test_init_with_schemas_command.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#3625 fix: remove py3.6 support
  appveyor-iac-integration-ubuntu.yml
  appveyor-ubuntu.yml
  appveyor.yml
  requirements/base.txt
  requirements/reproducible-linux.txt
  setup.py
Labels: pr/internal

#3771 feat: Updated Image to Visual Studio 2019
  appveyor-windows-build-dotnet.yml
  appveyor-windows-build-go.yml
  appveyor-windows-build-java-container.yml
  appveyor-windows-build-java-ruby-inprocess.yml
  appveyor-windows-build-nodejs.yml
  appveyor-windows-build-python.yml
  appveyor-windows-build-ruby.yml
  appveyor-windows.yml
Labels: pr/internal

#3767 chore: Update translator version to 1.43.0
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/yamlhelper.py
Labels: pr/internal

#3670 feat(generate-event): Add ALB event
  samcli/lib/generated_sample_events/event-mapping.json
  samcli/lib/generated_sample_events/events/alb/ALBRequest.json
Labels: pr/external, maintainer/need-response

#3779 chore: update to aws-sam-translator 1.44.0
  requirements/base.txt
  requirements/reproducible-linux.txt
  tests/functional/commands/validate/lib/models/api_endpoint_configuration.yaml
  tests/functional/commands/validate/lib/models/api_endpoint_configuration_with_vpcendpoint.yaml
  tests/functional/commands/validate/lib/models/api_http_paths_with_if_condition.yaml
  tests/functional/commands/validate/lib/models/api_http_paths_with_if_condition_no_value_else_case.yaml
  tests/functional/commands/validate/lib/models/api_http_paths_with_if_condition_no_value_then_case.yaml
  tests/functional/commands/validate/lib/models/api_rest_paths_with_if_condition_openapi.yaml
  tests/functional/commands/validate/lib/models/api_rest_paths_with_if_condition_openapi_no_value_else_case.yaml
  tests/functional/commands/validate/lib/models/api_rest_paths_with_if_condition_openapi_no_value_then_case.yaml
  tests/functional/commands/validate/lib/models/api_rest_paths_with_if_condition_swagger.yaml
  tests/functional/commands/validate/lib/models/api_rest_paths_with_if_condition_swagger_no_value_else_case.yaml
  tests/functional/commands/validate/lib/models/api_rest_paths_with_if_condition_swagger_no_value_then_case.yaml
  tests/functional/commands/validate/lib/models/api_with_disable_api_execute_endpoint.yaml
  tests/functional/commands/validate/lib/models/api_with_no_properties.yaml
  tests/functional/commands/validate/lib/models/api_with_security_definition_and_components.yaml
  tests/functional/commands/validate/lib/models/api_with_security_definition_and_no_components.yaml
  tests/functional/commands/validate/lib/models/api_with_security_definition_and_none_components.yaml
  tests/functional/commands/validate/lib/models/basic_function.yaml
  tests/functional/commands/validate/lib/models/congito_userpool_with_sms_configuration.yaml
  tests/functional/commands/validate/lib/models/function_with_disabled_traffic_hook.yaml
  tests/functional/commands/validate/lib/models/function_with_ephemeral_storage.yaml
  tests/functional/commands/validate/lib/models/function_with_event_filtering.yaml
  tests/functional/commands/validate/lib/models/function_with_event_source_mapping.yaml
  tests/functional/commands/validate/lib/models/function_with_null_events.yaml
  tests/functional/commands/validate/lib/models/globals_for_function.yaml
  tests/functional/commands/validate/lib/models/http_api_multiple_authorizers.yaml
  tests/functional/commands/validate/lib/models/intrinsic_functions.yaml
  tests/functional/commands/validate/lib/models/resource_with_invalid_type.yaml
  tests/functional/commands/validate/lib/models/state_machine_with_null_events.yaml
  tests/functional/commands/validate/lib/models/translate_convert_metadata.yaml
  tests/functional/commands/validate/lib/models/unsupported_resources.yaml
Labels: pr/internal

#3780 chore: bump version to 1.43.0
  samcli/__init__.py
Labels: pr/internal

#3776 fix: warm containers break on non-local layers
  samcli/lib/utils/file_observer.py
  tests/integration/local/invoke/layer_utils.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/main-layers.py
  tests/integration/testdata/start_api/template-warm-containers-layers.yaml
  tests/unit/lib/utils/test_file_observer.py
Labels: pr/internal

#3785 Fix broken integration tests due to new Go code binding in EB
  tests/integration/init/schemas/test_init_with_schemas_command.py
Labels: pr/internal

#3790 Bump minimum boto3 version to 1.19.5
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal
