Repository aws/aws-sam-cli, pull requests merged in 2022-02, with the labels that each got.

#3612 fix: Updated get-pip.py for Python3.6
  appveyor-iac-integration-ubuntu.yml
  appveyor-ubuntu.yml
  appveyor.yml
Labels: pr/internal

#3603 fix: Add Validation for Incompatible watch and code Options
  samcli/commands/_utils/click_mutex.py
  samcli/commands/init/__init__.py
  samcli/commands/local/cli_common/click_mutex.py
  samcli/commands/sync/command.py
  tests/integration/init/test_init_command.py
  tests/unit/commands/_utils/test_click_mutex.py
Labels: area/init, pr/internal, area/sync

#3606 feat: change unformatted option into output option for sam logs and sam traces
  samcli/commands/_utils/options.py
  samcli/commands/logs/command.py
  samcli/commands/logs/puller_factory.py
  samcli/commands/traces/command.py
  samcli/commands/traces/traces_puller_factory.py
  samcli/lib/observability/util.py
  tests/unit/commands/logs/test_command.py
  tests/unit/commands/logs/test_puller_factory.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/traces/test_command.py
  tests/unit/commands/traces/test_traces_puller_factory.py
Labels: area/logs, pr/internal, area/traces

#3613 feat: Consume esbuild function metadata and pass to lambda builders
  samcli/lib/build/app_builder.py
  samcli/lib/build/workflow_config.py
  samcli/lib/samlib/resource_metadata_normalizer.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
Labels: area/build, pr/internal

#3624 fix: provided makefile py36 tests
  tests/integration/testdata/buildcmd/Provided/Makefile-container
Labels: pr/internal

#3634 chore: use ps prefix for windows integration tests to run pytest commands
  appveyor-windows-build-dotnet.yml
  appveyor-windows-build-go.yml
  appveyor-windows-build-java-container.yml
  appveyor-windows-build-java-ruby-inprocess.yml
  appveyor-windows-build-nodejs.yml
  appveyor-windows-build-python.yml
  appveyor-windows-build-ruby.yml
  appveyor-windows.yml
  appveyor.yml
Labels: pr/internal

#3630 feat: Added Persistent Process Utils
  requirements/dev.txt
  tests/testing_utils.py
Labels: pr/internal

#3628 feat: Allow Independent Build Definitions Based on Build Method
  samcli/lib/build/build_graph.py
  tests/unit/lib/build_module/test_build_graph.py
Labels: area/build, pr/internal

#3637 chore: bump aws-lambda-builders to 1.11.0 version
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#3636 feat: Update build graph to include handler for esbuild comparison
  samcli/lib/build/app_builder.py
  samcli/lib/build/build_graph.py
  tests/unit/lib/build_module/test_build_graph.py
  tests/unit/lib/build_module/test_build_strategy.py
Labels: area/build, pr/internal

#3580 chore: Code sync integration tests
  tests/integration/sync/sync_integ_base.py
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/testdata/sync/code/after/apigateway/definition.json
  tests/integration/testdata/sync/code/after/apigateway2/definition.yaml
  tests/integration/testdata/sync/code/after/function/__init__.py
  tests/integration/testdata/sync/code/after/function/app.py
  tests/integration/testdata/sync/code/after/function/requirements.txt
  tests/integration/testdata/sync/code/after/layer/__init__.py
  tests/integration/testdata/sync/code/after/layer/layer_method.py
  tests/integration/testdata/sync/code/after/layer/requirements.txt
  tests/integration/testdata/sync/code/after/statemachine/function.asl.json
  tests/integration/testdata/sync/code/before/apigateway/definition.json
  tests/integration/testdata/sync/code/before/apigateway2/definition.yaml
  tests/integration/testdata/sync/code/before/function/__init__.py
  tests/integration/testdata/sync/code/before/function/app.py
  tests/integration/testdata/sync/code/before/function/requirements.txt
  tests/integration/testdata/sync/code/before/layer/__init__.py
  tests/integration/testdata/sync/code/before/layer/layer_method.py
  tests/integration/testdata/sync/code/before/layer/requirements.txt
  tests/integration/testdata/sync/code/before/statemachine/function.asl.json
  tests/integration/testdata/sync/code/before/template-python.yaml
Labels: pr/internal

#3622 chore: Sync UX updates to remove irrelevant messages
  samcli/commands/build/build_context.py
  samcli/commands/sync/command.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/sync/test_command.py
Labels: area/build, pr/internal, area/sync

#3602 feat: java build changes
  samcli/commands/_utils/experimental.py
  samcli/commands/build/build_context.py
  samcli/lib/build/app_builder.py
  samcli/lib/build/build_strategy.py
  samcli/local/docker/lambda_build_container.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/local/docker/test_lambda_build_container.py
Labels: area/build, pr/internal

#3608 fix: Sync Help Text Typos
  samcli/commands/sync/command.py
Labels: pr/internal, area/sync

#3650 chore: fix windows canaries for "sam local" tests
  appveyor-windows.yml
  tests/iac_integration/cdk/test_sam_cdk_integration.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/sync/test_sync_infra.py
Labels: pr/internal

#3651 fix(ci): Move to Ruby 2.7 over 1.9
  appveyor-windows.yml
Labels: pr/internal

#3656 fix: Skip APIs with No DefinitionUri
  samcli/lib/sync/flows/generic_api_sync_flow.py
Labels: pr/internal

#3645 chore: bump version to 1.38.0
  samcli/__init__.py
Labels: pr/internal

#3601 feat: sam init changes to improve getting manifest time and clone messaging
  samcli/commands/init/__init__.py
  samcli/commands/init/init_templates.py
  samcli/commands/init/interactive_init_flow.py
  samcli/lib/utils/git_repo.py
  tests/unit/commands/init/test_cli.py
Labels: area/init, pr/external

#3638 feat: Enable esbuild feature flag in sam-cli
  samcli/commands/_utils/experimental.py
  samcli/commands/build/build_context.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/buildcmd/test_build_context.py
Labels: area/build, pr/internal

#3658 test: Do not run sam local commands in thread
  tests/iac_integration/cdk/test_sam_cdk_integration.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
Labels: pr/internal

#3652 Update README.md
  README.md
Labels: pr/external

#3663 fix: Rollback esbuild feature flag
  samcli/commands/_utils/experimental.py
  samcli/commands/build/build_context.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/buildcmd/test_build_context.py
Labels: area/build, pr/internal

#3665 Revert "feat: sam init changes to improve getting manifest time and clone messaging"
  samcli/commands/init/__init__.py
  samcli/commands/init/init_templates.py
  samcli/commands/init/interactive_init_flow.py
  samcli/lib/utils/git_repo.py
  tests/unit/commands/init/test_cli.py
Labels: area/init, pr/internal

#3664 chore: version bump to 1.38.1
  samcli/__init__.py
Labels: pr/internal

#3668 chore: Bump lambda builders version to 1.12.0
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#3659 test: Esbuild integration tests
  appveyor.yml
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/Esbuild/Node/main.js
  tests/integration/testdata/buildcmd/Esbuild/Node/package.json
  tests/integration/testdata/buildcmd/Esbuild/TypeScript/app.ts
  tests/integration/testdata/buildcmd/Esbuild/TypeScript/package.json
  tests/integration/testdata/buildcmd/template_with_metadata.yaml
Labels: area/build, pr/internal

#3666 Revert "Revert "feat: sam init changes to improve getting manifest time and clone messaging""
  samcli/commands/init/__init__.py
  samcli/commands/init/init_templates.py
  samcli/commands/init/interactive_init_flow.py
  samcli/lib/utils/git_repo.py
  tests/unit/commands/init/test_cli.py
Labels: area/init, pr/internal

#3611 fix: remove deprecated runtime support for nodejs10.x, ruby2.5, dotnetcore2.1 and python2.7
  CONTRIBUTING.md
  samcli/commands/build/command.py
  samcli/commands/init/__init__.py
  samcli/commands/init/init_templates.py
  samcli/lib/build/app_builder.py
  samcli/lib/build/workflow_config.py
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/cookiecutter.json
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/src/HelloWorld/HelloWorld.csproj
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/src/HelloWorld/aws-lambda-tools-defaults.json
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/template.yaml
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/test/HelloWorld.Test/HelloWorld.Tests.csproj
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-python/README.md
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-python/{{cookiecutter.project_name}}/README.md
  samcli/lib/providers/sam_function_provider.py
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/telemetry/integ_base.py
  tests/integration/testdata/buildcmd/Dotnetcore2.1/HelloWorld.csproj
  tests/integration/testdata/buildcmd/Dotnetcore2.1/Program.cs
  tests/integration/testdata/buildcmd/Dotnetcore2.1/aws-lambda-tools-defaults.json
  tests/integration/testdata/invoke/credential_tests/inprocess/template.yaml
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/init/test_manifest.json
  tests/unit/commands/init/test_templates.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_graph.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/lib/cli_validation/test_image_repository_validation.py
  tests/unit/lib/utils/test_architecture.py
  tests/unit/local/docker/test_lambda_build_container.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
Labels: area/local/start-api, area/init, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#3614 fix: Base Dir Support for Watch
  samcli/lib/sync/watch_manager.py
  samcli/lib/utils/code_trigger_factory.py
  samcli/lib/utils/resource_trigger.py
  tests/unit/lib/sync/test_watch_manager.py
  tests/unit/lib/utils/test_code_trigger_factory.py
  tests/unit/lib/utils/test_resource_trigger.py
Labels: pr/internal

#3679 chore: Update nodejs version in canary
  appveyor-ubuntu.yml
Labels: pr/internal

#3678 chore: Version bump to 1.39.0
  samcli/__init__.py
Labels: pr/internal

#3685 fix: Revert "feat: support openapi yaml include validation"
  samcli/commands/validate/lib/sam_template_validator.py
  tests/functional/commands/validate/lib/models/explicit_http_api_minimum_include.yaml
  tests/functional/commands/validate/lib/openapi/openapi.yaml
  tests/integration/testdata/validate/openapi_json/openapi.json
  tests/integration/testdata/validate/openapi_json/template.json
  tests/integration/testdata/validate/openapi_yaml/openapi.yaml
  tests/integration/testdata/validate/openapi_yaml/template.yaml
  tests/integration/validate/test_validate_command.py
  tests/unit/commands/local/lib/swagger/test_parser.py
  tests/unit/commands/validate/lib/test_sam_template_validator.py
Labels: area/validate, pr/internal

#3688 Update Lambda Builder version
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#3687 Feat dotnet6 aboelha (#415)
  .gitignore
  appveyor-windows-build-dotnet.yml
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/src/HelloWorld/HelloWorld.csproj
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/test/HelloWorld.Test/HelloWorld.Tests.csproj
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/Dotnet6/HelloWorld.csproj
  tests/integration/testdata/buildcmd/Dotnet6/Program.cs
  tests/integration/testdata/buildcmd/Dotnet6/aws-lambda-tools-defaults.json
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#3689 chore: bump version to 1.40.0
  samcli/__init__.py
Labels: pr/internal
