Repository aws/aws-sam-cli, pull requests merged in 2022-04, with the labels that each got.

#3794 fix: increase container start timeout
  samcli/local/docker/container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#3796 chore: update development guide
  DEVELOPMENT_GUIDE.md
  appveyor-windows-build-dotnet.yml
  appveyor-windows-build-go.yml
  appveyor-windows-build-java-container.yml
  appveyor-windows-build-nodejs.yml
  appveyor-windows-build-python.yml
  appveyor-windows-build-ruby.yml
  appveyor-windows.yml
Labels: pr/internal

#3800 Revert "fix: container start waits for port (#3783)"
  samcli/commands/build/build_context.py
  samcli/commands/local/lib/local_lambda.py
  samcli/local/docker/container.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#3801 fix: Update expected values for sync integration tests
  tests/integration/sync/test_sync_infra.py
Labels: pr/internal

#3804 chore: update to aws-sam-translator 1.45.0
  requirements/base.txt
  requirements/reproducible-linux.txt
  tests/functional/commands/validate/lib/models/function_with_function_url_config.yaml
  tests/functional/commands/validate/lib/models/function_with_function_url_config_and_autopublishalias.yaml
  tests/functional/commands/validate/lib/models/function_with_function_url_config_with_iam_authorization_type.yaml
  tests/functional/commands/validate/lib/models/function_with_function_url_config_with_intrinsics.yaml
  tests/functional/commands/validate/lib/models/function_with_function_url_config_without_cors_config.yaml
Labels: pr/internal

#3805 Function Url Auth Type Prompt (#416)
  samcli/commands/deploy/auth_utils.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  tests/unit/commands/deploy/test_auth_utils.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/local/lib/test_provider.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/deploy, pr/internal

#3806 chore: bump version to 1.45.0
  samcli/__init__.py
Labels: pr/internal

#3726 SAM INIT support for custom runtimes
  samcli/commands/init/init_templates.py
  samcli/commands/init/interactive_init_flow.py
  samcli/lib/init/__init__.py
  samcli/local/common/runtime_template.py
  tests/unit/commands/init/test_cli.py
Labels: area/local/start-api, area/init, area/local/invoke, pr/external, area/local/start-invoke

#3809 chore: bump version to 1.46.0
  samcli/__init__.py
Labels: pr/internal

#3574 fix: Add support for extracting cors options from apigw method resource
  samcli/lib/providers/cfn_api_provider.py
  samcli/lib/providers/cfn_base_api_provider.py
  samcli/lib/providers/provider.py
  tests/integration/local/start_api/test_start_api_cdk_template.py
  tests/integration/testdata/start_api/cdk/template-cors-configs.yaml
  tests/unit/commands/local/lib/test_cfn_api_provider.py
Labels: pr/internal

#3815 bind samcli version to certain commit of app template
  samcli/commands/init/init_templates.py
  samcli/lib/utils/configuration.py
  samcli/lib/utils/git_repo.py
  samcli/runtime_config.json
  tests/integration/init/test_init_command.py
  tests/unit/lib/utils/test_configuration.py
  tests/unit/lib/utils/test_git_repo.py
Labels: area/init, pr/internal

#3653 fix: use original function and layer build definition after updating manifest and codeuri hashes
  samcli/lib/build/build_graph.py
  tests/unit/lib/build_module/test_build_graph.py
Labels: area/build, pr/internal

#3607 chore: sam logs integration tests
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/logs/logs_integ_base.py
  tests/integration/logs/test_logs_command.py
  tests/integration/package/package_integ_base.py
  tests/integration/testdata/logs/python-apigw-sfn/apigw-function/app.py
  tests/integration/testdata/logs/python-apigw-sfn/sfn-function/app.py
  tests/integration/testdata/logs/python-apigw-sfn/template.yaml
  tests/testing_utils.py
Labels: pr/internal

#3825 chore: Bump pylint version
  .pylintrc
  requirements/pre-dev.txt
  samcli/cli/context.py
  samcli/cli/main.py
  samcli/commands/_utils/option_value_processor.py
  samcli/commands/init/interactive_init_flow.py
  samcli/lib/build/build_graph.py
  samcli/lib/cookiecutter/template.py
  samcli/lib/init/__init__.py
  samcli/lib/package/utils.py
  samcli/lib/utils/codeuri.py
  samcli/lib/utils/git_repo.py
  samcli/lib/utils/hash.py
  samcli/lib/utils/managed_cloudformation_stack.py
  samcli/local/docker/lambda_image.py
Labels: pr/internal

#3835 fix: accept CDK resource path that does not end with /Resource
  samcli/lib/samlib/resource_metadata_normalizer.py
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
Labels: pr/internal

#3833 Adding sam validate to cli output
  samcli/commands/build/build_context.py
  samcli/commands/init/interactive_init_flow.py
Labels: area/init, area/build, pr/external

#3838 chore: add gh action to update app templates hash
  .github/workflows/update_app_templates_hash.yml
Labels: pr/internal

#3840 chore: Bump lambda builders version
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#3831 fix: wait for socket connection before invoking/executing function in local invoke, start-api, etc.
  samcli/commands/local/lib/local_lambda.py
  samcli/commands/validate/lib/sam_template_validator.py
  samcli/local/docker/container.py
  samcli/local/lambdafn/runtime.py
  samcli/yamlhelper.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/local/start-api, area/validate, area/local/invoke, pr/internal, area/local/start-invoke

#3842 Fix tests to not depend on changeable value
  tests/unit/lib/utils/test_configuration.py
Labels: pr/internal

#3844 chore: bump version to 1.47.0
  samcli/__init__.py
Labels: pr/internal

#3817 feat: sam init support for x-ray tracing
  samcli/commands/init/__init__.py
  samcli/commands/init/init_generator.py
  samcli/commands/init/interactive_init_flow.py
  samcli/lib/init/__init__.py
  samcli/lib/init/template_modifiers/__init__.py
  samcli/lib/init/template_modifiers/cli_template_modifier.py
  samcli/lib/init/template_modifiers/xray_tracing_template_modifier.py
  tests/functional/commands/init/test_interactive_init_flow.py
  tests/integration/init/test_init_command.py
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/init/test_cli_template_modifier.py
Labels: area/init, pr/external

#3839 fix: sam init schema integration tests
  tests/integration/init/schemas/schemas_test_data_setup.py
Labels: pr/internal
