Repository aws/aws-sam-cli, pull requests merged in 2022-05, with the labels that each got.

#3827 #3826: print the appropriate message for the nested stack
  samcli/lib/providers/sam_stack_provider.py
Labels: pr/external

#3832 chore: store stack resources in memory
  samcli/lib/providers/provider.py
  tests/unit/commands/local/lib/test_provider.py
Labels: pr/internal

#3847 fix: deploy and init integration tests
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/init/schemas/test_init_with_schemas_command.py
  tests/integration/init/test_init_command.py
Labels: pr/internal

#3848 chore: bump version to 1.48.0
  samcli/__init__.py
Labels: pr/internal

#3845 feat: Added Support for Test Account Management
  appveyor-ubuntu.yml
  appveyor-windows.yml
  appveyor.yml
  tests/get_testing_resources.py
Labels: pr/internal

#3859 fix: command should not fail when global config fails to write
  samcli/cli/global_config.py
  tests/functional/commands/cli/test_global_config.py
  tests/unit/cli/test_global_config.py
Labels: pr/internal

#3868 chore: Version bump to 1.49.0
  samcli/__init__.py
  samcli/local/docker/lambda_debug_settings.py
  tests/unit/commands/init/test_cli.py
Labels: pr/internal

#3874 fix: iac canaries
  appveyor-iac-integration-ubuntu.yml
Labels: pr/internal

#3862 fix: Lock functions from building with same codeuri at the same time
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/sync/sync_flow.py
  tests/integration/sync/test_sync_code.py
  tests/integration/testdata/sync/code/after/dotnet_function/src/HelloWorld/AnotherFunction.cs
  tests/integration/testdata/sync/code/after/dotnet_function/src/HelloWorld/Function.cs
  tests/integration/testdata/sync/code/after/dotnet_function/src/HelloWorld/HelloWorld.csproj
  tests/integration/testdata/sync/code/before/dotnet_function/src/HelloWorld/AnotherFunction.cs
  tests/integration/testdata/sync/code/before/dotnet_function/src/HelloWorld/Function.cs
  tests/integration/testdata/sync/code/before/dotnet_function/src/HelloWorld/HelloWorld.csproj
  tests/integration/testdata/sync/code/before/template-dotnet.yaml
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_zip_function_sync_flow.py
  tests/unit/lib/sync/test_sync_flow.py
Labels: pr/internal

#3818 fix: Use abs path to upload stackset template on S3
  samcli/lib/package/artifact_exporter.py
  tests/integration/package/test_package_command_zip.py
  tests/integration/testdata/package/stackset/nested-template.yaml
Labels: pr/external

#3876 fix: Add in trace event revision to prevent partial trace printing
  samcli/lib/observability/cw_logs/cw_log_puller.py
  samcli/lib/observability/observability_info_puller.py
  samcli/lib/observability/xray_traces/xray_event_mappers.py
  samcli/lib/observability/xray_traces/xray_event_puller.py
  samcli/lib/observability/xray_traces/xray_events.py
  samcli/lib/observability/xray_traces/xray_service_graph_event_puller.py
  tests/unit/lib/observability/xray_traces/test_xray_event_mappers.py
  tests/unit/lib/observability/xray_traces/test_xray_event_puller.py
  tests/unit/lib/observability/xray_traces/test_xray_events.py
  tests/unit/lib/observability/xray_traces/test_xray_service_graph_event_puller.py
Labels: pr/internal

#3878 chore: bump version to 1.50.0
  samcli/__init__.py
Labels: pr/internal

#3856 feat: sam init support for x-ray tracing (API Gateway)
  samcli/lib/init/template_modifiers/cli_template_modifier.py
  samcli/lib/init/template_modifiers/xray_tracing_template_modifier.py
  tests/unit/lib/init/test_cli_template_modifier.py
Labels: pr/external

#3788 Fix multivalue query params http
  samcli/local/apigw/local_apigw_service.py
  samcli/local/events/api_event.py
  tests/integration/local/start_api/test_start_api.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/events/test_api_event.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#3853 feat: Nested stack support for sync watch
  samcli/lib/providers/exceptions.py
  samcli/lib/sync/flows/http_api_sync_flow.py
  samcli/lib/sync/watch_manager.py
  samcli/lib/utils/definition_validator.py
  samcli/lib/utils/resource_trigger.py
  tests/unit/lib/sync/test_watch_manager.py
  tests/unit/lib/utils/test_definition_validator.py
  tests/unit/lib/utils/test_resource_trigger.py
Labels: pr/internal

#3618 feat: sam traces integration test
  tests/integration/testdata/traces/python-apigw-sfn/apigw-function/app.py
  tests/integration/testdata/traces/python-apigw-sfn/sfn-function/app.py
  tests/integration/testdata/traces/python-apigw-sfn/template.yaml
  tests/integration/traces/test_traces_command.py
  tests/integration/traces/traces_integ_base.py
Labels: pr/internal

#3879 fix: Fixing the trace event class to support trace_id option
  samcli/lib/observability/xray_traces/xray_event_mappers.py
  samcli/lib/observability/xray_traces/xray_event_puller.py
  samcli/lib/observability/xray_traces/xray_events.py
  tests/unit/lib/observability/xray_traces/test_xray_event_puller.py
Labels: pr/internal

#3890 feat: improve new PR and issue labeling for triaging
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/other.md
  .github/workflows/pr-labeler.yml
Labels: pr/internal

#3881 feat: nested stack support for sam logs
  samcli/commands/logs/command.py
  samcli/commands/logs/logs_context.py
  samcli/lib/observability/xray_traces/xray_events.py
  samcli/lib/utils/cloudformation.py
  tests/integration/logs/test_logs_command.py
  tests/integration/sync/test_sync_infra.py
  tests/unit/commands/logs/test_logs_context.py
  tests/unit/lib/utils/test_cloudformation.py
Labels: area/logs, pr/internal

#3500 feat: prevent deploy throttle with customizable interval for DescribeStack via env
  samcli/commands/deploy/command.py
  samcli/commands/deploy/deploy_context.py
  samcli/commands/sync/command.py
  samcli/lib/deploy/deployer.py
  tests/unit/commands/deploy/test_command.py
  tests/unit/commands/deploy/test_deploy_context.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/deploy/test_deployer.py
Labels: pr/external

#3896 feat: make java build scope changes default
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/commands/_utils/experimental.py
  samcli/commands/build/build_context.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/buildcmd/test_build_context.py
Labels: area/build, pr/internal

#3889 Add explicit --no-cached option
  samcli/commands/_utils/options.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/samconfig_no_cached.toml
  tests/unit/commands/samconfig/test_samconfig.py
Labels: pr/external

#3893 feat: ADL nested stack support
  samcli/commands/build/build_context.py
  samcli/lib/bootstrap/nested_stack/nested_stack_builder.py
  samcli/lib/bootstrap/nested_stack/nested_stack_manager.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/lib/bootstrap/nested_stack/test_nested_stack_builder.py
  tests/unit/lib/bootstrap/nested_stack/test_nested_stack_manager.py
Labels: area/build, pr/internal

#3909 test: Integration Tests for Sync Watch with Nested Stacks
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/sync/code/before/parent-stack.yaml
  tests/integration/testdata/sync/infra/parent-stack.yaml
Labels: pr/internal

#3905 fix: Add lockchain and status check to prevent sync flows race condition on function update
  samcli/lib/sync/flows/function_sync_flow.py
  samcli/lib/sync/flows/image_function_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/sync/sync_flow.py
  samcli/lib/sync/watch_manager.py
  samcli/lib/utils/lock_distributor.py
  tests/integration/sync/test_sync_code.py
  tests/unit/lib/sync/flows/test_image_function_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_zip_function_sync_flow.py
  tests/unit/lib/sync/test_sync_flow.py
Labels: pr/internal

#3851 feat: Add table view and rich table
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/views/__init__.py
  samcli/views/concrete_views/__init__.py
  samcli/views/concrete_views/rich_table.py
  samcli/views/table_view.py
  tests/unit/views/__init__.py
  tests/unit/views/test_rich_table.py
Labels: pr/internal

#3887 Sync code nested
  samcli/commands/build/build_context.py
  samcli/commands/sync/command.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/sync_flow_factory.py
  samcli/lib/utils/cloudformation.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/local/lib/test_provider.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/sync/test_sync_flow_factory.py
  tests/unit/lib/utils/test_cloudformation.py
Labels: pr/internal

#3913 fix: use correct entry file for node 16 debugging
  samcli/local/docker/lambda_debug_settings.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke, stage/needs-triage

#3898 Add --exclude flag to sam build
  samcli/commands/build/build_context.py
  samcli/commands/build/command.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/many-more-functions-template.yaml
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/buildcmd/test_command.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/external, maintainer/need-followup

#3902 chore: run app templates hash updated job only on aws/aws-sam-cli
  .github/workflows/update_app_templates_hash.yml
Labels: pr/internal

#3924 chore: bump version to 1.51.0
  samcli/__init__.py
Labels: pr/internal
