Repository aws/aws-sam-cli, pull requests merged in 2022-11, with the labels that each got.

#4362 fix: regresssion on `sam delete`
  samcli/lib/delete/cfn_utils.py
  tests/unit/lib/delete/test_cfn_utils.py
Labels: type/regression, pr/internal

#4367 Updated readme
  README.md
Labels: pr/external, stage/needs-triage

#4360 Extract full file name from Dockerfile path
  samcli/lib/samlib/resource_metadata_normalizer.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/PythonImage/Dockerfile.production
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
Labels: pr/external, stage/needs-triage

#4370 feat: error out if input is required on terraform init
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: pr/internal

#4371 fix: Ignore template option when using hook package
  samcli/commands/build/build_context.py
  tests/unit/commands/buildcmd/test_build_context.py
Labels: area/build, pr/internal

#4366 fix: skip processing references to Data sources resources, and constant values.
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/artifacts/simple_layer33.zip
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/artifacts/simple_layer44.zip
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/lambda_function_with_const_layer/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/lambda_function_with_const_layers_using_data_sources/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#4368 Fix escape double quotes in generating Make rule
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend_windows/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend_windows/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: pr/internal

#4376 Update aws-sam-cli-bot as user for internal pr labels
  .github/workflows/pr-labeler.yml
Labels: pr/internal

#4365 fix: make the experimental warning message printed before the prepare hook logic
  samcli/cli/options.py
  samcli/commands/_utils/custom_options/hook_package_id_option.py
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/local/common_utils.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/commands/buildcmd/test_command.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: pr/internal

#4353 feat: link sam metadata resource to lambda resource if there is no resource_name attribute
  samcli/hook_packages/terraform/copy_terraform_built_artifacts.py
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/lib/utils.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: pr/internal

#4333 Publish pytesttest reports as artifacts in canary jobs
  appveyor-ubuntu.yml
  appveyor-windows.yml
  requirements/dev.txt
Labels: pr/internal

#4380 version: bring in latest lambda builders version
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#4074 Use the same DockerContext and Dockerfile paths as the CDK is using
  samcli/lib/samlib/resource_metadata_normalizer.py
  tests/iac_integration/cdk/test_sam_cdk_integration.py
  tests/iac_integration/cdk/testdata/cdk_v1/java/src/main/java/com/myorg/JavaStack.java
  tests/iac_integration/cdk/testdata/cdk_v1/python/python/python_stack.py
  tests/iac_integration/cdk/testdata/cdk_v1/typescript/lib/test-stack.ts
  tests/iac_integration/cdk/testdata/cdk_v2/java/src/main/java/com/myorg/JavaStack.java
  tests/iac_integration/cdk/testdata/cdk_v2/python/python/python_stack.py
  tests/iac_integration/cdk/testdata/cdk_v2/typescript/lib/test-stack.ts
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/DockerImageFunctionWithSharedCode/Dockerfile
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/DockerImageFunctionWithSharedCode/app.js
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/FunctionImageAssetWithSharedCode/Dockerfile
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/FunctionImageAssetWithSharedCode/app.js
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/SharedCode/shared.js
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/package.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/__init__.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_phi/Dockerfile
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_phi/__init__.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_phi/main.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_pi/Dockerfile
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_pi/__init__.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_pi/main.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/requirements.txt
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/shared_code/__init__.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/shared_code/numbers.py
  tests/integration/testdata/buildcmd/template_images_with_shared_code.yaml
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
Labels: pr/external, area/cdk

#4383 feat: Merge develop into develop-terraform-hooks
  .github/workflows/pr-labeler.yml
  README.md
  appveyor-iac-integration-ubuntu.yml
  appveyor-ubuntu.yml
  appveyor-windows.yml
  appveyor.yml
  installer/assets/THIRD-PARTY-LICENSES
  pytest.ini
  requirements/base.txt
  requirements/dev.txt
  requirements/reproducible-linux.txt
  samcli/__init__.py
  samcli/commands/_utils/click_mutex.py
  samcli/commands/_utils/table_print.py
  samcli/commands/build/click_container.py
  samcli/lib/delete/cfn_utils.py
  samcli/lib/samlib/resource_metadata_normalizer.py
  samcli/local/common/runtime_template.py
  samcli/local/services/base_local_service.py
  samcli/runtime_config.json
  tests/iac_integration/cdk/test_sam_cdk_integration.py
  tests/iac_integration/cdk/testdata/cdk_v1/java/src/main/java/com/myorg/JavaStack.java
  tests/iac_integration/cdk/testdata/cdk_v1/python/python/python_stack.py
  tests/iac_integration/cdk/testdata/cdk_v1/typescript/lib/test-stack.ts
  tests/iac_integration/cdk/testdata/cdk_v2/java/src/main/java/com/myorg/JavaStack.java
  tests/iac_integration/cdk/testdata/cdk_v2/python/python/python_stack.py
  tests/iac_integration/cdk/testdata/cdk_v2/typescript/lib/test-stack.ts
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/DockerImageFunctionWithSharedCode/Dockerfile
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/DockerImageFunctionWithSharedCode/app.js
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/FunctionImageAssetWithSharedCode/Dockerfile
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/FunctionImageAssetWithSharedCode/app.js
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/SharedCode/shared.js
  tests/iac_integration/cdk/testdata/src/docker/ImagesWithSharedCode/package.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/init/test_init_command.py
  tests/integration/local/common_utils.py
  tests/integration/sync/test_sync_code.py
  tests/integration/telemetry/integ_base.py
  tests/integration/testdata/buildcmd/PythonImage/Dockerfile.production
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/__init__.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_phi/Dockerfile
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_phi/__init__.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_phi/main.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_pi/Dockerfile
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_pi/__init__.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/feature_pi/main.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/requirements.txt
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/shared_code/__init__.py
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/shared_code/numbers.py
  tests/integration/testdata/buildcmd/template_images_with_shared_code.yaml
  tests/unit/commands/deploy/test_guided_config.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/delete/test_cfn_utils.py
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#4382 chore: rename hook-package-id option to hook-name
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/commands/_utils/options.py
  samcli/commands/build/build_context.py
  samcli/commands/build/command.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/hook_packages/terraform/Config.json
  samcli/lib/hook/hook_config.py
  samcli/lib/hook/hook_config_schema.json
  samcli/lib/hook/hook_wrapper.py
  samcli/lib/telemetry/metric.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/buildcmd/test_command.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/start_lambda/test_cli.py
  tests/unit/lib/hook/test_hook_config.py
  tests/unit/lib/hook/test_hook_wrapper.py
  tests/unit/lib/telemetry/test_metric.py
Labels: area/build, area/local/invoke, pr/internal

#4384 test: increase terraform sample functions timeout
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/l1_lambda/l2_lambda/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/l1_lambda/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/l1_lambda/l2_lambda/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/l1_lambda/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/lambda_function/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/lambda_tf_module/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/lambda_tf_module/nested_lambda_tf_module/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend_windows/lambda_function/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend_windows/lambda_tf_module/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend_windows/lambda_tf_module/nested_lambda_tf_module/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend_windows/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/lambda_function/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/lambda_tf_module/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/lambda_tf_module/nested_lambda_tf_module/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend_windows/lambda_function/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend_windows/lambda_tf_module/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend_windows/lambda_tf_module/nested_lambda_tf_module/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend_windows/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/lambda/lambda2/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/lambda/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/lambda_function/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/lambda_function_with_const_layer/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/lambda_function_with_const_layers_using_data_sources/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/main.tf
Labels: pr/internal

#4379 feat: Run subprocess with loading pattern
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/lib/utils/subprocess_utils.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/lib/utils/test_subprocess_utils.py
Labels: pr/internal

#4378 feat: add hook metadata to generated template and use for telemetry
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/lib/hook/utils.py
  samcli/lib/telemetry/metric.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#4377 feat: Added --skip-prepare-infra to skip the prepare hook stage
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/lib/hook/hook_wrapper.py
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/commands/_utils/test_options.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/lib/hook/test_hook_wrapper.py
Labels: area/build, area/local/invoke, pr/internal

#4387 feat: raise error for terraform expression that mix between constant values and references
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#4386 chore: add terraform Appveyor testing jobs
  appveyor-ubuntu.yml
  appveyor-windows.yml
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
Labels: area/local/start-api, area/init, area/build, area/local/invoke, pr/internal, area/sync, area/local/start-invoke

#4389 exclude installer dir in build
  MANIFEST.in
  setup.py
Labels: pr/internal

#4388 test: use Serverless TF module from terraform registry
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend_windows/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend_windows/main.tf
  tests/integration/testdata/invoke/terraform/image_lambda_function_local_image_uri/main.tf
  tests/integration/testdata/invoke/terraform/simple_application_with_layers_no_building_logic/main.tf
Labels: pr/internal

#4392 Ignore ResourceWarning in pytest
  pytest.ini
Labels: pr/internal

#4394 feat: Update skip prepare infra message
  samcli/commands/_utils/options.py
Labels: pr/internal

#4397 chore: Add issue links
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#4398 chore: Merge develop to terraform
  MANIFEST.in
  samcli/runtime_config.json
  setup.py
Labels: pr/internal

#4393 chore: bump version to 1.62.0
  samcli/__init__.py
Labels: pr/internal

#4400 chore: merge from develop
  samcli/__init__.py
Labels: pr/internal

#4328 feat: Display more helpful message when encountering Windows long path problem
  samcli/lib/utils/git_repo.py
  tests/unit/commands/init/test_templates.py
  tests/unit/lib/utils/test_git_repo.py
Labels: area/init, pr/internal

#4407 chore: bump version to 1.63.0
  samcli/__init__.py
Labels: pr/internal

#4410 feat: add dotnet7 build method (#428)
  .gitignore
  samcli/lib/build/workflow_config.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/Dotnet7/HelloWorld.csproj
  tests/integration/testdata/buildcmd/Dotnet7/Program.cs
  tests/integration/testdata/buildcmd/Dotnet7/aws-lambda-tools-defaults.json
  tests/integration/testdata/buildcmd/Dotnet7/rd.xml
  tests/integration/testdata/buildcmd/template_build_method_dotnet_7.yaml
  tests/unit/lib/build_module/test_workflow_config.py
Labels: area/build, pr/internal

#4414 chore: bump version 1.64.0
  samcli/__init__.py
Labels: pr/internal

#4418 feat: nodejs18.x support for samcli
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/commands/init/test_cli.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#4416 chore: Add CODEOWNERS file
  CODEOWNERS
Labels: pr/internal

#4425 chore: bump version to 1.65.0
  appveyor-windows-build-java-container.yml
  samcli/__init__.py
Labels: pr/internal

#4423 chore: Clarify note about code building on `sam local start-api`
  samcli/commands/local/lib/local_api_service.py
Labels: area/local/start-api, pr/external

#4431 chore: bump version to 1.66.0
  samcli/__init__.py
Labels: pr/internal

#4433 chore: bump version to 1.65.1
  samcli/__init__.py
Labels: pr/internal

#4437 chore: revert version to 1.65.0
  samcli/__init__.py
Labels: pr/internal

#4442 feat: MacOS PyInstaller build spec and update on licenses
  NOTICE
  installer/assets/THIRD-PARTY-LICENSES
  installer/assets/install
  installer/pyinstaller/build-mac.sh
  installer/pyinstaller/samcli-mac.spec
  requirements/pyinstaller-build.txt
Labels: pr/internal

#4429 fix: set `flaky` marker on sam publish tests
  tests/integration/publish/test_command_integ.py
Labels: pr/internal

#4445 fix: updated linux pyinstaller script
  installer/pyinstaller/build-linux.sh
Labels: pr/internal

#4447 chore: bump version to 1.66.0
  samcli/__init__.py
Labels: pr/internal

#4448 fix: fix sam init schema tests
  tests/integration/init/schemas/test_init_with_schemas_command.py
Labels: pr/internal

#4452 fix: implicit api warnings
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_api_provider.py
  tests/unit/commands/local/lib/test_api_provider.py
Labels: pr/internal
