Repository aws/aws-sam-cli, pull requests merged in 2022-06, with the labels that each got.

#3919 Fix deploy with long poll delay events order and stop condition
  samcli/commands/_utils/table_print.py
  samcli/lib/deploy/deployer.py
  tests/unit/lib/deploy/test_deployer.py
Labels: pr/external

#3917 feat: Added data-safe stack trace collection to telemetry
  samcli/lib/telemetry/metric.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/external, stage/needs-triage

#3933 chore: Add safe teardown for accelerate integration test
  tests/integration/logs/test_logs_command.py
  tests/integration/sync/test_sync_code.py
  tests/integration/testdata/logs/python-apigw-sfn/template.yaml
Labels: pr/internal

#3912 feat: Adding base commands and help messages for sam list
  samcli/cli/command.py
  samcli/commands/list/__init__.py
  samcli/commands/list/cli_common/__init__.py
  samcli/commands/list/cli_common/options.py
  samcli/commands/list/list.py
  samcli/commands/list/resources/__init__.py
  samcli/commands/list/resources/cli.py
  samcli/commands/list/stack_outputs/__init__.py
  samcli/commands/list/stack_outputs/cli.py
  samcli/commands/list/testable_resources/__init__.py
  samcli/commands/list/testable_resources/cli.py
  tests/integration/list/__init__.py
  tests/integration/list/list_integ_base.py
  tests/integration/list/resources/__init__.py
  tests/integration/list/resources/resources_integ_base.py
  tests/integration/list/resources/test_resources_command.py
  tests/integration/list/stack_outputs/__init__.py
  tests/integration/list/stack_outputs/stack_outputs_integ_base.py
  tests/integration/list/stack_outputs/test_stack_outputs_command.py
  tests/integration/list/testable_resources/__init__.py
  tests/integration/list/testable_resources/test_testable_resources_command.py
  tests/integration/list/testable_resources/testable_resources_integ_base.py
  tests/unit/commands/list/__init__.py
  tests/unit/commands/list/resources/__init__.py
  tests/unit/commands/list/resources/test_cli.py
Labels: pr/external

#3922 feat: remove the created intermediate containers while building the lambda functions of Image Type
  samcli/lib/build/app_builder.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#3929 Add project metadata tracking with telemetry
  samcli/lib/telemetry/metric.py
  samcli/lib/telemetry/project_metadata.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/lib/telemetry/test_metric.py
  tests/unit/lib/telemetry/test_project_metadata.py
Labels: pr/external, maintainer/need-followup, stage/needs-triage

#3943 chore: Sync code integration test for nested stack
  tests/integration/sync/sync_integ_base.py
  tests/integration/sync/test_sync_code.py
  tests/integration/testdata/sync/nested/after/child_stack/child_child_stack/apigateway/definition.json
  tests/integration/testdata/sync/nested/after/child_stack/child_child_stack/statemachine/function.asl.json
  tests/integration/testdata/sync/nested/after/child_stack/child_functions/child_function.py
  tests/integration/testdata/sync/nested/after/root_function/__init__.py
  tests/integration/testdata/sync/nested/after/root_function/requirements.txt
  tests/integration/testdata/sync/nested/after/root_function/root_function.py
  tests/integration/testdata/sync/nested/after/root_layer/__init__.py
  tests/integration/testdata/sync/nested/after/root_layer/requirements.txt
  tests/integration/testdata/sync/nested/after/root_layer/root_layer.py
  tests/integration/testdata/sync/nested/before/child_stack/child_child_stack/apigateway/definition.json
  tests/integration/testdata/sync/nested/before/child_stack/child_child_stack/statemachine/function.asl.json
  tests/integration/testdata/sync/nested/before/child_stack/child_child_stack/template.yaml
  tests/integration/testdata/sync/nested/before/child_stack/child_functions/child_function.py
  tests/integration/testdata/sync/nested/before/child_stack/template.yaml
  tests/integration/testdata/sync/nested/before/root_function/__init__.py
  tests/integration/testdata/sync/nested/before/root_function/requirements.txt
  tests/integration/testdata/sync/nested/before/root_function/root_function.py
  tests/integration/testdata/sync/nested/before/root_layer/__init__.py
  tests/integration/testdata/sync/nested/before/root_layer/requirements.txt
  tests/integration/testdata/sync/nested/before/root_layer/root_layer.py
  tests/integration/testdata/sync/nested/before/template.yaml
  tests/integration/testdata/sync/nested_intrinsics/after/child_stack/child_layer/layer/__init__.py
  tests/integration/testdata/sync/nested_intrinsics/after/child_stack/child_layer/layer/layer.py
  tests/integration/testdata/sync/nested_intrinsics/after/child_stack/child_layer/layer/requirements.txt
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_function/function/__init__.py
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_function/function/function.py
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_function/function/requirements.txt
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_function/template.yaml
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_layer/layer/__init__.py
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_layer/layer/layer.py
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_layer/layer/requirements.txt
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_layer/template.yaml
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/template.yaml
  tests/integration/testdata/sync/nested_intrinsics/before/template.yaml
Labels: pr/internal

#3954 Revert "feat: Add --s3-bucket and --s3-prefix to sam delete"
  samcli/commands/delete/command.py
  samcli/commands/delete/delete_context.py
  tests/integration/delete/delete_integ_base.py
  tests/integration/delete/test_delete_command.py
  tests/unit/commands/delete/test_command.py
  tests/unit/commands/delete/test_delete_context.py
Labels: pr/internal, area/delete

#3950 Fix issue in cloning app templates repo in windows
  samcli/lib/utils/git_repo.py
  tests/unit/lib/utils/test_git_repo.py
Labels: pr/internal

#3948 feat: Add in support for nested stack's code sync with Api's and StepFunctions
  samcli/commands/build/build_context.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  samcli/lib/sync/flows/generic_api_sync_flow.py
  samcli/lib/sync/flows/stepfunctions_sync_flow.py
  samcli/lib/sync/sync_flow.py
  tests/integration/sync/test_sync_code.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/local/lib/test_provider.py
  tests/unit/lib/sync/flows/test_http_api_sync_flow.py
  tests/unit/lib/sync/flows/test_rest_api_sync_flow.py
  tests/unit/lib/sync/flows/test_stepfunctions_sync_flow.py
  tests/unit/lib/sync/test_sync_flow.py
Labels: pr/internal

#3951 test: Add ADL tests for nested and non-nested stacks
  tests/integration/sync/sync_integ_base.py
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/sync/code/after/function/requirements.txt
  tests/integration/testdata/sync/code/after/nodejs_function/app.js
  tests/integration/testdata/sync/code/after/nodejs_function/package.json
  tests/integration/testdata/sync/code/before/nodejs_function/app.js
  tests/integration/testdata/sync/code/before/nodejs_function/package.json
  tests/integration/testdata/sync/code/before/template-nodejs.yaml
Labels: pr/internal

#3952 fix: revert not creating ADL for empty dependencies
  samcli/lib/bootstrap/nested_stack/nested_stack_manager.py
  tests/integration/sync/sync_integ_base.py
  tests/integration/sync/test_sync_adl.py
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/sync/code/after/python_function_no_deps/app_with_numpy.py
  tests/integration/testdata/sync/code/after/python_function_no_deps/app_without_numpy.py
  tests/integration/testdata/sync/code/after/python_function_no_deps/requirements.txt
  tests/integration/testdata/sync/code/before/python_function_no_deps/app.py
  tests/integration/testdata/sync/code/before/python_function_no_deps/requirements.txt
  tests/integration/testdata/sync/code/before/template-python-no-dependencies.yaml
  tests/unit/lib/bootstrap/nested_stack/test_nested_stack_manager.py
Labels: pr/internal

#3953 chore: sam sync & sam logs ux changes
  samcli/commands/_utils/command_exception_handler.py
  samcli/commands/_utils/experimental.py
  samcli/commands/deploy/deploy_context.py
  samcli/commands/exceptions.py
  samcli/commands/logs/command.py
  samcli/commands/logs/logs_context.py
  samcli/commands/logs/puller_factory.py
  samcli/commands/logs/validation_and_exception_handlers.py
  samcli/commands/sync/command.py
  samcli/commands/traces/command.py
  samcli/lib/build/build_graph.py
  samcli/lib/build/build_strategy.py
  samcli/lib/observability/cw_logs/cw_log_group_provider.py
  samcli/lib/sync/sync_flow_factory.py
  samcli/lib/utils/boto_utils.py
  samcli/lib/utils/cloudformation.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/commands/_utils/test_command_exception_handler.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/logs/test_command.py
  tests/unit/commands/logs/test_logs_context.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/package/test_uploaders.py
  tests/unit/lib/sync/test_sync_flow_factory.py
  tests/unit/lib/utils/test_boto_utils.py
  tests/unit/lib/utils/test_cloudformation.py
Labels: area/deploy, area/logs, area/build, pr/internal, area/sync

#3962 Fix retrieval process for directory name
  samcli/lib/telemetry/project_metadata.py
  tests/unit/lib/telemetry/test_project_metadata.py
Labels: pr/external, stage/needs-triage

#3967 Revert "Revert "feat: Add --s3-bucket and --s3-prefix to sam delete (…
  samcli/commands/delete/command.py
  samcli/commands/delete/delete_context.py
  tests/integration/delete/delete_integ_base.py
  tests/integration/delete/test_delete_command.py
  tests/unit/commands/delete/test_command.py
  tests/unit/commands/delete/test_delete_context.py
Labels: pr/internal, area/delete

#3955 Implement event data structure and relevant unit tests
  samcli/lib/telemetry/event.py
  tests/unit/lib/telemetry/test_event.py
Labels: pr/external, stage/needs-triage

#3925 Require Flask 1.1.4
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: blocked/close-if-inactive, pr/external

#3973 chore: remove beta experimental flag
  samcli/commands/_utils/experimental.py
  samcli/commands/_utils/options.py
  samcli/commands/logs/command.py
  samcli/commands/sync/command.py
  samcli/commands/traces/command.py
  samcli/lib/build/build_strategy.py
  samcli/lib/observability/cw_logs/cw_log_group_provider.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/observability/cw_logs/test_cw_log_group_provider.py
Labels: area/logs, pr/internal, area/sync, area/traces

#3970 Implement tracker methods
  samcli/lib/telemetry/event.py
  tests/unit/lib/telemetry/test_event.py
Labels: pr/external, stage/needs-triage

#3969 feat: Adding --s3-bucket and --s3-prefix to sam delete
  samcli/commands/delete/command.py
  samcli/commands/delete/delete_context.py
  tests/integration/delete/delete_integ_base.py
  tests/integration/delete/test_delete_command.py
  tests/unit/commands/delete/test_command.py
  tests/unit/commands/delete/test_delete_context.py
Labels: area/delete

#3956 bump cookiecutter version to address CVE
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/lib/init/__init__.py
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-golang/requirements-dev.txt
Labels: pr/internal

#3978 chore: fix canary issues
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/logs/test_logs_command.py
  tests/integration/sync/test_sync_adl.py
  tests/integration/testdata/sync/code/before/template-python-no-dependencies.yaml
  tests/integration/testdata/sync/infra/template-python-after.yaml
  tests/integration/testdata/sync/infra/template-python-before.yaml
  tests/integration/testdata/sync/infra/template-ruby-after.yaml
  tests/integration/testdata/sync/infra/template-ruby-before.yaml
  tests/integration/testdata/sync/nested/before/child_stack/template.yaml
  tests/integration/testdata/sync/nested/before/template.yaml
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_layer/template.yaml
Labels: pr/internal

#3968 Clarify debug log message in build_context command
  samcli/commands/build/build_context.py
Labels: type/ux, area/build, pr/external

#3988 bug: Use cache build instead of incremental when building in container
  samcli/lib/build/app_builder.py
  samcli/lib/build/build_strategy.py
  tests/unit/lib/build_module/test_build_strategy.py
Labels: area/build, pr/internal

#3990 bug: make sure all pullers in child combine puller also get stopped
  samcli/lib/observability/observability_info_puller.py
  tests/unit/lib/observability/test_observability_info_puller.py
Labels: pr/internal

#3992 feat: Add --resource option input validation for sync --code
  samcli/commands/sync/command.py
  samcli/lib/deploy/deployer.py
  samcli/lib/sync/sync_flow_factory.py
  tests/integration/sync/test_sync_code.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/sync/test_sync_flow_factory.py
Labels: pr/internal, area/sync

#3966 chore: replace InvokeContextException with granular ones
  samcli/commands/local/cli_common/invoke_context.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/lib/test_local_lambda.py
Labels: pr/internal

#3989 fix: add sync state and context to check previous run details
  samcli/commands/sync/command.py
  samcli/commands/sync/sync_context.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/testdata/sync/infra/before/Java/HelloWorldFunction/pom.xml
  tests/integration/testdata/sync/infra/before/Java/HelloWorldFunction/src/main/java/helloworld/App.java
  tests/integration/testdata/sync/infra/before/Java/HelloWorldLayer/pom.xml
  tests/integration/testdata/sync/infra/before/Java/HelloWorldLayer/src/main/java/helloworldlayer/SimpleMath.java
  tests/integration/testdata/sync/infra/template-java.yaml
  tests/unit/commands/sync/test_command.py
  tests/unit/commands/sync/test_sync_context.py
Labels: pr/internal, area/sync

#3999 chore: Update lambda builder version to 1.18.0
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#4002 chore: fix java integration tests to use java8 runtime
  tests/integration/testdata/sync/infra/before/Java/HelloWorldFunction/pom.xml
  tests/integration/testdata/sync/infra/before/Java/HelloWorldLayer/pom.xml
  tests/integration/testdata/sync/infra/template-java.yaml
Labels: pr/internal

#3976 feat: add terraform hook package skeleton
  samcli/hook_packages/terraform/Config.json
  samcli/hook_packages/terraform/main.py
Labels: pr/internal

#4006 fix: add try/except for parse_time which is used by logs and traces commands
  samcli/commands/logs/logs_context.py
  tests/unit/commands/logs/test_logs_context.py
Labels: area/logs, pr/internal

#4009 docs: Update logs and traces docs
  samcli/commands/logs/command.py
  samcli/commands/traces/command.py
Labels: area/logs, pr/internal, area/traces

#4008 fix: issues with parallel build when using compiled languages
  samcli/lib/build/build_strategy.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/Java/maven-with-layer/HelloWorldFunction/pom.xml
  tests/integration/testdata/buildcmd/Java/maven-with-layer/HelloWorldFunction/src/main/java/helloworld/App.java
  tests/integration/testdata/buildcmd/Java/maven-with-layer/HelloWorldLayer/pom.xml
  tests/integration/testdata/buildcmd/Java/maven-with-layer/HelloWorldLayer/src/main/java/helloworldlayer/SimpleMath.java
  tests/integration/testdata/buildcmd/template-java-maven-with-layers.yaml
  tests/unit/lib/build_module/test_build_strategy.py
Labels: area/build, pr/internal

#4003 Add UsedFeature event and trackers
  samcli/commands/build/build_context.py
  samcli/commands/sync/command.py
  samcli/lib/telemetry/event.py
  samcli/lib/telemetry/metric.py
Labels: area/build, area/local/invoke, pr/external, area/sync

#4013 chore: skip TestSyncAdlWithWatchStartWithNoDependencies on windows
  tests/integration/sync/test_sync_adl.py
Labels: pr/internal

#3981 feat: remove accelerate beta experimental flag (#3973)
  samcli/commands/_utils/experimental.py
  samcli/commands/_utils/options.py
  samcli/commands/logs/command.py
  samcli/commands/sync/command.py
  samcli/commands/traces/command.py
  samcli/lib/build/build_strategy.py
  samcli/lib/observability/cw_logs/cw_log_group_provider.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/logs/logs_integ_base.py
  tests/integration/logs/test_logs_command.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/integration/traces/test_traces_command.py
  tests/integration/traces/traces_integ_base.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/observability/cw_logs/test_cw_log_group_provider.py
Labels: area/logs, area/build, pr/internal, area/sync, area/traces

#4016 Logging UnicodeDecodeError details in LocalApigwService._request_handler
  samcli/local/apigw/local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke, stage/needs-triage

#3980 Refactored stack outputs command to the producer mapper consumer design pattern
  samcli/commands/list/exceptions.py
  samcli/commands/list/json_consumer.py
  samcli/commands/list/stack_outputs/stack_outputs_context.py
  samcli/lib/list/__init__.py
  samcli/lib/list/data_to_json_mapper.py
  samcli/lib/list/list_interfaces.py
  samcli/lib/list/mapper_consumer_container.py
  samcli/lib/list/mapper_consumer_factory.py
  samcli/lib/list/stack_outputs/__init__.py
  samcli/lib/list/stack_outputs/stack_outputs.py
  samcli/lib/list/stack_outputs/stack_outputs_producer.py
  tests/integration/list/stack_outputs/test_stack_outputs_command.py
  tests/unit/commands/list/stack_outputs/test_stack_outputs_context.py
Labels: pr/external

#4019 Add thread lock to EventTracker
  samcli/lib/telemetry/event.py
Labels: pr/external, stage/needs-triage

#4005 Fix infinite deploy loop on small stack edge case
  samcli/commands/deploy/command.py
  samcli/commands/deploy/deploy_context.py
  samcli/lib/deploy/deployer.py
  tests/unit/lib/deploy/test_deployer.py
Labels: area/deploy, pr/external
