Repository aws/aws-sam-cli, pull requests merged in 2023-04, with the labels that each got.

#4954 fix: Fix failing tests for image function invoke
  samcli/local/docker/lambda_image.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4964 chore: fix `sam logs` APIGW tests by making more calls before pulling the logs
  tests/integration/logs/test_logs_command.py
Labels: pr/internal

#4969 update app insights template modifier to comply with cfn-lint rules
  samcli/lib/init/template_modifiers/application_insights_template_modifier.py
  tests/integration/init/test_init_command.py
  tests/testing_utils.py
  tests/unit/lib/init/test_application_insights_template_modifier.py
Labels: pr/internal

#4970 fix: terraform go permission integration testing failure
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/testdata/buildcmd/terraform/go_lambda_function_check_keep_permissions/main.tf
Labels: pr/internal

#4974 ci: add feat* rule to run github actions
  .github/workflows/build.yml
Labels: pr/internal

#4978 chore: Bump SamTranslator version to 1.64.0
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/__init__.py
  samcli/runtime_config.json
  tests/functional/commands/validate/lib/models/cognito_user_pool_with_new_property_and_cognito_event.yaml
  tests/functional/commands/validate/lib/models/connector_appsync_to_lambda.yaml
  tests/functional/commands/validate/lib/models/function_with_function_url_config.yaml
  tests/functional/commands/validate/lib/models/function_with_function_url_config_and_autopublishalias.yaml
  tests/functional/commands/validate/lib/models/function_with_function_url_config_with_intrinsics.yaml
  tests/functional/commands/validate/lib/models/function_with_mq.yaml
  tests/functional/commands/validate/lib/models/separate_route53_recordset_group.yaml
Labels: pr/internal

#4983 fix: set the indentation right for `sam deploy`
  samcli/commands/deploy/core/command.py
Labels: area/deploy, pr/internal

#4975 feat: Read and translate APIGW Resource for Terraform
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#4967 Update help message of --no-progressbar option
  samcli/commands/_utils/options.py
Labels: pr/external, stage/needs-triage

#4992 fix: run managed stack tests sequentially & suppress rustup output
  appveyor-ubuntu.yml
  appveyor-windows.yml
  tests/integration/deploy/test_managed_stack_deploy.py
Labels: pr/internal

#4993 sam init command help
  samcli/commands/_utils/click_mutex.py
  samcli/commands/_utils/custom_options/replace_help_option.py
  samcli/commands/init/command.py
  samcli/commands/init/core/__init__.py
  samcli/commands/init/core/command.py
  samcli/commands/init/core/formatters.py
  samcli/commands/init/core/options.py
  tests/unit/commands/init/core/__init__.py
  tests/unit/commands/init/core/test_command.py
  tests/unit/commands/init/core/test_formatter.py
  tests/unit/commands/init/core/test_options.py
Labels: area/init, pr/internal

#4994 fix: Only print console message if enableSimpleResponses is defined
  samcli/commands/local/lib/swagger/parser.py
  tests/unit/commands/local/lib/swagger/test_parser.py
Labels: pr/internal

#4996 feat: Read and translate APIGW REST API from Terraform to CFN
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  samcli/hook_packages/terraform/hooks/prepare/resources/__init__.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  samcli/hook_packages/terraform/hooks/prepare/types.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/resources/__init__.py
  tests/unit/hook_packages/terraform/hooks/prepare/resources/test_apigw.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#4968 feat: Add usage disclaimer when starting API with authorizers
  samcli/lib/providers/api_collector.py
Labels: pr/internal

#4942 feat: Add metrics for using the Lambda authorizer feature
  samcli/lib/telemetry/event.py
  samcli/local/apigw/local_apigw_service.py
  tests/unit/lib/telemetry/test_event.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5002 feat: read and translate APIGW Stage for Terraform
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5006 chore: Remove old test file
  tests/integration/testdata/start_api/lambda_authorizers/auth.py
Labels: pr/internal

#4948 feat: add userAgent into telemetry data
  samcli/lib/telemetry/metric.py
  samcli/lib/telemetry/user_agent.py
  tests/unit/lib/telemetry/test_metric.py
  tests/unit/lib/telemetry/test_user_agent.py
Labels: pr/internal

#5005 feat: Custom Lambda authorizer support for local start-api
  samcli/commands/local/lib/swagger/parser.py
  samcli/commands/local/lib/validators/__init__.py
  samcli/commands/local/lib/validators/identity_source_validator.py
  samcli/commands/local/lib/validators/lambda_auth_props.py
  samcli/lib/list/endpoints/endpoints_producer.py
  samcli/lib/providers/api_collector.py
  samcli/lib/providers/cfn_api_provider.py
  samcli/lib/providers/cfn_base_api_provider.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_api_provider.py
  samcli/lib/telemetry/event.py
  samcli/lib/utils/resources.py
  samcli/local/apigw/authorizers/__init__.py
  samcli/local/apigw/authorizers/authorizer.py
  samcli/local/apigw/authorizers/lambda_authorizer.py
  samcli/local/apigw/event_constructor.py
  samcli/local/apigw/exceptions.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/apigw/route.py
  samcli/local/apigw/service_error_responses.py
  samcli/local/events/api_event.py
  tests/integration/local/common_utils.py
  tests/integration/local/start_api/lambda_authorizers/__init__.py
  tests/integration/local/start_api/lambda_authorizers/test_cfn_authorizer_definitions.py
  tests/integration/local/start_api/lambda_authorizers/test_sfn_props_lambda_authorizers.py
  tests/integration/local/start_api/lambda_authorizers/test_swagger_authorizer_definitions.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/lambda_authorizers/app.py
  tests/integration/testdata/start_api/lambda_authorizers/cfn-apigw-v1.yaml
  tests/integration/testdata/start_api/lambda_authorizers/cfn-apigw-v2.yaml
  tests/integration/testdata/start_api/lambda_authorizers/serverless-api-props.yaml
  tests/integration/testdata/start_api/lambda_authorizers/serverless-http-props.yaml
  tests/integration/testdata/start_api/lambda_authorizers/swagger-api.yaml
  tests/integration/testdata/start_api/lambda_authorizers/swagger-http.yaml
  tests/unit/commands/local/lib/swagger/test_parser.py
  tests/unit/commands/local/lib/test_api_collector.py
  tests/unit/commands/local/lib/test_cfn_api_provider.py
  tests/unit/commands/local/lib/test_identity_source_validator.py
  tests/unit/commands/local/lib/test_local_api_service.py
  tests/unit/commands/local/lib/test_sam_api_provider.py
  tests/unit/commands/local/lib/validators/__init__.py
  tests/unit/commands/local/lib/validators/test_lambda_auth_props.py
  tests/unit/lib/telemetry/test_event.py
  tests/unit/local/apigw/test_event_constructor.py
  tests/unit/local/apigw/test_lambda_authorizer.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5012 feat: remove packaging warning messaging for python3.10
  samcli/lib/utils/preview_runtimes.py
Labels: pr/external, stage/needs-triage

#5017 chore: bump version to 1.80.0
  samcli/__init__.py
Labels: pr/internal

#5016 fix: Split image name from tag before pulling
  samcli/local/docker/manager.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke, stage/needs-triage

#5022 feat: update app templates commit hash
  samcli/runtime_config.json
Labels: pr/internal

#5030 fix: test_custom_build_image_succeeds build test was failing due log not matching
  samcli/local/docker/manager.py
  tests/unit/local/docker/test_manager.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5033 fix: Hard fail deploy if can't determine if the stack exists
  samcli/lib/deploy/deployer.py
Labels: pr/internal

#5040 fix: Catches exception raised if a function is not found
  samcli/lib/providers/api_collector.py
  samcli/local/apigw/local_apigw_service.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5046 chore: bump version to 1.81.0
  samcli/__init__.py
Labels: pr/internal

#5049 chore: fix build tests
  appveyor-ubuntu.yml
  appveyor-windows.yml
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
Labels: pr/internal

#5050 chore: Bump SamTranslator version to 1.65.0
  requirements/base.txt
  requirements/reproducible-linux.txt
  tests/functional/commands/validate/lib/models/api_merge_definitions_with_any_method.yaml
  tests/functional/commands/validate/lib/models/connector_with_non_id_source_and_destination.yaml
  tests/functional/commands/validate/lib/models/schema_validation_4.yaml
Labels: pr/internal

#5042 fix: Correctly link authorizers by logical ID
  samcli/lib/providers/cfn_api_provider.py
  tests/unit/commands/local/lib/test_cfn_api_provider.py
  tests/unit/commands/local/lib/test_sam_api_provider.py
Labels: pr/internal

#4709 chore: update sam sync tests to run them in parallel
  appveyor-ubuntu.yml
  appveyor-windows.yml
  tests/integration/sync/sync_integ_base.py
  tests/integration/sync/test_sync_adl.py
  tests/integration/sync/test_sync_build_in_source.py
  tests/integration/sync/test_sync_code.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/sync/code/before/parent-stack.yaml
  tests/integration/testdata/sync/code/before/template-python-code-only-layer.yaml
  tests/integration/testdata/sync/code/before/template-python-code-only.yaml
  tests/integration/testdata/sync/code/before/template-python.yaml
  tests/integration/testdata/sync/infra/parent-stack.yaml
  tests/integration/testdata/sync/infra/template-java.yaml
  tests/integration/testdata/sync/infra/template-python-after.yaml
  tests/integration/testdata/sync/infra/template-python-auto-skip.yaml
  tests/integration/testdata/sync/infra/template-python-before.yaml
  tests/integration/testdata/sync/infra/template-ruby-after.yaml
  tests/integration/testdata/sync/infra/template-ruby-before.yaml
  tests/integration/testdata/sync/nested/before/child_stack/template.yaml
  tests/integration/testdata/sync/nested/before/template.yaml
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_layer/template.yaml
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/template.yaml
  tests/integration/testdata/sync/nested_intrinsics/before/template.yaml
Labels: pr/internal

#5039 design: Generalized resource linker design
  samcli/hook_packages/terraform/designs/resource_linking_generalized.md
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
Labels: pr/internal

#5069 fix: create new tmp folder when packaging an artifact for upload
  samcli/lib/package/utils.py
  tests/unit/lib/package/test_utils.py
Labels: pr/internal

#5068 feat: Read and translate apigw method for Terraform
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5079 fix: Fixed flask request test mocking
  samcli/local/apigw/local_apigw_service.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5082 feat: remove packaging warning message for java 17
  samcli/lib/utils/preview_runtimes.py
Labels: pr/external, stage/needs-triage

#5085 chore: bump version to 1.82.0
  samcli/__init__.py
Labels: pr/internal

#5062 Move `--beta-features` flag to common options; Update `sam --info` to show available beta feature flag env vars
  samcli/cli/core/command.py
  samcli/cli/core/options.py
  samcli/cli/main.py
  samcli/commands/_utils/experimental.py
  samcli/commands/build/command.py
  samcli/commands/build/core/options.py
  samcli/commands/deploy/core/command.py
  samcli/commands/deploy/core/options.py
  samcli/commands/init/core/options.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/sync/core/options.py
  tests/testing_utils.py
  tests/unit/cli/test_main.py
  tests/unit/commands/_utils/test_experimental.py
  tests/unit/commands/deploy/core/test_command.py
  tests/unit/commands/deploy/core/test_options.py
  tests/unit/commands/init/core/test_command.py
  tests/unit/commands/init/core/test_options.py
  tests/unit/commands/sync/core/test_command.py
Labels: area/deploy, area/init, area/build, area/local/invoke, pr/internal, area/sync

#5074 chore: Refactor the linking algorithm to be more generic
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#4896 fix: accept pipe as config file
  samcli/cli/cli_config_file.py
  tests/unit/cli/test_cli_config_file.py
Labels: pr/external, stage/needs-triage
