Repository aws/aws-sam-cli, pull requests merged in 2023-12, with the labels that each got.

#6357 chore: fix test large input local tests
  samcli/local/apigw/service_error_responses.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/testdata/start_api/cdk/template_cdk.yaml
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6372 fix: Fix sync tests not cleaning up correctly and Linux watch behaviour
  samcli/lib/sync/watch_manager.py
  tests/integration/sync/test_sync_build_in_source.py
  tests/unit/lib/sync/test_watch_manager.py
Labels: pr/internal

#5933 feat: Building projects in source
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  samcli/cli/types.py
  samcli/commands/_utils/options.py
  samcli/commands/build/build_context.py
  samcli/commands/build/command.py
  samcli/commands/build/core/options.py
  samcli/commands/sync/command.py
  samcli/commands/sync/core/options.py
  samcli/lib/sync/watch_manager.py
  samcli/lib/telemetry/event.py
  samcli/lib/utils/code_trigger_factory.py
  samcli/lib/utils/resource_trigger.py
  samcli/lib/utils/tar.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_in_source.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/test_invoke_build_in_source.py
  tests/integration/sync/sync_integ_base.py
  tests/integration/sync/test_sync_build_in_source.py
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/invoke/build-in-source/layer_symlink/mycoolfunction/app.js
  tests/integration/testdata/invoke/build-in-source/layer_symlink/mycoolfunction/package.json
  tests/integration/testdata/invoke/build-in-source/layer_symlink/mycoollayer/package.json
  tests/integration/testdata/invoke/build-in-source/layer_symlink/template.yaml
  tests/integration/testdata/invoke/build-in-source/local-dep/index.js
  tests/integration/testdata/invoke/build-in-source/local-dep/package.json
  tests/integration/testdata/invoke/build-in-source/src/index.js
  tests/integration/testdata/invoke/build-in-source/src/package.json
  tests/integration/testdata/invoke/build-in-source/template.yaml
  tests/integration/testdata/sync/code/after/nodejs_function/app.js
  tests/integration/testdata/sync/code/after/nodejs_local_dep/local-dep/index.js
  tests/integration/testdata/sync/code/after/nodejs_local_dep/local-dep/package.json
  tests/integration/testdata/sync/code/after/nodejs_local_dep/src/index.js
  tests/integration/testdata/sync/code/after/nodejs_local_dep/src/package.json
  tests/integration/testdata/sync/code/before/nodejs_local_dep/src/index.js
  tests/integration/testdata/sync/code/before/nodejs_local_dep/src/package.json
  tests/integration/testdata/sync/code/before/template_nodejs_local_dep.yaml
  tests/unit/cli/test_types.py
  tests/unit/commands/_utils/test_options.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/sync/test_watch_manager.py
  tests/unit/lib/utils/test_code_trigger_factory.py
  tests/unit/lib/utils/test_resource_trigger.py
  tests/unit/lib/utils/test_tar.py
  tests/unit/local/docker/test_container.py
Labels: area/build, pr/internal

#6387 feat: update cfn-lint to 0.83.4
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  requirements/reproducible-win.txt
Labels: pr/internal

#6389 chore: bump version to 1.104.0
  samcli/__init__.py
Labels: pr/internal

#6399 fix: Only dereference file paths if they all exist
  samcli/lib/utils/tar.py
  tests/unit/lib/utils/test_tar.py
Labels: pr/internal

#6402 fix: Recursively call method on directory children
  samcli/lib/utils/tar.py
  tests/unit/lib/utils/test_tar.py
Labels: pr/internal

#6406 chore: Add retries and delay between retries globally
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-binary.yml
  appveyor-windows.yml
Labels: pr/internal

#6382 chore: Update maintainers list
  .github/workflows/pr-labeler.yml
Labels: pr/internal

#6418 fix: remove 1 sec delay on invoke
  samcli/local/docker/container.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, area/local/start-invoke

#6434 chore: Fix PR labeler GH action
  .github/workflows/pr-labeler.yml
Labels: pr/internal

#6435 Revert "chore: Upgrade Mac installer to python3.11"
  .github/workflows/validate_pyinstaller.yml
  Makefile
  installer/pyinstaller/build-mac.sh
  requirements/reproducible-mac.txt
Labels: pr/internal

#6437 chore: version bump
  samcli/__init__.py
Labels: pr/internal

#6426 fix: consider parameter overrides during sam sync
  samcli/lib/sync/infra_sync_executor.py
  tests/unit/lib/sync/test_infra_sync_executor.py
Labels: pr/internal

#5902 Add SSL support to local start-api and start-lambda
  samcli/commands/local/lib/local_api_service.py
  samcli/commands/local/lib/local_lambda_service.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_api/core/options.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/services/base_local_service.py
  schema/samcli.json
  tests/unit/commands/local/lib/test_local_api_service.py
  tests/unit/commands/local/lib/test_local_lambda_service.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/local/services/test_base_local_service.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke, area/schema

#6441 fix: Run schema generation script as module instead
  .github/workflows/build.yml
Labels: pr/internal

#6469 fix: Mark ssl_context as optional in the service constructor
  samcli/commands/local/lib/local_lambda_service.py
Labels: pr/internal
