Repository aws/aws-sam-cli, pull requests merged in 2023-11, with the labels that each got.

#6202 fix: compare handlers when comparing build definitions
  samcli/lib/build/build_graph.py
  tests/unit/lib/build_module/test_build_graph.py
Labels: area/build, pr/external, stage/needs-triage

#6210 chore: Bump Nodejs version in AppVeyor job configuration
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
Labels: pr/internal

#6143 chore: add networkx.generators to hidden imports
  samcli/cli/hidden_imports.py
Labels: pr/internal

#6034 fix: Writing to bytes TextIO stream in StreamWriter causing AttributeError on buffer member
  samcli/commands/remote/remote_invoke_context.py
  samcli/lib/utils/stream_writer.py
  samcli/local/docker/container.py
  tests/unit/lib/utils/test_stream_writer.py
  tests/unit/local/docker/test_container.py
Labels: pr/external

#6166 chore(tests): Build in source sync temp folder
  tests/integration/sync/test_sync_build_in_source.py
  tests/integration/testdata/sync/code/after/nodejs_function/app.js
  tests/integration/testdata/sync/code/after/nodejs_local_dep/local-dep/index.js
  tests/integration/testdata/sync/code/after/nodejs_local_dep/local-dep/package.json
  tests/integration/testdata/sync/code/after/nodejs_local_dep/src/index.js
  tests/integration/testdata/sync/code/after/nodejs_local_dep/src/package.json
  tests/integration/testdata/sync/code/before/nodejs_local_dep/src/index.js
  tests/integration/testdata/sync/code/before/nodejs_local_dep/src/package.json
  tests/integration/testdata/sync/code/before/template-nodejs.yaml
  tests/integration/testdata/sync/code/before/template_nodejs_local_dep.yaml
Labels: pr/internal

#6219 test: fail on purpose
  .github/workflows/build.yml
Labels: pr/internal

#6203 chore: fix running root GHA job all the time
  .github/workflows/build.yml
Labels: pr/internal

#6196 test: bump AWS::Serverless::Function runtime to nodejs18.x
  tests/functional/commands/validate/lib/models/api_merge_definitions_global.yaml
  tests/functional/commands/validate/lib/models/api_merge_definitions_with_conflicting_auth.yaml
  tests/functional/commands/validate/lib/models/api_merge_definitions_with_conflicting_methods.yaml
  tests/functional/commands/validate/lib/models/api_merge_definitions_with_conflicting_request_models.yaml
  tests/functional/commands/validate/lib/models/api_merge_definitions_with_different_methods.yaml
  tests/functional/commands/validate/lib/models/api_merge_definitions_with_full_properties.yaml
  tests/functional/commands/validate/lib/models/api_with_custom_domains_regional_latency_routing.yaml
  tests/functional/commands/validate/lib/models/api_with_custom_domains_regional_latency_routing_ipv6.yaml
  tests/functional/commands/validate/lib/models/congito_userpool_with_sms_configuration.yaml
  tests/functional/commands/validate/lib/models/connector_api_to_function.yaml
  tests/functional/commands/validate/lib/models/connector_api_to_multiple_function.yaml
  tests/functional/commands/validate/lib/models/connector_appsync_to_lambda.yaml
  tests/functional/commands/validate/lib/models/connector_bucket_to_function.yaml
  tests/functional/commands/validate/lib/models/connector_function_to_location.yaml
  tests/functional/commands/validate/lib/models/connector_function_to_multiple_s3.yaml
  tests/functional/commands/validate/lib/models/connector_function_to_s3.yaml
  tests/functional/commands/validate/lib/models/connector_function_to_sqs.yaml
  tests/functional/commands/validate/lib/models/connector_function_to_table.yaml
  tests/functional/commands/validate/lib/models/connector_mix_destination.yaml
  tests/functional/commands/validate/lib/models/connector_sfn_to_function.yaml
  tests/functional/commands/validate/lib/models/connector_sfn_to_function_without_policy.yaml
  tests/functional/commands/validate/lib/models/connector_sns_to_function.yaml
  tests/functional/commands/validate/lib/models/connector_sqs_to_function.yaml
  tests/functional/commands/validate/lib/models/connector_sqs_to_multiple_function.yaml
  tests/functional/commands/validate/lib/models/connector_table_to_function.yaml
  tests/functional/commands/validate/lib/models/connector_table_to_function_read.yaml
  tests/functional/commands/validate/lib/models/connector_with_non_id_source_and_destination.yaml
  tests/functional/commands/validate/lib/models/embedded_connector_function_to_multi_dest.yaml
  tests/functional/commands/validate/lib/models/embedded_connectors_api_to_function.yaml
  tests/functional/commands/validate/lib/models/embedded_connectors_function_to.yaml
  tests/functional/commands/validate/lib/models/embedded_connectors_sfn_to.yaml
  tests/functional/commands/validate/lib/models/embedded_connectors_sns_to.yaml
  tests/functional/commands/validate/lib/models/embedded_connectors_table_to_function.yaml
  tests/functional/commands/validate/lib/models/event_bridge_rule_super_long_id.yaml
  tests/functional/commands/validate/lib/models/function_with_mq.yaml
  tests/functional/commands/validate/lib/models/http_api_with_custom_domains_regional_latency_routing.yaml
  tests/functional/commands/validate/lib/models/http_api_with_custom_domains_regional_latency_routing_ipv6.yaml
  tests/functional/commands/validate/lib/models/http_api_with_default_stage_name_and_fail_on_warnings.yaml
  tests/functional/commands/validate/lib/models/schema_validation_1.yaml
  tests/functional/commands/validate/lib/models/schema_validation_5.yaml
  tests/functional/commands/validate/lib/models/state_machine_with_schedule_target_id.yaml
  tests/integration/testdata/invoke/cdk/runtime_function_constructs.yaml
  tests/integration/testdata/validate/default_yaml/template.yaml
  tests/integration/testdata/validate/default_yaml/templateError.yaml
  tests/integration/testdata/validate/multiple_files/template.yaml
  tests/unit/lib/iac/cdk/test_data/non_cdk_cfn.yaml
Labels: pr/external, stage/needs-triage

#6230 chore: version bump to 1.101
  samcli/__init__.py
Labels: pr/internal

#6238 fix(test): Update the prompts to fix init integ test
  tests/integration/init/test_init_command.py
Labels: pr/internal

#6174 feat: Enable remote invoke support for Step Functions, SQS, and Kinesis data streams
  samcli/commands/_utils/options.py
  samcli/commands/remote/invoke/cli.py
  samcli/commands/remote/invoke/core/command.py
  samcli/commands/remote/remote_invoke_context.py
  samcli/lib/remote_invoke/kinesis_invoke_executors.py
  samcli/lib/remote_invoke/remote_invoke_executor_factory.py
  samcli/lib/remote_invoke/sqs_invoke_executors.py
  samcli/lib/remote_invoke/stepfunctions_invoke_executors.py
  schema/samcli.json
  tests/integration/remote/invoke/test_remote_invoke.py
  tests/unit/commands/remote/invoke/core/test_command.py
  tests/unit/commands/remote/invoke/test_cli.py
  tests/unit/commands/remote/test_remote_invoke_context.py
  tests/unit/lib/remote_invoke/test_remote_invoke_executor_factory.py
Labels: pr/internal, area/schema

#6237 fix(test): Fix integration test failure on Windows
  tests/integration/local/invoke/test_integrations_cli.py
Labels: pr/internal

#6245 test: fix flaky remote invoke sqs tests
  tests/integration/remote/invoke/test_remote_invoke.py
Labels: pr/internal

#6247 Fix provided runtime renaming to pass to lambda builder
  samcli/lib/build/app_builder.py
  samcli/lib/utils/lambda_builders.py
  samcli/local/docker/lambda_build_container.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/utils/test_lambda_builders.py
  tests/unit/local/docker/test_lambda_build_container.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#6244 Add nodejs20.x support for samcli (#508)
  .github/workflows/build.yml
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/lib/utils/preview_runtimes.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/validate/test_validate_command.py
  tests/unit/commands/init/test_cli.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#6273 Add python3.12. (#517)
  .github/workflows/build.yml
  pytest.ini
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/lib/utils/preview_runtimes.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/testdata/buildcmd/Python/requirements.txt
  tests/integration/testdata/buildcmd/PythonPEP600/requirements.txt
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#6282 Feat: Lambda advanced logging
  samcli/commands/init/command.py
  samcli/commands/init/core/options.py
  samcli/commands/init/init_generator.py
  samcli/commands/init/interactive_init_flow.py
  samcli/commands/local/lib/local_lambda.py
  samcli/lib/init/__init__.py
  samcli/lib/init/template_modifiers/structured_logging_template_modifier.py
  samcli/lib/observability/cw_logs/cw_log_group_provider.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  samcli/local/lambdafn/env_vars.py
  schema/samcli.json
  tests/functional/commands/init/test_interactive_init_flow.py
  tests/integration/init/test_init_command.py
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/observability/cw_logs/test_cw_log_group_provider.py
  tests/unit/local/lambdafn/test_env_vars.py
Labels: area/local/start-api, area/init, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#6226 test: migrate AWS SDK for JavaScript v2 APIs to v3
  tests/integration/testdata/invoke/credential_tests/incontainer/nodejs/app.js
  tests/integration/testdata/invoke/credential_tests/incontainer/nodejs/package.json
Labels: pr/external

#6284 test: Fix some provided.al2023 integ tests and add more integration tests coverage
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/buildcmd/test_build_cmd_rust.py
  tests/integration/testdata/buildcmd/Provided/Makefile
  tests/integration/testdata/buildcmd/Provided/Makefile-container
Labels: pr/internal

#6227 test: bump AWS::Serverless::Function runtime nodejs16.x to nodejs18.x
  tests/functional/commands/validate/lib/models/api_with_cors_and_apikey.yaml
  tests/functional/commands/validate/lib/models/api_with_cors_and_apikey_defined_at_api_level.yaml
  tests/functional/commands/validate/lib/models/embedded_connectors_depends_on_connector.yaml
  tests/functional/commands/validate/lib/models/embedded_connectors_esm_depends_on.yaml
  tests/functional/commands/validate/lib/models/function_with_event_bridge_rule_state.yaml
  tests/functional/commands/validate/lib/models/function_with_event_filtering.yaml
  tests/functional/commands/validate/lib/models/policy_template_import_vaule_refs_parameters_with_same_name_as_policy_parameter.yaml
  tests/integration/testdata/sync/code/before/template-esbuild.yaml
  tests/integration/testdata/sync/code/before/template-nodejs.yaml
Labels: pr/external

#6297 fix: Update async utils to remove upcoming deprecated call
  samcli/lib/utils/async_utils.py
Labels: pr/internal

#6289 test: bump AWS::Serverless::Function runtime nodejs10.x to nodejs18.x
  tests/integration/testdata/package/aws-lambda-function.yaml
  tests/smoke/templates/sar/Contact-Us-template.yaml
  tests/smoke/templates/sar/DVSA-template.yaml
  tests/smoke/templates/sar/Geocode-template.yaml
  tests/smoke/templates/sar/acloudguru-alexadevs-leaderboard-template.yaml
  tests/smoke/templates/sar/acloudguru-alexadevs-triviaskill-template.yaml
  tests/smoke/templates/sar/alexa-anagram-template.yaml
  tests/smoke/templates/sar/alexa-skills-kit-color-expert-template.yaml
  tests/smoke/templates/sar/alexa-skills-kit-nodejs-factskill-template.yaml
  tests/smoke/templates/sar/alexa-skills-kit-nodejs-hello-world-template.yaml
  tests/smoke/templates/sar/alexa-skills-kit-nodejs-howtoskill-template.yaml
  tests/smoke/templates/sar/alexa-skills-kit-nodejs-triviaskill-template.yaml
  tests/smoke/templates/sar/alexa-smart-home-skill-adapter-template.yaml
  tests/smoke/templates/sar/amazon-cognito-passwordless-email-auth-template.yaml
  tests/smoke/templates/sar/api-gateway-authorizer-nodejs-template.yaml
  tests/smoke/templates/sar/api-lambda-get-all-dynamodb-template.yaml
  tests/smoke/templates/sar/api-lambda-get-one-dynamodb-template.yaml
  tests/smoke/templates/sar/api-lambda-save-dynamodb-template.yaml
  tests/smoke/templates/sar/api-lambda-send-email-ses-template.yaml
  tests/smoke/templates/sar/api-lambda-update-dynamodb-template.yaml
  tests/smoke/templates/sar/cloudfront-http-redirect-template.yaml
  tests/smoke/templates/sar/cloudfront-modify-response-header-template.yaml
  tests/smoke/templates/sar/cloudfront-response-generation-template.yaml
  tests/smoke/templates/sar/cloudwatch-alarm-to-slack-template.yaml
  tests/smoke/templates/sar/dynamodb-display-template.yaml
  tests/smoke/templates/sar/dynamodb-lex-template.yaml
  tests/smoke/templates/sar/hello-world-template.yaml
  tests/smoke/templates/sar/helloWorldLex-template.yaml
  tests/smoke/templates/sar/https-request-template.yaml
  tests/smoke/templates/sar/image-processing-service-template.yaml
  tests/smoke/templates/sar/image-resizer-service-template.yaml
  tests/smoke/templates/sar/lambda-web-page-example-template.yaml
  tests/smoke/templates/sar/lambdium-template.yaml
  tests/smoke/templates/sar/lex-book-trip-template.yaml
  tests/smoke/templates/sar/microservice-http-endpoint-template.yaml
  tests/smoke/templates/sar/pipeline-dashboard-template.yaml
  tests/smoke/templates/sar/resize-template.yaml
  tests/smoke/templates/sar/s3-get-object-template.yaml
  tests/smoke/templates/sar/s3-lambda-publisher-sns-template.yaml
  tests/smoke/templates/sar/s3-lambda-save-dynamodb-template.yaml
  tests/smoke/templates/sar/serverless-goat-template.yaml
  tests/smoke/templates/sar/serverless-todo-template.yaml
  tests/smoke/templates/sar/signalfx-lambda-example-nodejs-template.yaml
  tests/smoke/templates/sar/simple-mobile-backend-template.yaml
  tests/smoke/templates/sar/simple-websockets-chat-app-template.yaml
  tests/smoke/templates/sar/skill-sample-nodejs-salesforce-template.yaml
  tests/smoke/templates/sar/sns-message-template.yaml
  tests/smoke/templates/sar/splunk-kinesis-stream-processor-template.yaml
  tests/smoke/templates/sar/sqs-poller-template.yaml
  tests/smoke/templates/sar/standard-redirects-for-cloudfront-template.yaml
  tests/smoke/templates/sar/uploader-template.yaml
Labels: pr/external, stage/needs-triage

#5364 add --disable-authorizer flag to local start-api
  samcli/commands/local/lib/local_api_service.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_api/core/options.py
  samcli/lib/providers/api_provider.py
  samcli/lib/providers/cfn_api_provider.py
  samcli/lib/providers/cfn_base_api_provider.py
  samcli/lib/providers/sam_api_provider.py
  schema/samcli.json
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/unit/commands/local/lib/test_cfn_api_provider.py
  tests/unit/commands/local/lib/test_cfn_base_provider.py
  tests/unit/commands/local/lib/test_local_api_service.py
  tests/unit/commands/local/lib/test_sam_api_provider.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/samconfig/test_samconfig.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke

#6300 fic: check available port for specific/intended interface
  samcli/commands/local/cli_common/options.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_container.py
  samcli/local/docker/utils.py
  tests/unit/local/docker/test_utils.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6311 test: Remove provided rust integ tests and change python3 to python
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/buildcmd/test_build_cmd_rust.py
  tests/integration/testdata/buildcmd/Provided/Makefile
Labels: pr/internal

#6288 fix: crashing if handler is missing
  samcli/lib/build/exceptions.py
  samcli/lib/providers/sam_function_provider.py
  tests/unit/commands/deploy/test_auth_utils.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/bootstrap/nested_stack/test_nested_stack_manager.py
  tests/unit/lib/build_module/test_bundler.py
Labels: area/build, pr/internal, stage/needs-triage

#6331 fix(test): Hanging init tests with new structured logging input
  pytest.ini
  tests/integration/init/schemas/schemas_test_data_setup.py
  tests/integration/init/schemas/test_init_with_schemas_command.py
  tests/integration/init/test_init_command.py
Labels: pr/internal

#6290 test: bump AWS::Serverless::Function runtime nodejs8.10 to nodejs18.x
  tests/functional/commands/validate/lib/models/api_with_swagger_authorizer_none.yaml
  tests/smoke/templates/sar/alexa-skills-kit-nodejs-basic-welcome-template.yaml
  tests/smoke/templates/sar/alexa-skills-kit-nodejs-premium-facts-skill-template.yaml
  tests/smoke/templates/sar/amazon-cloudfront-access-logs-queries-template.yaml
  tests/smoke/templates/sar/api-gateway-dev-portal-template.yaml
  tests/smoke/templates/sar/sumologic-guardduty-events-processor-template.yaml
Labels: pr/external, stage/needs-triage

#6332 Fix lint issues mypy 1.7
  requirements/dev.txt
  samcli/cli/global_config.py
  samcli/lib/utils/resource_trigger.py
  samcli/local/apigw/authorizers/lambda_authorizer.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6355 Warn for missing BuildArchitecture during Layer build
  samcli/lib/providers/provider.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/PyLayerMake/Makefile
  tests/integration/testdata/buildcmd/layers-functions-template.yaml
Labels: area/build, pr/internal

#6322 Add architecture validations for SAM build LambdaLayer
  samcli/lib/build/build_strategy.py
  samcli/lib/build/utils.py
  samcli/lib/providers/provider.py
  samcli/local/docker/lambda_build_container.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/lib/utils/test_build_utils.py
  tests/unit/local/docker/test_lambda_build_container.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, stage/needs-triage

#6358 Axios version bump
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-nodejs/{{cookiecutter.project_name}}/hello-world/package.json
Labels: pr/external, stage/needs-triage

#6258 Return the deployment result in exit code for all failures
  samcli/commands/deploy/deploy_context.py
  tests/unit/commands/deploy/test_deploy_context.py
Labels: area/deploy, pr/external, stage/needs-triage

#6299 feat: Add additional default excludes and exclude option for sync
  samcli/cli/types.py
  samcli/commands/_utils/options.py
  samcli/commands/sync/command.py
  samcli/commands/sync/core/options.py
  samcli/lib/sync/watch_manager.py
  samcli/lib/utils/code_trigger_factory.py
  samcli/lib/utils/resource_trigger.py
  schema/samcli.json
  tests/integration/sync/sync_integ_base.py
  tests/integration/sync/test_sync_watch.py
  tests/unit/cli/test_types.py
  tests/unit/commands/_utils/test_options.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/sync/test_watch_manager.py
  tests/unit/lib/utils/test_code_trigger_factory.py
  tests/unit/lib/utils/test_resource_trigger.py
Labels: pr/internal, area/sync, area/schema
