Repository aws/aws-sam-cli, pull requests merged in 2023-09, with the labels that each got.

#5873 fix: Temporarily pin emulation image pulls on Windows
  samcli/local/docker/lambda_image.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5880 chore: Version bump to 1.97.0
  samcli/__init__.py
Labels: pr/internal

#5881 Fix handling of non-json-deserializable response from RIE
  samcli/local/docker/container.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5925 fix(tests): Clean up test data folder between runs
  tests/integration/sync/test_sync_watch.py
Labels: pr/internal

#5872 feat: Added event tracking for feature
  samcli/commands/build/build_context.py
  samcli/lib/telemetry/event.py
  tests/unit/commands/buildcmd/test_build_context.py
Labels: area/build, pr/internal

#5808 feat: Add `--save-params` option
  samcli/cli/cli_config_file.py
  samcli/cli/core/options.py
  samcli/commands/build/command.py
  samcli/commands/build/core/options.py
  samcli/commands/delete/command.py
  samcli/commands/deploy/command.py
  samcli/commands/deploy/core/options.py
  samcli/commands/init/command.py
  samcli/commands/init/core/options.py
  samcli/commands/list/endpoints/command.py
  samcli/commands/list/resources/command.py
  samcli/commands/list/stack_outputs/command.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/invoke/core/options.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_api/core/options.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/local/start_lambda/core/options.py
  samcli/commands/logs/command.py
  samcli/commands/logs/core/options.py
  samcli/commands/package/command.py
  samcli/commands/package/core/options.py
  samcli/commands/pipeline/bootstrap/cli.py
  samcli/commands/pipeline/init/cli.py
  samcli/commands/publish/command.py
  samcli/commands/remote/invoke/cli.py
  samcli/commands/remote/invoke/core/options.py
  samcli/commands/sync/command.py
  samcli/commands/sync/core/options.py
  samcli/commands/traces/command.py
  samcli/commands/validate/core/options.py
  samcli/commands/validate/validate.py
  schema/samcli.json
  tests/unit/cli/test_cli_config_file.py
Labels: area/package, area/deploy, area/validate, area/init, area/logs, area/build, area/publish, area/local/invoke, pr/internal, area/pipeline, area/delete, area/sync, area/traces, area/schema

#5909 fix the hanging problem in windows if the terraform plan command failed
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/lib/utils/subprocess_utils.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory_windows/root_module/input_samconfig.yaml
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/lib/utils/test_subprocess_utils.py
Labels: pr/internal

#5842 feat: Add integration tests to `--save-params`
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_samconfig.py
Labels: area/package, area/deploy, area/validate, area/init, area/logs, area/build, area/publish, area/local/invoke, pr/external, area/pipeline, area/delete, area/sync, area/traces, stage/needs-triage, area/schema

#5904 fix: copy resource metadata before normalizing the information in it
  samcli/lib/samlib/resource_metadata_normalizer.py
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
Labels: pr/internal

#5870 feat: Resolve symlinks at root level and mount to container
  samcli/local/docker/container.py
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/test_invoke_build_in_source.py
  tests/integration/testdata/invoke/build-in-source/local-dep/index.js
  tests/integration/testdata/invoke/build-in-source/local-dep/package.json
  tests/integration/testdata/invoke/build-in-source/src/index.js
  tests/integration/testdata/invoke/build-in-source/src/package.json
  tests/integration/testdata/invoke/build-in-source/template.yaml
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5959 fix: Pin base image version
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/hello_world/Dockerfile
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/hello_world/Dockerfile
Labels: pr/internal

#5965 chore: bump version to 1.98.0
  samcli/__init__.py
Labels: pr/internal

#5972 fix: Invoke stderr stream missing stack trace
  .github/workflows/build.yml
  samcli/local/docker/container.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/testing_utils.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5988 fix: gracefully handle when git executable can't be found
  samcli/lib/utils/git_repo.py
  tests/unit/lib/utils/test_git_repo.py
Labels: pr/internal

#5951 feat: Build in source click option
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/build/core/options.py
  samcli/commands/sync/command.py
  samcli/commands/sync/core/options.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/unit/commands/samconfig/test_samconfig.py
Labels: area/build, pr/internal, area/sync

#6002 fix: Fix integration tests for remote test events
  tests/integration/remote/test_event/remote_test_event_integ_base.py
  tests/integration/remote/test_event/test_remote_test_event.py
Labels: pr/external, stage/needs-triage

#5997 chore: Add sqs boto-stubs which is used for remote invoke SQS
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  requirements/reproducible-win.txt
Labels: pr/internal

#5987 feat: Add remote invoke implementation for SQS service for API send message
  samcli/commands/remote/remote_invoke_context.py
  samcli/lib/remote_invoke/remote_invoke_executor_factory.py
  samcli/lib/remote_invoke/sqs_invoke_executors.py
  tests/unit/lib/remote_invoke/test_remote_invoke_executor_factory.py
  tests/unit/lib/remote_invoke/test_sqs_invoke_executors.py
Labels: pr/internal
