Repository aws/aws-sam-cli, pull requests merged in 2023-07, with the labels that each got.

#5428 feat: Read aws_apigatewayv2_api and aws_apigatewayv2_route
  .github/workflows/validate_pyinstaller.yml
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_property_builder.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5397 feat: `sam logs` help text
  samcli/cli/root/command_list.py
  samcli/commands/logs/command.py
  samcli/commands/logs/core/__init__.py
  samcli/commands/logs/core/command.py
  samcli/commands/logs/core/formatters.py
  samcli/commands/logs/core/options.py
  tests/unit/commands/logs/core/__init__.py
  tests/unit/commands/logs/core/test_command.py
  tests/unit/commands/logs/core/test_formatter.py
  tests/unit/commands/logs/core/test_options.py
Labels: area/logs, pr/internal

#5347 fix: Updated warning message about missing function in template
  samcli/local/apigw/local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5439 chore: use latest python version
  .github/workflows/build.yml
Labels: pr/internal

#5442 chore: Merge develop into feat/terraform-v2-api
  requirements/base.txt
  requirements/dev.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  samcli/cli/context.py
  samcli/cli/root/command_list.py
  samcli/commands/_utils/options.py
  samcli/commands/logs/command.py
  samcli/commands/logs/core/__init__.py
  samcli/commands/logs/core/command.py
  samcli/commands/logs/core/formatters.py
  samcli/commands/logs/core/options.py
  samcli/commands/package/command.py
  samcli/commands/package/core/__init__.py
  samcli/commands/package/core/command.py
  samcli/commands/package/core/formatters.py
  samcli/commands/package/core/options.py
  samcli/lib/bootstrap/companion_stack/companion_stack_manager.py
  samcli/lib/deploy/deployer.py
  samcli/lib/package/artifact_exporter.py
  samcli/lib/package/code_signer.py
  samcli/lib/package/packageable_resources.py
  samcli/lib/package/s3_uploader.py
  samcli/lib/package/utils.py
  samcli/lib/utils/file_observer.py
  samcli/lib/utils/s3.py
  samcli/local/apigw/local_apigw_service.py
  samcli/runtime_config.json
  tests/end_to_end/test_stages.py
  tests/unit/cli/test_context.py
  tests/unit/commands/logs/core/__init__.py
  tests/unit/commands/logs/core/test_command.py
  tests/unit/commands/logs/core/test_formatter.py
  tests/unit/commands/logs/core/test_options.py
  tests/unit/commands/package/core/__init__.py
  tests/unit/commands/package/core/test_command.py
  tests/unit/commands/package/core/test_formatter.py
  tests/unit/commands/package/core/test_options.py
  tests/unit/lib/bootstrap/companion_stack/test_companion_stack_manager.py
  tests/unit/lib/package/test_artifact_exporter.py
  tests/unit/lib/utils/test_file_observer.py
  tests/unit/lib/utils/test_s3.py
Labels: area/package, area/local/start-api, area/logs, area/local/invoke, area/local/start-invoke

#5443 feat: Read APIGW V2 stage and integration resources
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: area/package, area/local/start-api, area/logs, area/local/invoke, area/local/start-invoke

#5446 chore: use amazon ecr credential helper in windows appveyor
  appveyor-windows.yml
Labels: pr/internal

#5448 chore: bump version to 1.90.0
  samcli/__init__.py
Labels: pr/internal

#5450 fix: Handler path mapping for layer-wrapped esbuild functions
  samcli/lib/build/bundler.py
  tests/end_to_end/test_runtimes_e2e.py
  tests/end_to_end/testdata/esbuild-datadog-integration/main.js
  tests/end_to_end/testdata/esbuild-datadog-integration/template.yaml
  tests/unit/lib/build_module/test_bundler.py
Labels: area/build

#5455 feat: update sam-t version & fix macos reproducable task and gh actions
  .github/workflows/automated-updates-to-sam-cli.yml
  Makefile
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
Labels: pr/internal

#5444 feat: Link v2 route to integration
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_properties.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: area/package, area/local/start-api, area/logs, area/local/invoke, pr/internal, area/local/start-invoke

#5441 feat(sync): support build-image option
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/sync/command.py
  samcli/commands/sync/core/options.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
Labels: area/build, pr/external, area/sync, stage/needs-triage

#5460 fix: Avoid Certain Depedendency Version
  pytest.ini
  requirements/base.txt
Labels: pr/internal

#5464 chore: Update feature branch
  .github/workflows/automated-updates-to-sam-cli.yml
  Makefile
  appveyor-windows.yml
  pytest.ini
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  samcli/__init__.py
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/sync/command.py
  samcli/commands/sync/core/options.py
  samcli/lib/build/bundler.py
  tests/end_to_end/test_runtimes_e2e.py
  tests/end_to_end/testdata/esbuild-datadog-integration/main.js
  tests/end_to_end/testdata/esbuild-datadog-integration/template.yaml
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/build_module/test_bundler.py
Labels: area/build, pr/external, area/sync, stage/needs-triage

#5459 fix: E2E test can't find test data directory
  tests/end_to_end/end_to_end_base.py
  tests/end_to_end/test_runtimes_e2e.py
Labels: pr/internal

#5445 feat: Retrieve SAM CLI command parameters
  Makefile
  samcli/lib/config/samconfig.py
  schema/schema.py
Labels: pr/internal

#5463 add pip check after all pip install in pyinstaller scripts
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/build-mac.sh
Labels: pr/internal

#5467 chore: fix typo in help text of `pipeline bootstrap`
  samcli/commands/pipeline/bootstrap/cli.py
Labels: pr/external, area/pipeline, stage/needs-triage

#5476 fix: E2E test can't find esbuild binary
  tests/end_to_end/testdata/esbuild-datadog-integration/package.json
Labels: pr/internal

#5427 fix(invoke): Write in UTF-8 string instead of bytes
  samcli/commands/remote/remote_invoke_context.py
  samcli/lib/docker/log_streamer.py
  samcli/lib/package/s3_uploader.py
  samcli/lib/utils/osutils.py
  samcli/lib/utils/stream_writer.py
  samcli/lib/utils/subprocess_utils.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_image.py
  samcli/local/docker/manager.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/unit/lib/utils/test_osutils.py
  tests/unit/lib/utils/test_stream_writer.py
  tests/unit/lib/utils/test_subprocess_utils.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/docker/test_lambda_image.py
  tests/unit/local/docker/test_manager.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5468 feat: Parse parameters into JSON schema objects
  schema/schema.py
Labels: pr/internal

#5478 chore: fix the v2 gateway integration to route resources linking
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/pipeline, area/sync, area/local/start-invoke

#5399 fix: use images.build rather than low level build API to catch errors
  samcli/lib/build/app_builder.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/PythonImage/InvalidDockerfile
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#5481 feat: Link v2 integration to lambda function
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#5477 fix: Relax document version check for authorizers
  samcli/commands/local/lib/swagger/parser.py
  tests/unit/commands/local/lib/swagger/test_parser.py
Labels: pr/internal

#5486 feat: Link v2 integration to V2 API
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_properties.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#5485 fix: use StringIO instead of BytesIO with StreamWriter
  samcli/commands/local/cli_common/invoke_context.py
  samcli/lib/package/ecr_uploader.py
  samcli/lib/utils/stream_writer.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/services/base_local_service.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/local/services/test_base_local_service.py
Labels: pr/internal

#5491 chore: Update dependabot config
  .github/dependabot.yml
Labels: pr/internal

#5484 feat: Implement JSON schema generation logic
  samcli/commands/init/command.py
  schema/samcli.json
  schema/schema.py
Labels: pr/external

#5469 feat: Support YAML file formats for config files
  samcli/cli/cli_config_file.py
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/commands/build/command.py
  samcli/commands/delete/delete_context.py
  samcli/commands/deploy/command.py
  samcli/commands/deploy/guided_config.py
  samcli/commands/init/command.py
  samcli/commands/list/endpoints/command.py
  samcli/commands/list/resources/command.py
  samcli/commands/list/stack_outputs/command.py
  samcli/commands/local/generate_event/event_generation.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/logs/command.py
  samcli/commands/package/command.py
  samcli/commands/pipeline/bootstrap/cli.py
  samcli/commands/pipeline/init/cli.py
  samcli/commands/publish/command.py
  samcli/commands/remote/invoke/cli.py
  samcli/commands/sync/command.py
  samcli/commands/traces/command.py
  samcli/commands/validate/validate.py
  samcli/lib/config/exceptions.py
  samcli/lib/config/file_manager.py
  samcli/lib/config/samconfig.py
  samcli/lib/telemetry/event.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_samconfig.py
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/integration/telemetry/test_installed_metric.py
  tests/integration/telemetry/test_telemetry_contract.py
  tests/integration/testdata/buildcmd/samconfig/samconfig.json
  tests/integration/testdata/buildcmd/samconfig/samconfig.toml
  tests/integration/testdata/buildcmd/samconfig/samconfig.yaml
  tests/integration/testdata/buildcmd/samconfig/samconfig.yml
  tests/integration/testdata/buildcmd/samconfig/template.yaml
  tests/unit/cli/test_cli_config_file.py
  tests/unit/commands/delete/test_delete_context.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/samconfig/test_file_manager.py
  tests/unit/lib/samconfig/test_samconfig.py
Labels: area/package, area/deploy, area/local/start-api, area/validate, area/init, area/logs, area/build, area/publish, area/local/invoke, pr/internal, area/pipeline, area/delete, area/sync, area/local/start-invoke, area/traces

#5489 Allow greater versions of typing_extensions
  requirements/base.txt
Labels: pr/external, stage/needs-triage

#5511 fix: Pin click to be < 8.1.4 temporarily
  requirements/base.txt
Labels: pr/internal

#5512 fix: Revert UTF-8 fixes #5485 and #5427
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/remote/remote_invoke_context.py
  samcli/lib/docker/log_streamer.py
  samcli/lib/package/ecr_uploader.py
  samcli/lib/package/s3_uploader.py
  samcli/lib/utils/osutils.py
  samcli/lib/utils/stream_writer.py
  samcli/lib/utils/subprocess_utils.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_image.py
  samcli/local/docker/manager.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/services/base_local_service.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/lib/utils/test_osutils.py
  tests/unit/lib/utils/test_stream_writer.py
  tests/unit/lib/utils/test_subprocess_utils.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/docker/test_lambda_image.py
  tests/unit/local/docker/test_manager.py
  tests/unit/local/services/test_base_local_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5510 fix: Bump timeout
  tests/end_to_end/testdata/esbuild-datadog-integration/template.yaml
Labels: pr/internal

#5503 feat: Link V2 Route to V2 API
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#5504 feat: Generate `sam deploy` schema
  schema/samcli.json
  schema/schema.py
Labels: pr/external, stage/needs-triage

#5525 fix: Convert paths to POSIX paths before checking in esbuild handling logic
  samcli/lib/build/bundler.py
  tests/unit/lib/build_module/test_bundler.py
Labels: area/build

#5502 test: Step functions remote invoke integ tests
  samcli/lib/remote_invoke/lambda_invoke_executors.py
  tests/integration/remote/invoke/remote_invoke_integ_base.py
  tests/integration/remote/invoke/test_lambda_invoke_response_stream.py
  tests/integration/remote/invoke/test_remote_invoke.py
  tests/integration/testdata/remote_invoke/events/sfn_input_event.json
  tests/integration/testdata/remote_invoke/lambda-fns/main.py
  tests/integration/testdata/remote_invoke/nested_templates/childstack/function/app.py
  tests/integration/testdata/remote_invoke/nested_templates/childstack/state-machines/hello-world-state-machine-definition.asl.json
  tests/integration/testdata/remote_invoke/nested_templates/childstack/template.yaml
  tests/integration/testdata/remote_invoke/state-machines/execution-fails-state-machine-definition.asl.json
  tests/integration/testdata/remote_invoke/state-machines/hello-world-state-machine-definition.asl.json
  tests/integration/testdata/remote_invoke/state-machines/stock-trader-state-machine-definition.asl.json
  tests/integration/testdata/remote_invoke/template-multiple-resources.yaml
  tests/integration/testdata/remote_invoke/template-step-function-priority.yaml
Labels: pr/internal

#5526 feat: add python3.11 support
  .github/workflows/build.yml
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/lib/utils/preview_runtimes.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#5541 fix(providers): correct typo
  samcli/lib/providers/cfn_api_provider.py
Labels: pr/external, stage/needs-triage

#5544 fix: Pin cython to a version that is less than 3.0.0
  Makefile
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/build-mac.sh
Labels: pr/internal

#5545 fix: pin cython < 3.0.0
  Makefile
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/build-mac.sh
Labels: pr/internal

#5505 feat: Generate `sam build` schema
  samcli/commands/build/command.py
  schema/samcli.json
  schema/schema.py
Labels: pr/external, stage/needs-triage

#5557 chore: bump version to 1.92.0
  samcli/__init__.py
Labels: pr/internal

#5570 fix: Add type checking on condition for mypy-boto3
  samcli/lib/remote_invoke/lambda_invoke_executors.py
  samcli/lib/remote_invoke/stepfunctions_invoke_executors.py
Labels: pr/internal

#5572 chore: Vendor serverlessrepo to remove dependency
  requirements/base.txt
  samcli/commands/publish/command.py
  samcli/vendor/__init__.py
  samcli/vendor/serverlessrepo/__init__.py
  samcli/vendor/serverlessrepo/application_metadata.py
  samcli/vendor/serverlessrepo/exceptions.py
  samcli/vendor/serverlessrepo/parser.py
  samcli/vendor/serverlessrepo/publish.py
  tests/unit/commands/publish/test_command.py
  tests/unit/vendor/__init__.py
  tests/unit/vendor/serverlessrepo/__init__.py
  tests/unit/vendor/serverlessrepo/test_application_metadata.py
  tests/unit/vendor/serverlessrepo/test_parser.py
  tests/unit/vendor/serverlessrepo/test_publish.py
Labels: area/publish, pr/internal

#5573 chore: Bump pyyaml to version 6, revert pyyaml pins
  Makefile
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/build-mac.sh
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
Labels: pr/internal

#5580 chore: Pin PyYAML major version
  requirements/base.txt
Labels: pr/internal

#5558 feat: Generate `sam local` schema
  samcli/commands/local/cli_common/options.py
  schema/samcli.json
  schema/schema.py
Labels: pr/external, stage/needs-triage

#5581 chore: bump version to 1.93.0
  samcli/__init__.py
Labels: pr/internal

#5559 feat: Generate `sam validate` and `sam package` schema
  schema/samcli.json
Labels: pr/external, stage/needs-triage

#5554 fix: Graceful error handling for port already in use
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/local/docker/container.py
  samcli/local/docker/exceptions.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/local/start_lambda/test_cli.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5527 fix: don't run sam transform when getting (nested) stack information
  samcli/lib/providers/sam_base_provider.py
  samcli/lib/providers/sam_stack_provider.py
  samcli/lib/sync/watch_manager.py
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/sync/infra/before/Python/function_simple/__init__.py
  tests/integration/testdata/sync/infra/before/Python/function_simple/app.py
  tests/integration/testdata/sync/infra/before/Python/function_simple/requirements.txt
  tests/integration/testdata/sync/infra/template-python-function-only-invalid.yaml
  tests/integration/testdata/sync/infra/template-python-function-only.yaml
  tests/unit/lib/sync/test_watch_manager.py
Labels: pr/internal

#5582 Update brew tap badge in README.md
  README.md
Labels: pr/internal

#5528 fix: Use posix path for dockerfile path passed to docker build API
  samcli/lib/build/app_builder.py
  samcli/lib/samlib/resource_metadata_normalizer.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/asset.31c00c94a012bbfa9021c9ef3d6589c251d6e9743f9cf6d38694d29e7372c428/__init__.py
  tests/integration/testdata/buildcmd/asset.31c00c94a012bbfa9021c9ef3d6589c251d6e9743f9cf6d38694d29e7372c428/myimage/Dockerfile
  tests/integration/testdata/buildcmd/asset.31c00c94a012bbfa9021c9ef3d6589c251d6e9743f9cf6d38694d29e7372c428/myimage/main.py
  tests/integration/testdata/buildcmd/cdk_v2_synthesized_template_image_function_shared_code.json
  tests/unit/lib/samlib/test_resource_metadata_normalizer.py
Labels: pr/internal

#5560 feat: Generate `sam init` schema
  samcli/local/common/runtime_template.py
  schema/samcli.json
  schema/schema.py
Labels: pr/internal, stage/needs-triage

#5487 chore: Added schema auto label to actions
  .github/labeler.yml
Labels: pr/internal

#5596 fix: remove resolve-image-repos error message from the commands it is not supported
  samcli/commands/deploy/command.py
  samcli/commands/package/command.py
  samcli/commands/sync/command.py
  samcli/lib/cli_validation/image_repository_validation.py
  tests/unit/lib/cli_validation/test_image_repository_validation.py
Labels: area/package, area/deploy, area/sync

#5593 feat: Add unit testing to JSON schema
  Makefile
  schema/__init__.py
  schema/exceptions.py
  schema/schema.py
  tests/unit/schema/test_schema_logic.py
Labels: pr/external, stage/needs-triage

#5584 chore: Move boto3-stubs dependency from dev.txt to base.txt
  requirements/base.txt
  requirements/dev.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  samcli/lib/bootstrap/companion_stack/companion_stack_manager.py
  samcli/lib/remote_invoke/lambda_invoke_executors.py
  samcli/lib/remote_invoke/stepfunctions_invoke_executors.py
Labels: pr/internal

#5597 fix: calculate hash of a file with given contents without writing to a tmp location
  samcli/lib/package/local_files_utils.py
  tests/integration/delete/test_delete_command.py
  tests/integration/testdata/package/aws-s3-with-lang-ext.yaml
  tests/unit/lib/package/test_local_files_utils.py
Labels: pr/internal

#5611 feat: Generate `sam list` schema
  schema/samcli.json
Labels: pr/external, stage/needs-triage

#5612 feat: Generate `sam sync` schema
  schema/samcli.json
Labels: pr/external, stage/needs-triage

#5609 feat: remove packaging warning messaging for python3.11.
  samcli/lib/utils/preview_runtimes.py
Labels: pr/external, stage/needs-triage

#5610 feat: Generate `sam delete` and `sam traces` schema
  samcli/commands/_utils/options.py
  samcli/commands/logs/command.py
  samcli/commands/traces/command.py
  schema/samcli.json
  tests/unit/commands/traces/test_command.py
Labels: pr/external, stage/needs-triage

#5628 chore: bump version to 1.94.0
  samcli/__init__.py
Labels: pr/internal

#5629 fix: update the error message in the integration testing
  tests/integration/package/test_package_command_image.py
Labels: pr/internal

#5622 feat: Link V2 Stages to V2 APIs
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_properties.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#5626 feat: Link Gateway V2 APIs to Lambda Functions
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#5620 fix: Add type names to custom parameter types
  samcli/cli/types.py
  schema/make_schema.py
  tests/unit/schema/test_schema_logic.py
Labels: pr/external, stage/needs-triage

#5627 fix: Prevent stack trace when incorrect filetype is passed as config
  samcli/lib/config/exceptions.py
  tests/integration/buildcmd/test_build_samconfig.py
  tests/integration/testdata/buildcmd/samconfig/samconfig.jpeg
Labels: pr/external, stage/needs-triage

#5625 feat: Link APIGW V2 Authorizers to APIGW V2 Api
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_properties.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5636 feat: Generate `sam publish` and `sam remote` schema
  schema/samcli.json
Labels: area/schema

#5637 feat: Generate `sam pipeline` schema
  schema/samcli.json
Labels: area/schema

#5638 feat: Generate `sam logs` schema
  schema/samcli.json
Labels: area/schema

#5641 feat: Remove exclusionary logic from schema generation
  schema/make_schema.py
Labels: pr/external, stage/needs-triage, area/schema

#5653 fix: Repair failing config integration test
  tests/integration/deploy/test_deploy_command.py
Labels: pr/external, stage/needs-triage

#5659 Binary canaries
  appveyor-windows-binary.yml
Labels: pr/internal
