Repository aws/aws-sam-cli, pull requests merged in 2023-05, with the labels that each got.

#5093 feat: update `aws-sam-translator` to 1.66.0
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#5078 fix: Fix S3 bucket policy issue for sam pipeline
  samcli/lib/pipeline/bootstrap/stage_resources.yaml
Labels: pr/internal

#5097 fix(list): Handle Stacks with >100 resources
  samcli/lib/list/resources/resource_mapping_producer.py
  tests/unit/commands/list/resources/test_resources_context.py
Labels: pr/internal

#5099 chore: consolidate env vars and set the ones recommended by AppVeyor
  appveyor-ubuntu.yml
Labels: pr/internal

#4998 feat: logs powered by `rich`
  installer/assets/THIRD-PARTY-LICENSES
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/lib/utils/sam_logging.py
  tests/unit/lib/utils/test_sam_logging.py
Labels: pr/internal

#5105 fix: Flaky Init Test
  tests/unit/commands/init/test_cli.py
Labels: pr/internal

#5092 fix: relax IAM Policy Document structure requirements
  samcli/local/apigw/authorizers/lambda_authorizer.py
  tests/unit/local/apigw/test_lambda_authorizer.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke, stage/needs-triage

#5089 remove dotnet5 support
  samcli/local/common/runtime_template.py
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/init/test_non_interactive_mode.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5113 chore: run other test group in parallel
  appveyor-ubuntu.yml
  appveyor-windows.yml
  tests/integration/init/test_init_base.py
  tests/integration/logs/test_logs_command.py
  tests/integration/pipeline/base.py
  tests/integration/telemetry/integ_base.py
  tests/integration/traces/test_traces_command.py
Labels: pr/internal

#5124 fix: fix the documentation url for deploy command
  samcli/lib/docs/documentation_links.json
Labels: pr/internal

#5123 fix: fix the python installation in CDK integration Appveyor
  .github/workflows/build.yml
  appveyor-iac-integration-ubuntu.yml
  tests/iac_integration/cdk/testdata/cdk_v1/java/src/main/java/com/myorg/JavaStack.java
  tests/iac_integration/cdk/testdata/cdk_v1/python/python/python_stack.py
  tests/iac_integration/cdk/testdata/cdk_v1/typescript/lib/test-stack.ts
  tests/iac_integration/cdk/testdata/cdk_v2/java/src/main/java/com/myorg/JavaStack.java
  tests/iac_integration/cdk/testdata/cdk_v2/python/python/python_stack.py
  tests/iac_integration/cdk/testdata/cdk_v2/typescript/lib/test-stack.ts
Labels: pr/internal

#5125 fix: fix some issues in integration testing
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/publish/publish_app_integ_base.py
  tests/integration/testdata/sync/code/after/dotnet_function/src/HelloWorld/HelloWorld.csproj
  tests/integration/testdata/sync/code/before/dotnet_function/src/HelloWorld/HelloWorld.csproj
  tests/integration/testdata/sync/code/before/template-dotnet.yaml
Labels: pr/internal

#5120 feat: update terraform prepare hook to use linking fields values to link the applied resources.
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_with_count_and_invalid_sam_metadata/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer1/lib1.py
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer2/lib2.py
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5136 chore: run all sam init tests in the same group
  tests/integration/init/schemas/schemas_test_data_setup.py
  tests/integration/init/schemas/test_init_with_schemas_command.py
  tests/integration/init/test_init_command.py
Labels: pr/internal

#5121 feat: add API Gateway Method, and Rest API resources linking
  samcli/hook_packages/terraform/hooks/prepare/constants.py
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/lambda_function.py
  samcli/hook_packages/terraform/hooks/prepare/resources/lambda_layers.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_properties.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  samcli/hook_packages/terraform/hooks/prepare/types.py
  samcli/hook_packages/terraform/hooks/prepare/utilities.py
  tests/unit/hook_packages/terraform/hooks/prepare/resources/test_lambda_function.py
  tests/unit/hook_packages/terraform/hooks/prepare/resources/test_lambda_layers.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_types.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_utilities.py
Labels: pr/internal

#5107 fix: switch to `rich` for color logging.
  samcli/commands/sync/command.py
  samcli/lib/build/app_builder.py
  samcli/lib/deploy/deployer.py
  samcli/lib/providers/sam_function_provider.py
  samcli/lib/sync/sync_flow_executor.py
  samcli/lib/sync/watch_manager.py
  samcli/lib/utils/colors.py
  tests/unit/lib/utils/test_colors.py
Labels: area/build, pr/internal, area/sync

#5140 chore: version bump to 1.83.0
  samcli/__init__.py
Labels: pr/internal

#5139 feat: Link APIGW Resources to APIGW REST APIs
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/lambda_function.py
  samcli/hook_packages/terraform/hooks/prepare/resources/lambda_layers.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_properties.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5134 feat: GHA for auto updating and committing to lastest aws-sam-translator
  .github/dependabot.yml
  .github/workflows/automated-updates-to-sam-cli.yml
  .github/workflows/update_app_templates_hash.yml
Labels: pr/internal

#5115 feat: add remote invoke factories
  samcli/lib/remote_invoke/__init__.py
  samcli/lib/remote_invoke/remote_invoke_executor_factory.py
  samcli/lib/remote_invoke/remote_invoke_executors.py
  tests/unit/lib/remote_invoke/__init__.py
  tests/unit/lib/remote_invoke/test_remote_invoke_executor_factory.py
  tests/unit/lib/remote_invoke/test_remote_invoke_executors.py
Labels: pr/internal

#5148 fix: spelling error in repo for updating SAM-T version GHA
  .github/workflows/automated-updates-to-sam-cli.yml
Labels: pr/internal

#5143 fix: remove the building step from the unsupported test cases as it is not part of what we need to test
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/function1.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/function1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/layer1.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/layer2.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/layer2/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/lambda_src/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers/py_build.sh
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/function1.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/function1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/layer1.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/layer2.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/layer2/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/lambda_src/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/conditional_layers_null/py_build.sh
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/function1.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/function1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/layer1.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/layer2.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/layer2/lib.py
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/lambda_src/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/lambda_function_referencing_local_var_layer/py_build.sh
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/function1.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/function1/app.py
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/function1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer1.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer1/lib1.py
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer1/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer2.zip
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer2/lib2.py
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/lambda_src/layer2/requirements.txt
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/main.tf
  tests/integration/testdata/buildcmd/terraform/unsupported/one_lambda_function_linked_to_two_layers/py_build.sh
Labels: pr/internal

#5150 feat: Link stages to REST APIs, methods to resources
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_properties.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5141 feat: Link APIGW Resources to APIGW REST APIs
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5152 fix: catch all ClientError from Boto
  samcli/cli/context.py
  samcli/commands/_utils/command_exception_handler.py
  samcli/commands/exceptions.py
  samcli/commands/pipeline/bootstrap/guided_context.py
  samcli/lib/bootstrap/bootstrap.py
  samcli/lib/bootstrap/companion_stack/companion_stack_manager.py
  samcli/lib/utils/managed_cloudformation_stack.py
  tests/unit/commands/_utils/test_command_exception_handler.py
  tests/unit/lib/bootstrap/test_bootstrap.py
  tests/unit/lib/utils/test_managed_cloudformation_stack.py
Labels: pr/internal, area/pipeline

#5159 fix: `sam local invoke -e` crashes on non existent file
  samcli/commands/local/invoke/cli.py
  tests/unit/commands/local/invoke/test_cli.py
Labels: area/local/invoke, pr/internal

#5135 Fix authorizer method ARN for parameterized endpoint
  samcli/local/apigw/local_apigw_service.py
  tests/integration/local/start_api/lambda_authorizers/test_swagger_authorizer_definitions.py
  tests/integration/testdata/start_api/lambda_authorizers/app.py
  tests/integration/testdata/start_api/lambda_authorizers/swagger-api.yaml
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke

#5142 fix: only remove sub folders when cleaning up cached or incremental build dirs
  samcli/lib/build/build_strategy.py
  tests/unit/lib/build_module/test_build_strategy.py
Labels: area/build, pr/internal

#5149 chore: Updated message regarding root level authorizers
  samcli/commands/local/lib/swagger/parser.py
Labels: pr/internal

#5158 chore: Cleanup the linking functions
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  samcli/hook_packages/terraform/hooks/prepare/types.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5117 feat: Added parameter overrides to sam list endpoints and resources
  samcli/commands/list/endpoints/command.py
  samcli/commands/list/endpoints/endpoints_context.py
  samcli/commands/list/resources/command.py
  samcli/commands/list/resources/resources_context.py
  samcli/lib/list/endpoints/endpoints_producer.py
  samcli/lib/list/resources/resource_mapping_producer.py
  samcli/lib/translate/sam_template_validator.py
  tests/unit/commands/list/endpoints/test_cli.py
  tests/unit/commands/list/resources/test_cli.py
  tests/unit/commands/list/resources/test_resources_context.py
Labels: pr/internal

#5171 fix: Install both Py3.7 and Py3.11 in GHA to upgrade SAM-T
  .github/workflows/automated-updates-to-sam-cli.yml
Labels: pr/internal

#5177 chore: bump version to 1.84.0
  samcli/__init__.py
Labels: pr/internal

#5176 feat: collect gateway integration response resources
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  samcli/hook_packages/terraform/hooks/prepare/resources/internal.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_properties.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5174 feat: Link API Gateway Methods to Integrations
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/unit/hook_packages/terraform/hooks/prepare/resources/test_apigw.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5178 Thread id bug
  samcli/lib/sync/infra_sync_executor.py
  samcli/lib/sync/sync_flow_executor.py
  samcli/lib/telemetry/event.py
  tests/unit/lib/telemetry/test_event.py
Labels: pr/external, stage/needs-triage

#5180 feat: API Gateway V1 Lambda authorizer property mapping
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5184 feat: map gateway integration response resources to integration method resources
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/unit/hook_packages/terraform/hooks/prepare/resources/test_apigw.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#4991 Bug: CORS Support in start-api
  samcli/local/apigw/local_apigw_service.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke

#5183 feat: remote invoke context initial impl
  samcli/commands/remote_invoke/__init__.py
  samcli/commands/remote_invoke/exceptions.py
  samcli/commands/remote_invoke/remote_invoke_context.py
  samcli/lib/pipeline/bootstrap/resource.py
  samcli/lib/utils/arn_utils.py
  samcli/lib/utils/cloudformation.py
  tests/unit/commands/remote_invoke/__init__.py
  tests/unit/commands/remote_invoke/test_remote_invoke_context.py
  tests/unit/lib/utils/test_arn_utils.py
  tests/unit/lib/utils/test_cloudformation.py
Labels: pr/internal

#5179 feat: Add lambda invoke boto API setup for remote invoke
  samcli/lib/remote_invoke/exceptions.py
  samcli/lib/remote_invoke/lambda_invoke_executors.py
  samcli/lib/remote_invoke/remote_invoke_executor_factory.py
  samcli/lib/remote_invoke/remote_invoke_executors.py
  tests/unit/lib/remote_invoke/test_lambda_invoke_executors.py
  tests/unit/lib/remote_invoke/test_remote_invoke_executor_factory.py
  tests/unit/lib/remote_invoke/test_remote_invoke_executors.py
Labels: pr/internal

#5195 chore: update lambda powertools name
  README.md
Labels: pr/external, stage/needs-triage

#5193 feat: update remote invoke context to actually invoke the executor
  samcli/commands/remote_invoke/exceptions.py
  samcli/commands/remote_invoke/remote_invoke_context.py
  samcli/lib/utils/cloudformation.py
  tests/unit/commands/remote_invoke/test_remote_invoke_context.py
  tests/unit/lib/utils/test_cloudformation.py
Labels: pr/internal

#5197 feat: upgrade cfn-lint
  installer/pyinstaller/samcli.spec
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#5182 fix: Relaxed OpenApi authorizer definition
  samcli/commands/local/lib/swagger/parser.py
  samcli/lib/providers/cfn_api_provider.py
  tests/unit/commands/local/lib/swagger/test_parser.py
Labels: pr/internal

#5181 feat: Terraform apply message to populate unresolved values
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5200 Revert "Bug: CORS Support in start-api (#4991)"
  samcli/local/apigw/local_apigw_service.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5202 Chore: update GH Action to update aws-lambda-builders dependency
  .github/dependabot.yml
  .github/workflows/automated-updates-to-sam-cli.yml
Labels: pr/internal

#5186 feat: add ruby3.2 support (#450) (#470)
  .github/workflows/build.yml
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/lib/utils/preview_runtimes.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_image.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/commands/init/test_cli.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#5210 fix: fix the hardcoded number of stages printed in logs.
  samcli/commands/pipeline/init/interactive_init_flow.py
Labels: pr/internal, area/pipeline

#5196 feat: Linking Authorizers to Lambda functions using the invocation URI
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_properties.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#5218 fix: fix failing Terraform integration test cases
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5226 chore: bump version to 1.85.0
  samcli/__init__.py
Labels: pr/internal

#5221 chore: use the SAR Application created in testing accounts
  tests/integration/testdata/buildcmd/aws-serverless-application-with-application-id-map.yaml
Labels: pr/internal

#5217 feat: Enable hook-name and skip-prepare-infra flagf for sam local start-api
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_api/core/options.py
  samcli/commands/remote_invoke/remote_invoke_context.py
  tests/unit/commands/local/start_api/core/test_command.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/samconfig/test_samconfig.py
Labels: pr/internal

#5228 feat: Added linking Gateway Method to Lambda Authorizer
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#5231 chore: Strengthen wording on "no Auth" during deploy
  samcli/commands/deploy/deploy_context.py
  samcli/commands/deploy/guided_context.py
  tests/unit/commands/deploy/test_guided_context.py
Labels: area/deploy, pr/internal

#5219 feat: Link Lambda Authorizer to Rest API
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal
