Repository aws/aws-sam-cli, pull requests merged in 2023-08, with the labels that each got.

#5651 chore: Update CFN Lint version to support python 3.11
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
Labels: pr/external, stage/needs-triage

#5656 fix: Require file label to run before maintainers
  .github/workflows/pr-labeler.yml
Labels: pr/internal

#5642 fix(invoke): Write in UTF-8 string instead of bytes
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/remote/remote_invoke_context.py
  samcli/lib/docker/log_streamer.py
  samcli/lib/package/ecr_uploader.py
  samcli/lib/package/s3_uploader.py
  samcli/lib/utils/osutils.py
  samcli/lib/utils/stream_writer.py
  samcli/lib/utils/subprocess_utils.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_image.py
  samcli/local/docker/manager.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/services/base_local_service.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/lib/utils/test_osutils.py
  tests/unit/lib/utils/test_stream_writer.py
  tests/unit/lib/utils/test_subprocess_utils.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/docker/test_lambda_image.py
  tests/unit/local/docker/test_manager.py
  tests/unit/local/services/test_base_local_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5682 Test/binary canaries
  appveyor-linux-binary.yml
Labels: pr/internal

#5654 feat: Add schema validation tests
  samcli/commands/_utils/options.py
  schema/samcli.json
  tests/unit/schema/test_schema_validation.py
  tests/unit/schema/testdata/failing_tests/buildcmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/buildcmd_noparams.yaml
  tests/unit/schema/testdata/failing_tests/buildcmd_wrongtype_build_dir.toml
  tests/unit/schema/testdata/failing_tests/buildcmd_wrongtype_build_dir.yaml
  tests/unit/schema/testdata/failing_tests/buildcmd_wrongtype_debug.toml
  tests/unit/schema/testdata/failing_tests/buildcmd_wrongtype_debug.yaml
  tests/unit/schema/testdata/failing_tests/buildcmd_wrongtype_parameter_overrides.toml
  tests/unit/schema/testdata/failing_tests/buildcmd_wrongtype_parameter_overrides.yaml
  tests/unit/schema/testdata/failing_tests/deletecmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/deploycmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/initcmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/list_endpointscmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/list_resourcescmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/list_stack_outputscmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/local_invokecmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/local_invokecmd_wrongtype_debug_port.toml
  tests/unit/schema/testdata/failing_tests/local_invokecmd_wrongtype_debug_port.yaml
  tests/unit/schema/testdata/failing_tests/local_start_apicmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/local_start_lambdacmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/logscmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/noversion.toml
  tests/unit/schema/testdata/failing_tests/noversion.yaml
  tests/unit/schema/testdata/failing_tests/packagecmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/packagecmd_wrongtype_image_repositories.toml
  tests/unit/schema/testdata/failing_tests/packagecmd_wrongtype_image_repositories.yaml
  tests/unit/schema/testdata/failing_tests/pipeline_bootstrapcmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/pipeline_initcmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/publishcmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/remote_invokecmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/synccmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/tracescmd_noparams.toml
  tests/unit/schema/testdata/failing_tests/validatecmd_noparams.toml
  tests/unit/schema/testdata/passing_tests/buildcmd.toml
  tests/unit/schema/testdata/passing_tests/deletecmd.toml
  tests/unit/schema/testdata/passing_tests/deploycmd.toml
  tests/unit/schema/testdata/passing_tests/initcmd.toml
  tests/unit/schema/testdata/passing_tests/list_endpointscmd.toml
  tests/unit/schema/testdata/passing_tests/list_resources.toml
  tests/unit/schema/testdata/passing_tests/list_stack_outputs.toml
  tests/unit/schema/testdata/passing_tests/local_invokecmd.toml
  tests/unit/schema/testdata/passing_tests/local_start_apicmd.toml
  tests/unit/schema/testdata/passing_tests/local_start_lambdacmd.toml
  tests/unit/schema/testdata/passing_tests/logscmd.toml
  tests/unit/schema/testdata/passing_tests/packagecmd.toml
  tests/unit/schema/testdata/passing_tests/pipeline_bootstrapcmd.toml
  tests/unit/schema/testdata/passing_tests/pipeline_initcmd.toml
  tests/unit/schema/testdata/passing_tests/publishcmd.toml
  tests/unit/schema/testdata/passing_tests/remote_invokecmd.toml
  tests/unit/schema/testdata/passing_tests/sample.toml
  tests/unit/schema/testdata/passing_tests/sample.yaml
  tests/unit/schema/testdata/passing_tests/simplesample.toml
  tests/unit/schema/testdata/passing_tests/synccmd.toml
  tests/unit/schema/testdata/passing_tests/tracescmd.toml
  tests/unit/schema/testdata/passing_tests/validatecmd.toml
Labels: pr/internal, stage/needs-triage, area/schema

#5684 Test/binary canaries
  appveyor-linux-binary.yml
  appveyor-windows-binary.yml
Labels: pr/internal

#5679 fix(test): Force reading file with utf8 in tests for windows
  tests/integration/local/invoke/test_integrations_cli.py
Labels: pr/internal

#5680 fix(test): Increase max execution time for timeout tests
  tests/integration/local/invoke/test_integrations_cli.py
Labels: pr/internal

#5685 Test/binary canaries
  appveyor-linux-binary.yml
Labels: pr/internal

#5686 Test/binary canaries
  appveyor-linux-binary.yml
Labels: pr/internal

#5688 Test/binary canaries
  appveyor-linux-binary.yml
Labels: pr/internal

#5689 Test/binary canaries
  appveyor-linux-binary.yml
  tests/testing_utils.py
Labels: pr/internal

#5683 feat: Add schema generation to GitHub Actions
  .github/workflows/build.yml
  Makefile
Labels: pr/external, stage/needs-triage

#5634 test: Add Terraform V2 API Integration Test Cases
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/terraform-v2-api-quick-create/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-api-quick-create/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple/main.tf
Labels: pr/internal

#5698 fix: Repair failing integration test
  tests/integration/deploy/test_deploy_command.py
Labels: pr/external

#5687 fix: Delete stacks in REVIEW_IN_PROGRESS
  samcli/commands/delete/delete_context.py
  samcli/commands/delete/exceptions.py
  samcli/lib/delete/cfn_utils.py
  tests/integration/delete/test_delete_command.py
  tests/unit/commands/delete/test_delete_context.py
  tests/unit/lib/delete/test_cfn_utils.py
Labels: pr/internal, area/delete

#5717 Test/binary canaries
  tests/testing_utils.py
Labels: pr/internal

#5720 Binary canary config
  appveyor-linux-binary.yml
  samcli/commands/delete/delete_context.py
  samcli/commands/delete/exceptions.py
  samcli/lib/delete/cfn_utils.py
  tests/integration/delete/test_delete_command.py
  tests/unit/commands/delete/test_delete_context.py
  tests/unit/lib/delete/test_cfn_utils.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/delete, area/local/start-invoke

#5712 fix: supporting nested apis for v1 method, integration, and integration response resources.
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/terraform-v1-nested-apis/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#5722 Binary canary config
  appveyor-linux-binary.yml
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/terraform-v1-nested-apis/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal, area/delete

#5724 Binary canary config
  appveyor-linux-binary.yml
Labels: pr/internal

#5725 Binary canary config
  appveyor-linux-binary.yml
Labels: pr/internal

#5719 test: AppVeyor Jobs Running Against Nightly Binaries
  appveyor-linux-binary.yml
  appveyor-windows-binary.yml
  tests/integration/init/test_init_command.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/integration/telemetry/test_installed_metric.py
  tests/regression/package/regression_package_base.py
  tests/testing_utils.py
Labels: pr/internal

#5731 chore: bump version to 1.95.0
  samcli/__init__.py
Labels: pr/internal

#5730 fix(test): Don't execute change set instead of waiting for prompt
  tests/integration/delete/test_delete_command.py
Labels: pr/internal

#5732 feat: Link V2 Routes to Authorizer
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/lambda-auth-openapi/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-auth-openapi/lambda-functions.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-auth-openapi/main.tf
  tests/integration/testdata/start_api/terraform/v1-lambda-authorizer/main.tf
  tests/integration/testdata/start_api/terraform/v2-lambda-authorizer/lambda-functions.zip
  tests/integration/testdata/start_api/terraform/v2-lambda-authorizer/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
Labels: pr/internal

#5733 fix: Add error handling for provided runtime layer building
  samcli/lib/build/app_builder.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/PyLayerMake/Makefile
  tests/integration/testdata/buildcmd/layers-functions-template.yaml
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#5734 feat: Terraform Custom Plan File Support
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/build/core/options.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/invoke/core/options.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_api/core/options.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/local/start_lambda/core/options.py
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/lib/hook/hook_wrapper.py
  schema/samcli.json
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/commands/buildcmd/core/test_command.py
  tests/unit/commands/local/invoke/core/test_command.py
  tests/unit/commands/local/start_api/core/test_command.py
  tests/unit/commands/local/start_lambda/core/test_command.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: area/build, area/local/invoke, pr/internal

#5745 feat: support terraform nested directories project structure
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/build/core/options.py
  samcli/hook_packages/terraform/hooks/prepare/enrich.py
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  samcli/lib/hook/hook_wrapper.py
  schema/samcli.json
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/commands/_utils/test_options.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_enrich.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
  tests/unit/lib/hook/test_hook_wrapper.py
Labels: area/build, pr/internal, area/schema

#5748 test: adding integration testing to test supporting terraform nested directories project structure
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/modules/lambda_function/main.tf
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/modules/lambda_layer/main.tf
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/py_build.sh
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/root_module/main.tf
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/src/artifacts/HelloWorldFunction/app.py
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/src/artifacts/HelloWorldFunction/requirements.txt
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/src/artifacts/layer1/lib.py
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/src/artifacts/layer1/requirements.txt
Labels: area/build, pr/internal, area/schema

#5755 feat: Prompt users to use TFC workaround
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/lib/hook/exceptions.py
  samcli/lib/utils/subprocess_utils.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/lib/utils/test_subprocess_utils.py
Labels: pr/internal

#5751 fix: read terraform hook parameters from samconfig file
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/commands/_utils/options.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/root_module/input_samconfig.yaml
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
Labels: pr/internal

#5758 chore: Rollback custom plan file for Terraform from build
  samcli/commands/build/command.py
  samcli/commands/build/core/options.py
  schema/samcli.json
  tests/unit/commands/buildcmd/core/test_command.py
Labels: area/build, pr/internal

#5750 test: Terraform Custom Plan File Integration Testing
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
  tests/integration/testdata/invoke/terraform/simple_application_no_building_logic/custom-plan.json
  tests/integration/testdata/start_api/terraform/terraform-v1-api-simple/custom-plan.json
Labels: pr/internal

#5757 Display full error in DockerDistributionAPI error
  samcli/local/docker/lambda_image.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5770 Moving appveyor integration test terraform installation to only the C…
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-binary.yml
  appveyor-windows.yml
Labels: pr/internal

#5765 fix: add python 3.11 to path in appveyor jobs
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-binary.yml
  appveyor-windows.yml
Labels: pr/internal

#5771 fix: fix processing lambda container response if nothing returned
  samcli/local/docker/container.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/testdata/invoke/main.py
  tests/integration/testdata/invoke/template.yml
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5780 fix: adding terraform to local commands integration testing job
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-binary.yml
  appveyor-windows.yml
Labels: pr/internal

#5786 fix: handle index error if the image info returned from docker client contains any empty list for `RepoDigests` attribute
  samcli/local/docker/lambda_image.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5778 fix: Local lambda authorizer ARN matching
  samcli/local/apigw/authorizers/lambda_authorizer.py
  tests/integration/local/start_api/lambda_authorizers/test_swagger_authorizer_definitions.py
  tests/integration/testdata/start_api/lambda_authorizers/swagger-api.yaml
  tests/unit/local/apigw/test_lambda_authorizer.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke, stage/needs-triage

#5619 fix: cors for local start-api
  samcli/lib/providers/provider.py
  samcli/local/apigw/local_apigw_service.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/template-cors.yaml
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke

#5760 feat: remove beta-features flag usage for terraform feature
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/commands/build/command.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/local/common_utils.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/root_module/input_samconfig.yaml
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/commands/buildcmd/test_command.py
Labels: area/build, area/local/invoke, pr/internal

#5809 feat: Added environment variable validation for Terraform arguments
  samcli/hook_packages/terraform/copy_terraform_built_artifacts.py
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/lib/hook/exceptions.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: pr/internal

#5825 feat: Report TF custom plan file usage in telemetry
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/lib/telemetry/event.py
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/lib/telemetry/test_event.py
Labels: pr/internal

#5823 Fix sam remote invoke to take profile properly
  samcli/commands/remote/invoke/cli.py
  tests/unit/commands/remote/invoke/test_cli.py
Labels: pr/internal

#5830 chore: Resolve conflicts with upstream/develop
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/commands/remote/invoke/cli.py
  samcli/hook_packages/terraform/copy_terraform_built_artifacts.py
  samcli/hook_packages/terraform/hooks/prepare/hook.py
  samcli/lib/hook/exceptions.py
  samcli/lib/telemetry/event.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/commands/remote/invoke/test_cli.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/lib/telemetry/test_event.py
Labels: pr/internal

#5826 fix: fix CORS handling for REST API.
  samcli/lib/providers/provider.py
  samcli/local/apigw/local_apigw_service.py
  tests/integration/local/start_api/test_start_api.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5787 chore: Update description for container env var option to mention debug mode
  samcli/commands/local/cli_common/options.py
  schema/samcli.json
Labels: pr/internal, area/schema

#5844 fix: Ensure Docker is stopped
  .github/workflows/build.yml
  samcli/__init__.py
Labels: pr/internal

#5845 fix: Error messaging with Terraform and Authorizers
  samcli/lib/utils/subprocess_utils.py
  samcli/local/apigw/local_apigw_service.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/testdata/buildcmd/terraform/broken_tf/main.tf
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5749 Local Invoke Lambda Errors now display 500 code
  samcli/local/apigw/local_apigw_service.py
  samcli/local/apigw/service_error_responses.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/main.py
  tests/integration/testdata/start_api/template-http-api.yaml
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5863 fix: Don't run hook if help text option is provided
  samcli/commands/_utils/custom_options/hook_name_option.py
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
Labels: pr/internal

#5849 feat: Group common dependabot PRs together
  .github/dependabot.yml
Labels: pr/internal

#5753 Fix: Remove unneeded directory "schema"
  Makefile
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/build-mac.sh
  setup.py
Labels: pr/external

#5479 feat: add Terraform support to V2 Api gateway resources
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/commands/build/command.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/hook_packages/terraform/hooks/prepare/constants.py
  samcli/hook_packages/terraform/hooks/prepare/exceptions.py
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_links.py
  samcli/hook_packages/terraform/hooks/prepare/resources/resource_properties.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/local/common_utils.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/local/start_lambda/test_start_lambda_terraform_applications.py
  tests/integration/testdata/buildcmd/terraform/application_outside_root_directory/root_module/input_samconfig.yaml
  tests/integration/testdata/start_api/terraform/lambda-auth-openapi/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v1-api-simple/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-quick-create/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-api-quick-create/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple-local-resource-link/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple-local-resource-link/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple-multi-resource-link/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple-multi-resource-link/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-api-simple/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-auth-openapi/lambda-functions.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-auth-openapi/main.tf
  tests/integration/testdata/start_api/terraform/terraform-v2-openapi/lambda-functions.zip
  tests/integration/testdata/start_api/terraform/terraform-v2-openapi/main.tf
  tests/integration/testdata/start_api/terraform/v1-lambda-authorizer/main.tf
  tests/integration/testdata/start_api/terraform/v2-lambda-authorizer/lambda-functions.zip
  tests/integration/testdata/start_api/terraform/v2-lambda-authorizer/main.tf
  tests/unit/commands/_utils/custom_options/test_hook_package_id_option.py
  tests/unit/commands/buildcmd/test_command.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_property_builder.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: area/package, area/local/start-api, area/logs, area/local/invoke, pr/internal, area/local/start-invoke
