Repository aws/aws-sam-cli, pull requests merged in 2023-01, with the labels that each got.

#4528 update pyopenssl dep to fix #4527
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/external, stage/needs-triage

#4532 chore: bump version to 1.68.0
  samcli/__init__.py
Labels: pr/internal

#4476 chore: Update development guide to include information on dependency updates
  DEVELOPMENT_GUIDE.md
Labels: pr/internal

#4535 Revert "CVE-2007-4559 Patch"
  .gitignore
  samcli/lib/utils/tar.py
  samcli/local/docker/container.py
  tests/functional/lib/utils/__init__.py
  tests/functional/lib/utils/test_tar.py
  tests/functional/testdata/lib/utils/path_reversal_uxix.tgz
  tests/functional/testdata/lib/utils/path_reversal_win.tgz
  tests/functional/testdata/lib/utils/test.tgz
  tests/unit/lib/utils/test_tar.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4538 chore: change license badge in readme to display GH license
  README.md
Labels: pr/internal

#4525 Update `sam --info` to display enriched info
  samcli/cli/main.py
  samcli/lib/utils/system_info.py
  tests/unit/cli/test_main.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/utils/test_system_info.py
Labels: pr/internal

#4523 feat: Add support for S3 Batch Operations event (#4521)
  samcli/lib/generated_sample_events/event-mapping.json
  samcli/lib/generated_sample_events/events/s3/S3BatchInvocation.json
Labels: pr/external, stage/needs-triage

#4534 Update make lint
  Makefile
Labels: pr/internal

#4541 chore: Bump SamTranslator version to 1.56.0 and typing_extensions to 4.4.0
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/cli/hidden_imports.py
Labels: pr/internal

#4546 Update App Template Commit Hash Update job schedule to every 4 hour
  .github/workflows/update_app_templates_hash.yml
Labels: pr/internal

#4542 Reduced the length of the cloned app template folder name
  samcli/commands/init/init_templates.py
Labels: area/init, pr/internal

#4554 chore: remove duplicated samdev base_command methods in tests
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/delete/delete_integ_base.py
  tests/integration/local/generate_event/test_cli_integ.py
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/package/package_integ_base.py
  tests/integration/pipeline/base.py
  tests/integration/pipeline/test_init_command.py
  tests/integration/publish/publish_app_integ_base.py
  tests/integration/root/root_integ_base.py
  tests/integration/telemetry/integ_base.py
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#4506 Support terraform source_paths as list of dicts
  samcli/hook_packages/terraform/hooks/prepare/enrich.py
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/artifacts/layer11/lib.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/artifacts/layer11/requirements.txt
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/artifacts/layer11/lib.py
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/artifacts/layer11/requirements.txt
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/test_enrich.py
Labels: pr/external

#4556 feat: CFN Lint Support - Revert of previous revert
  installer/assets/THIRD-PARTY-LICENSES
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/hook-samcli.py
  requirements/base.txt
  requirements/reproducible-linux.txt
  samcli/cli/hidden_imports.py
  samcli/cli/options.py
  samcli/commands/validate/validate.py
  tests/integration/testdata/validate/default_yaml/templateError.yaml
  tests/integration/validate/test_validate_command.py
  tests/unit/cli/test_main.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/validate/test_cli.py
Labels: area/validate, pr/internal

#4557 Bump wheels setuptools
  requirements/reproducible-linux.txt
Labels: pr/internal

#4560 Revert "fix: Add back the fixed CVE-2007-4559 Patch changes"
  .gitignore
  samcli/lib/utils/tar.py
  samcli/local/docker/container.py
  tests/functional/lib/utils/__init__.py
  tests/functional/lib/utils/test_tar.py
  tests/functional/testdata/lib/utils/path_reversal_uxix.tgz
  tests/functional/testdata/lib/utils/path_reversal_win.tgz
  tests/functional/testdata/lib/utils/test.tgz
  tests/unit/lib/utils/test_tar.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4561 fix: `test_lint_invalid_template` on windows
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#4562 chore: new version 1.69.0
  samcli/__init__.py
Labels: pr/internal

#4564 tests: actually fix the integration tests for validate
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#4568 chore: bump version to 1.70.0
  samcli/__init__.py
Labels: pr/internal

#4566 feat: send build in source parameter through to lambda builders library
  samcli/commands/build/build_context.py
  samcli/commands/build/command.py
  samcli/commands/sync/command.py
  samcli/lib/build/app_builder.py
  samcli/local/docker/lambda_build_container.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/buildcmd/test_command.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/local/docker/test_lambda_build_container.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/sync, area/local/start-invoke

#4563 fix: remove log & data separation from base_local_service
  samcli/local/apigw/local_apigw_service.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/services/base_local_service.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
  tests/unit/local/services/test_base_local_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4552 Add CodeQL GH Action
  .github/workflows/codeql.yml
  samcli/lib/pipeline/bootstrap/stage.py
  tests/unit/lib/pipeline/bootstrap/test_environment.py
Labels: pr/internal

#4586 chore: Remove type/bug label for Bug Issue Template
  .github/ISSUE_TEMPLATE/Bug_report.md
Labels: pr/internal

#4565 Handled unhandled exception to show bug report message
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/workflows/build.yml
  samcli/commands/exceptions.py
  samcli/lib/telemetry/metric.py
  tests/unit/commands/test_exceptions.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#4588 fix: Pin docker provider version to 2.x
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/main.tf
Labels: pr/internal

#4590 Fix appveyor canary job uploading test reports
  appveyor-ubuntu.yml
  appveyor-windows.yml
Labels: pr/internal

#4594 Print all error name and message in UnhanledException messaging
  samcli/commands/exceptions.py
  tests/unit/commands/test_exceptions.py
Labels: pr/internal

#4580 fix: Fix the permission errors in Windows and add back the CVE-2007-4559 Patch changes
  .gitignore
  samcli/lib/utils/tar.py
  samcli/local/docker/container.py
  tests/functional/lib/utils/__init__.py
  tests/functional/lib/utils/test_tar.py
  tests/functional/testdata/lib/utils/path_reversal_uxix.tgz
  tests/functional/testdata/lib/utils/path_reversal_win.tgz
  tests/functional/testdata/lib/utils/test.tgz
  tests/unit/lib/utils/test_tar.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4601 Fix master 4462
  samcli/__init__.py
  samcli/lib/package/packageable_resources.py
  samcli/lib/package/utils.py
  samcli/lib/sync/flows/auto_dependency_layer_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/utils/resources.py
  tests/integration/sync/test_sync_adl.py
  tests/testing_utils.py
  tests/unit/lib/package/test_artifact_exporter.py
  tests/unit/lib/sync/flows/test_auto_dependency_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_zip_function_sync_flow.py
Labels: pr/internal

#4603 revert: #4462 & #4485
  samcli/__init__.py
  samcli/lib/package/packageable_resources.py
  samcli/lib/package/utils.py
  samcli/lib/sync/flows/auto_dependency_layer_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/utils/resources.py
  tests/integration/sync/test_sync_adl.py
  tests/testing_utils.py
  tests/unit/lib/package/test_artifact_exporter.py
  tests/unit/lib/sync/flows/test_auto_dependency_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_zip_function_sync_flow.py
Labels: pr/internal

#4602 Fix printing exception message
  samcli/commands/exceptions.py
Labels: pr/internal

#4609 feat: Support Runtime management controls (#420)
  samcli/commands/local/lib/local_lambda.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  samcli/local/docker/lambda_image.py
  samcli/local/docker/manager.py
  samcli/local/lambdafn/config.py
  samcli/local/lambdafn/runtime.py
  tests/integration/local/invoke/test_integration_cli_images.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/local/lib/test_provider.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_image.py
  tests/unit/local/docker/test_manager.py
  tests/unit/local/lambdafn/test_config.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4598 chore: bump version to 1.71.0
  samcli/__init__.py
Labels: pr/internal

#4624 feat: Add warning about not providing stack name option
  samcli/commands/list/cli_common/options.py
  samcli/commands/list/endpoints/command.py
  samcli/commands/list/resources/command.py
  tests/unit/commands/list/endpoints/test_cli.py
  tests/unit/commands/list/resources/test_cli.py
Labels: pr/internal

#4623 fix: Fix failing list tests on Windows
  tests/integration/list/endpoints/endpoints_integ_base.py
  tests/integration/list/endpoints/test_endpoints_command.py
  tests/integration/list/list_integ_base.py
  tests/integration/list/resources/resources_integ_base.py
  tests/integration/list/resources/test_resources_command.py
Labels: pr/internal

#4612 Add event tracking for sam validate --lint metrics
  samcli/commands/validate/validate.py
  samcli/lib/telemetry/event.py
  tests/unit/commands/validate/test_cli.py
Labels: area/validate, pr/external

#4632 chore: Use utility's yaml parse method in list producer
  samcli/lib/list/resources/resource_mapping_producer.py
  tests/unit/commands/list/resources/test_resources_context.py
Labels: pr/internal

#4633 fix: Revert an integration test change related to permission change revert
  tests/integration/sync/test_sync_adl.py
Labels: pr/internal
