Repository aws/aws-sam-cli, pull requests merged in 2023-02, with the labels that each got.

#4643 feat: Added feature branches to build and codeql actions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
Labels: pr/internal

#4650 feat: Only stream command output to stdout
  samcli/commands/list/cli_common/options.py
  tests/unit/commands/list/test_options.py
Labels: pr/internal

#4652 chore: bump version to 1.72.0
  samcli/__init__.py
Labels: pr/internal

#4657 fix: Return non-zero exit code on lint failures
  samcli/commands/exceptions.py
  samcli/commands/validate/validate.py
  tests/integration/validate/test_validate_command.py
  tests/unit/commands/validate/test_cli.py
Labels: area/validate, pr/internal

#4647 Move up BuildFunctionRuntime Event to track failed builds by runtime
  samcli/commands/build/build_context.py
Labels: area/build, pr/external

#4641 feat: Collect Lambda authorizers in swagger definition
  samcli/commands/local/lib/swagger/parser.py
  samcli/lib/providers/api_collector.py
  samcli/lib/providers/cfn_base_api_provider.py
  samcli/local/apigw/exceptions.py
  samcli/local/apigw/local_apigw_service.py
  tests/unit/commands/local/lib/swagger/test_parser.py
  tests/unit/commands/local/lib/test_api_collector.py
  tests/unit/commands/local/lib/test_cfn_api_provider.py
  tests/unit/commands/local/lib/test_sam_api_provider.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/validate, area/local/invoke, pr/internal, area/local/start-invoke

#4651 fix: handle special cases for layer sync
  samcli/commands/build/build_context.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/sync_flow_factory.py
  tests/integration/sync/test_sync_code.py
  tests/integration/testdata/sync/code/after/function/app.py
  tests/integration/testdata/sync/code/after/layer_without_build_method/python/__init__.py
  tests/integration/testdata/sync/code/after/layer_without_build_method/python/layer_method.py
  tests/integration/testdata/sync/code/after/layer_zip/layer.zip
  tests/integration/testdata/sync/code/before/function/app.py
  tests/integration/testdata/sync/code/before/layer_without_build_method/python/__init__.py
  tests/integration/testdata/sync/code/before/layer_without_build_method/python/layer_method.py
  tests/integration/testdata/sync/code/before/layer_zip/layer.zip
  tests/integration/testdata/sync/code/before/template-python.yaml
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/test_sync_flow_factory.py
Labels: pr/internal

#4659 fix: Make stack outputs description optional
  samcli/lib/list/resources/resource_mapping_producer.py
  samcli/lib/list/stack_outputs/stack_outputs_producer.py
  tests/integration/list/stack_outputs/test_stack_outputs_command.py
  tests/integration/testdata/list/test_stack_creation_template.yaml
Labels: pr/internal

#4667 chore: bump version to 1.73.0
  samcli/__init__.py
Labels: pr/internal

#4671 chore: fix sam local and sam sync integration tests
  tests/integration/local/start_lambda/test_start_lambda.py
  tests/integration/sync/test_sync_code.py
  tests/integration/testdata/invoke/template.yml
  tests/integration/testdata/sync/code/before/template-python-code-only-layer.yaml
  tests/integration/testdata/sync/code/before/template-python.yaml
  tests/testing_utils.py
Labels: pr/internal

#4628 design: New root command help text for `sam`
  designs/_template.md
  designs/root_help_text_design.md
Labels: pr/internal

#4678 feat: add build in source support for sync command
  samcli/commands/build/build_context.py
  samcli/lib/sync/flows/image_function_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
Labels: area/build, pr/internal

#4680 test: add integration tests for building in source with sam build
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_in_source.py
  tests/integration/testdata/buildcmd/provided_create_new_file/Makefile
  tests/integration/testdata/buildcmd/provided_create_new_file/Makefile-container
  tests/integration/testdata/buildcmd/provided_create_new_file/__init__.py
  tests/integration/testdata/buildcmd/provided_create_new_file/main.py
  tests/integration/testdata/buildcmd/provided_create_new_file/requirements.txt
Labels: pr/internal

#4674 Add feature flag for Rust BuildMethod
  samcli/commands/_utils/experimental.py
  samcli/commands/build/build_context.py
  tests/unit/commands/_utils/test_experimental.py
Labels: area/build, pr/internal

#4673 Expose `rustcargolambda` BuildMethod
  samcli/lib/build/app_builder.py
  samcli/lib/build/workflow_config.py
  samcli/lib/build/workflows.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_workflow_config.py
Labels: area/build, pr/internal

#4698 chore: Remove unnecessary samtranslator import "IS_STR"
  samcli/lib/samlib/wrapper.py
Labels: pr/internal

#4682 feat: Store cache information for each sync flow in sam sync context
  samcli/commands/sync/sync_context.py
  tests/unit/commands/sync/test_sync_context.py
Labels: pr/internal, area/sync

#4677 feat: Pass sync context into all sync flows
  samcli/commands/sync/command.py
  samcli/commands/sync/sync_context.py
  samcli/lib/sync/flows/alias_version_sync_flow.py
  samcli/lib/sync/flows/auto_dependency_layer_sync_flow.py
  samcli/lib/sync/flows/function_sync_flow.py
  samcli/lib/sync/flows/generic_api_sync_flow.py
  samcli/lib/sync/flows/http_api_sync_flow.py
  samcli/lib/sync/flows/image_function_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/rest_api_sync_flow.py
  samcli/lib/sync/flows/stepfunctions_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/sync/sync_flow.py
  samcli/lib/sync/sync_flow_factory.py
  samcli/lib/sync/watch_manager.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/sync/flows/test_alias_version_sync_flow.py
  tests/unit/lib/sync/flows/test_auto_dependency_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_function_sync_flow.py
  tests/unit/lib/sync/flows/test_http_api_sync_flow.py
  tests/unit/lib/sync/flows/test_image_function_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_rest_api_sync_flow.py
  tests/unit/lib/sync/flows/test_stepfunctions_sync_flow.py
  tests/unit/lib/sync/flows/test_zip_function_sync_flow.py
  tests/unit/lib/sync/test_sync_flow.py
  tests/unit/lib/sync/test_sync_flow_factory.py
  tests/unit/lib/sync/test_watch_manager.py
Labels: pr/internal, area/sync

#4707 chore: Update update_app_templates_hash.yml to add internal label
  .github/workflows/update_app_templates_hash.yml
Labels: pr/internal

#4713 chore: update deploy tests to run in 4 parallel threads
  appveyor-ubuntu.yml
  appveyor-windows.yml
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/deploy/test_managed_stack_deploy.py
  tests/integration/package/package_integ_base.py
Labels: pr/internal

#4679 feat: implementation on the root command help text design
  samcli/cli/command.py
  samcli/cli/context.py
  samcli/cli/formatters.py
  samcli/cli/main.py
  samcli/cli/root/__init__.py
  samcli/cli/root/command_list.py
  samcli/cli/row_modifiers.py
  tests/unit/cli/test_command.py
  tests/unit/cli/test_formatters.py
  tests/unit/cli/test_row_modifiers.py
Labels: pr/internal

#4668 feat: Collect Lambda Authorizers found in Cloudformation resources
  samcli/commands/local/lib/swagger/parser.py
  samcli/commands/local/lib/validators/lambda_auth_props.py
  samcli/lib/list/endpoints/endpoints_producer.py
  samcli/lib/providers/cfn_api_provider.py
  samcli/lib/utils/resources.py
  samcli/local/apigw/local_apigw_service.py
  tests/unit/commands/local/lib/test_cfn_api_provider.py
  tests/unit/commands/local/lib/validators/test_lambda_auth_props.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4654 feat: Collect Lambda Authorizers under the Auth property for Serverless resources
  samcli/lib/providers/sam_api_provider.py
  tests/unit/commands/local/lib/swagger/test_parser.py
  tests/unit/commands/local/lib/test_sam_api_provider.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4655 fix: file/directory permissions within the zip while packaging artifacts
  samcli/lib/package/packageable_resources.py
  samcli/lib/package/permissions.py
  samcli/lib/package/utils.py
  samcli/lib/sync/flows/auto_dependency_layer_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/utils/resources.py
  tests/integration/sync/test_sync_adl.py
  tests/integration/sync/test_sync_watch.py
  tests/unit/lib/package/test_artifact_exporter.py
  tests/unit/lib/package/test_permissions.py
  tests/unit/lib/sync/flows/test_auto_dependency_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_zip_function_sync_flow.py
Labels: pr/internal

#4721 chore: fix canary failures which extends from deploy class
  tests/integration/delete/delete_integ_base.py
  tests/integration/delete/test_delete_command.py
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/deploy/test_managed_stack_deploy.py
  tests/integration/list/endpoints/test_endpoints_command.py
  tests/integration/list/list_integ_base.py
  tests/integration/list/resources/test_resources_command.py
  tests/integration/list/stack_outputs/test_stack_outputs_command.py
Labels: pr/internal

#4687 Add integration tests for Rust BuildMethod
  .github/workflows/build.yml
  appveyor-ubuntu.yml
  appveyor-windows.yml
  appveyor.yml
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_rust.py
  tests/integration/testdata/buildcmd/Rust/multi-binaries/Cargo.toml
  tests/integration/testdata/buildcmd/Rust/multi-binaries/src/function_a.rs
  tests/integration/testdata/buildcmd/Rust/multi-binaries/src/function_b.rs
  tests/integration/testdata/buildcmd/Rust/single-function/Cargo.toml
  tests/integration/testdata/buildcmd/Rust/single-function/src/main.rs
  tests/integration/testdata/buildcmd/template_build_method_rust_binary.yaml
  tests/integration/testdata/buildcmd/template_build_method_rust_single_function.yaml
  tests/integration/testdata/buildcmd/template_with_metadata_esbuild.yaml
  tests/testing_utils.py
Labels: pr/internal

#4722 Rename rustcargolambda build method to rust-cargolambda
  samcli/commands/build/build_context.py
  samcli/lib/build/workflow_config.py
  tests/integration/testdata/buildcmd/template_build_method_rust_binary.yaml
  tests/integration/testdata/buildcmd/template_build_method_rust_single_function.yaml
  tests/unit/lib/build_module/test_workflow_config.py
Labels: area/build, pr/internal

#4726 Remove awslabs from docs
  CONTRIBUTING.md
  DEVELOPMENT_GUIDE.md
  README.md
  setup.py
Labels: pr/internal

#4683 feat: Added identity source validation and removed empty string state
  samcli/commands/local/lib/swagger/parser.py
  samcli/commands/local/lib/validators/__init__.py
  samcli/commands/local/lib/validators/identity_source_validator.py
  samcli/commands/local/lib/validators/lambda_auth_props.py
  samcli/lib/providers/api_collector.py
  samcli/lib/providers/cfn_api_provider.py
  samcli/lib/providers/sam_api_provider.py
  samcli/local/apigw/local_apigw_service.py
  tests/unit/commands/local/lib/swagger/test_parser.py
  tests/unit/commands/local/lib/test_api_collector.py
  tests/unit/commands/local/lib/test_cfn_api_provider.py
  tests/unit/commands/local/lib/test_identity_source_validator.py
  tests/unit/commands/local/lib/test_sam_api_provider.py
  tests/unit/commands/local/lib/validators/__init__.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4725 fix: Failing sam local commands for functions with inline code gracefully
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/lib/exceptions.py
  samcli/commands/local/lib/local_lambda.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/apigw/service_error_responses.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/local/start_lambda/test_start_lambda.py
  tests/integration/testdata/invoke/template-inlinecode.yaml
  tests/integration/testdata/start_api/template-inlinecode.yaml
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4728 test: add sam sync integration tests for esbuild with building in source directory
  tests/integration/sync/test_sync_build_in_source.py
  tests/integration/testdata/sync/code/before/esbuild_function_with_local_dependency/app.js
  tests/integration/testdata/sync/code/before/esbuild_function_with_local_dependency/package.json
  tests/integration/testdata/sync/code/before/template-esbuild.yaml
Labels: pr/internal

#4723 feat: Create default samconfig.toml
  samcli/cli/options.py
  samcli/commands/init/interactive_init_flow.py
  samcli/lib/config/samconfig.py
  samcli/lib/init/__init__.py
  samcli/lib/init/default_samconfig.py
  tests/functional/commands/init/test_interactive_init_flow.py
  tests/integration/init/test_init_command.py
  tests/unit/lib/init/test_default_samconfig.py
  tests/unit/lib/init/test_init.py
Labels: pr/internal

#4719 feat: Add local hash for all sync flows and add local hash comparison
  samcli/lib/sync/flows/alias_version_sync_flow.py
  samcli/lib/sync/flows/function_sync_flow.py
  samcli/lib/sync/flows/generic_api_sync_flow.py
  samcli/lib/sync/flows/image_function_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/stepfunctions_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/sync/sync_flow.py
  tests/unit/lib/sync/flows/test_alias_version_sync_flow.py
  tests/unit/lib/sync/flows/test_auto_dependency_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_http_api_sync_flow.py
  tests/unit/lib/sync/flows/test_image_function_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_rest_api_sync_flow.py
  tests/unit/lib/sync/flows/test_stepfunctions_sync_flow.py
  tests/unit/lib/sync/test_sync_flow.py
Labels: pr/internal

#4743 codeql: fix warnings
  tests/integration/list/stack_outputs/test_stack_outputs_command.py
Labels: pr/internal

#4741 chore: remove debug flag from sync integ tests
  tests/integration/sync/test_sync_watch.py
Labels: pr/internal

#4738 fix: telemetry for Abort
  samcli/lib/init/__init__.py
  samcli/lib/telemetry/metric.py
  tests/integration/init/test_init_base.py
  tests/integration/init/test_init_command.py
  tests/unit/lib/init/test_init.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#4752 chore: bump version to 1.74.0
  .github/dependabot.yml
  requirements/pre-dev.txt
  samcli/__init__.py
Labels: pr/internal

#4734 chore: use cfn client with default region setting in managed deploy stack tests
  tests/integration/deploy/test_managed_stack_deploy.py
Labels: pr/internal

#4744 fix: Mocked out samconfig creation in init tests
  tests/unit/lib/init/test_init.py
Labels: pr/internal

#4761 visual: guided deploy flow fixes.
  samcli/commands/_utils/table_print.py
  samcli/commands/deploy/guided_context.py
  samcli/commands/deploy/utils.py
  samcli/lib/deploy/deployer.py
  samcli/lib/init/default_samconfig.py
  samcli/lib/package/s3_uploader.py
  tests/integration/init/test_init_command.py
  tests/unit/commands/_utils/test_table_print.py
  tests/unit/commands/deploy/test_guided_context.py
  tests/unit/commands/list/test_list_mappers.py
Labels: area/deploy, pr/internal

#4747 feat: update sync flow boto client generation to configure retries
  samcli/lib/sync/sync_flow.py
  tests/unit/lib/sync/test_sync_flow.py
Labels: pr/internal

#4746 Override the YAML constructor for timestamps to output as strings and not datetime objects
  samcli/yamlhelper.py
  tests/unit/test_yamlhelper.py
Labels: pr/external, stage/needs-triage

#4760 feat: update local hash of the each sync flow
  samcli/commands/sync/sync_context.py
  samcli/lib/sync/flows/image_function_sync_flow.py
  samcli/lib/sync/sync_flow.py
  tests/unit/lib/sync/flows/test_image_function_sync_flow.py
  tests/unit/lib/sync/test_sync_flow.py
Labels: pr/internal

#4739 feat: Add template comparison logic as infra sync utility
  .gitignore
  samcli/lib/sync/infra_sync_executor.py
  samcli/lib/utils/resources.py
  tests/unit/lib/sync/test_infra_sync_executor.py
Labels: pr/internal

#4772 chore: bump version to 1.75.0
  samcli/__init__.py
Labels: pr/internal

#4779 Revert "fix: Pin docker provider version to 2.x (#4588)"
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/main.tf
Labels: pr/internal

#4781 fix: Remove the logic that stores datetime information into packaged ZIP
  samcli/lib/package/utils.py
  tests/unit/lib/package/test_artifact_exporter.py
Labels: pr/internal
