Repository aws/aws-sam-cli, pull requests merged in 2023-10, with the labels that each got.

#6011 fix: Fix Win integ tests for remote test events
  tests/integration/remote/test_event/test_remote_test_event.py
Labels: pr/external, stage/needs-triage

#6029 fix: Clean up lambda-testevent-schemas registry for remote test-event integ tests
  tests/integration/remote/test_event/remote_test_event_integ_base.py
Labels: pr/internal

#6013 test: Refactor Terraform Build Tests
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-binary.yml
  appveyor-windows.yml
  tests/integration/buildcmd/test_build_terraform_applications.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend_container_windows/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend_windows/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend_container_windows/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend_windows/expected.template.yaml
Labels: pr/internal

#6005 fix: Ensure template output is actually parsable data
  samcli/lib/delete/cfn_utils.py
  tests/integration/delete/test_delete_command.py
  tests/integration/testdata/delete/companion-ecr/hello_world/Dockerfile
  tests/integration/testdata/delete/companion-ecr/hello_world/__init__.py
  tests/integration/testdata/delete/companion-ecr/hello_world/app.py
  tests/integration/testdata/delete/companion-ecr/hello_world/requirements.txt
  tests/integration/testdata/delete/companion-ecr/samconfig.yaml
  tests/integration/testdata/delete/companion-ecr/template.yaml
  tests/unit/lib/delete/test_cfn_utils.py
Labels: pr/internal

#6037 fix: Boto3 reads AWS_DEFAULT_REGION not AWS_REGION
  samcli/lib/bootstrap/companion_stack/companion_stack_manager.py
  samcli/lib/utils/managed_cloudformation_stack.py
Labels: pr/internal

#6043 chore: fix sync integration tests with ruby
  tests/integration/testdata/sync/infra/after/Ruby/function/Gemfile
  tests/integration/testdata/sync/infra/after/Ruby/layer/Gemfile
  tests/integration/testdata/sync/infra/before/Ruby/function/Gemfile
  tests/integration/testdata/sync/infra/before/Ruby/layer/Gemfile
  tests/integration/testdata/sync/infra/template-ruby-after.yaml
  tests/integration/testdata/sync/infra/template-ruby-before.yaml
Labels: pr/internal

#6039 fix: gracefully exit on not finding a local image
  samcli/lib/build/app_builder.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#6044 chore: add runtime markers to base classes in build tests
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-binary.yml
  appveyor-windows.yml
  pytest.ini
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
Labels: pr/internal

#6066 chore: bump version to 1.99.0
  samcli/__init__.py
Labels: pr/internal

#6061 Provided.al2023 runtime (#516)
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/validate/test_validate_command.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#6070 Revert "Provided.al2023 runtime (#516)"
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/validate/test_validate_command.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#6064 chore: Add kinesis dependency to boto3-stubs in base.txt
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  requirements/reproducible-win.txt
Labels: pr/internal

#6063 feat: Add remote invoke implementation for Kinesis stream service for put_record API
  samcli/commands/remote/remote_invoke_context.py
  samcli/lib/remote_invoke/kinesis_invoke_executors.py
  samcli/lib/remote_invoke/remote_invoke_executor_factory.py
  tests/unit/lib/remote_invoke/test_kinesis_invoke_executors.py
  tests/unit/lib/remote_invoke/test_remote_invoke_executor_factory.py
Labels: pr/internal

#6072 test: Add integration tests for running remote invoke on kinesis service
  tests/integration/remote/invoke/remote_invoke_integ_base.py
  tests/integration/remote/invoke/test_remote_invoke.py
  tests/integration/testdata/remote_invoke/template-kinesis-priority.yaml
  tests/integration/testdata/remote_invoke/template-multiple-resources.yaml
Labels: pr/internal

#6035 fix manifest status comparison
  samcli/commands/init/init_templates.py
Labels: area/init, pr/internal

#6076 chore: Revert temporarily skipped tests
  tests/integration/buildcmd/test_build_cmd.py
Labels: pr/internal

#6081 chore: improve java arm64 build tests
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/testdata/buildcmd/template_with_architecture.yaml
Labels: pr/internal

#6099 chore(tests): Enable build tests
  tests/integration/buildcmd/test_build_in_source.py
Labels: pr/internal

#6100 fix(tests): Use correct build and cwd folder when building nested stacks
  tests/integration/buildcmd/test_build_cmd.py
Labels: pr/internal

#6106 chore(test): Group jobs to better distribute runners
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-binary.yml
  appveyor-windows.yml
Labels: pr/internal

#6108 fix: Handle input parameters classified as multiple value click options
  samcli/cli/cli_config_file.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/debug-config.toml
  tests/unit/cli/test_cli_config_file.py
Labels: pr/internal

#5852 Chore: Use the latest stack event timestamp as a marker to get the new deployment events
  samcli/commands/deploy/deploy_context.py
  samcli/lib/deploy/deployer.py
  tests/unit/commands/deploy/test_deploy_context.py
  tests/unit/lib/deploy/test_deployer.py
Labels: pr/internal

#6119 chore: Remove Python 3.7 support for pypi packaging
  .github/workflows/build.yml
  requirements/dev.txt
  setup.py
Labels: pr/internal

#6158 test: Update windows appveyor config to test on windows msi artifact
  appveyor-windows-binary.yml
Labels: pr/internal

#6159 chore: Update Windows reproducibles and CI/CD python to 3.11 from 3.8 for msi installer
  .github/workflows/update-reproducibles.yml
  appveyor-windows-binary.yml
  requirements/reproducible-win.txt
Labels: pr/internal

#6160 chore: Update Windows reproducibles and CI/CD python to 3.11 from 3.8 for msi installer
  .github/workflows/update-reproducibles.yml
  appveyor-windows-binary.yml
  requirements/reproducible-win.txt
Labels: pr/internal
