Repository aws/aws-sam-cli, pull requests merged in 2023-06, with the labels that each got.

#5222 fix: handle edge cases with function sync flow in sam sync command
  samcli/commands/build/build_context.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/sync/sync_flow_factory.py
  tests/integration/sync/test_sync_code.py
  tests/integration/testdata/sync/code/after/pre_zipped_function/app.zip
  tests/integration/testdata/sync/code/before/pre_zipped_function/app.zip
  tests/integration/testdata/sync/code/before/template-pre-zipped.yaml
  tests/integration/testdata/sync/code/before/template-skip-build.yaml
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/buildcmd/test_utils.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/local/lib/test_provider.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_graph.py
  tests/unit/lib/sync/test_sync_flow_factory.py
Labels: area/build, pr/internal

#5240 test: Terraform local start-api integration tests base
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/terraform-v1-api-simple/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-v1-api-simple/main.tf
Labels: pr/internal

#5223 chore: Upgrade Mac installer to Py3.11
  .github/workflows/validate_pyinstaller.yml
  Makefile
  installer/pyinstaller/build-mac.sh
  requirements/reproducible-mac.txt
Labels: pr/internal

#5208 feat: Abstract SamConfig
  samcli/commands/deploy/guided_config.py
  samcli/lib/config/exceptions.py
  samcli/lib/config/file_manager.py
  samcli/lib/config/samconfig.py
  tests/unit/cli/test_cli_config_file.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/samconfig/test_file_manager.py
  tests/unit/lib/samconfig/test_samconfig.py
Labels: area/deploy, area/config, pr/internal

#5252 Revert "chore: Upgrade Mac installer to Py3.11"
  .github/workflows/validate_pyinstaller.yml
  Makefile
  installer/pyinstaller/build-mac.sh
  requirements/reproducible-mac.txt
Labels: pr/internal

#5225 fix: add 3.11 to classifiers and upgrade Docker
  Makefile
  mypy.ini
  requirements/base.txt
  requirements/dev.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  samcli/cli/global_config.py
  samcli/cli/hidden_imports.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/lib/utils.py
  samcli/lib/build/workflows.py
  samcli/lib/deploy/deployer.py
  samcli/lib/hook/hook_config.py
  samcli/lib/iac/cdk/cdk_iac.py
  samcli/lib/iac/cfn/cfn_iac.py
  samcli/lib/pipeline/bootstrap/stage.py
  samcli/lib/providers/provider.py
  samcli/lib/utils/lock_distributor.py
  samcli/local/docker/container.py
  setup.py
  tests/integration/logs/test_logs_command.py
  tests/integration/traces/test_traces_command.py
  tests/unit/commands/deploy/test_command.py
  tests/unit/commands/sync/test_command.py
  tests/unit/commands/validate/test_cli.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/deploy/test_deployer.py
  tests/unit/lib/pipeline/bootstrap/test_environment.py
  tests/unit/local/apigw/test_lambda_authorizer.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5244 fix: fix build and deploy SAR integration test cases
  samcli/commands/remote_invoke/remote_invoke_context.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/testdata/buildcmd/aws-serverless-application-with-application-id-map.yaml
  tests/testing_utils.py
Labels: pr/internal

#5253 feat: Add YAML config file option
  samcli/lib/config/file_manager.py
  samcli/lib/config/samconfig.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/samconfig/test_file_manager.py
Labels: area/deploy, pr/external, stage/needs-triage

#5238 feat: Add click command for cloud invoke command
  samcli/cli/command.py
  samcli/cli/types.py
  samcli/commands/_utils/options.py
  samcli/commands/cloud/__init__.py
  samcli/commands/cloud/cloud.py
  samcli/commands/cloud/exceptions.py
  samcli/commands/cloud/invoke/__init__.py
  samcli/commands/cloud/invoke/cli.py
  samcli/commands/cloud/remote_invoke_context.py
  samcli/lib/cli_validation/remote_invoke_options_validations.py
  samcli/lib/remote_invoke/exceptions.py
  samcli/lib/remote_invoke/lambda_invoke_executors.py
  samcli/lib/remote_invoke/remote_invoke_executors.py
  tests/unit/cli/test_types.py
  tests/unit/commands/_utils/test_options.py
  tests/unit/commands/cloud/__init__.py
  tests/unit/commands/cloud/invoke/__init__.py
  tests/unit/commands/cloud/invoke/test_cli.py
  tests/unit/commands/cloud/test_remote_invoke_context.py
  tests/unit/lib/cli_validation/test_remote_invoke_options_validations.py
  tests/unit/lib/remote_invoke/test_lambda_invoke_executors.py
Labels: pr/internal

#5261 pin pytest-metadata to avoid its breaking change
  requirements/dev.txt
Labels: pr/internal

#5250 Artifact export for GraphQLApi
  samcli/lib/package/packageable_resources.py
  samcli/lib/package/utils.py
  samcli/lib/utils/resources.py
  tests/unit/lib/package/test_artifact_exporter.py
Labels: pr/internal

#5266 chore: bump version to 1.86.0
  samcli/__init__.py
Labels: pr/internal

#5265 fix: add constant str for enums to support deepcopy operation
  samcli/lib/providers/provider.py
  tests/unit/lib/build_module/test_build_graph.py
Labels: pr/internal

#5269 update gha to force restart of status checks
  .github/workflows/automated-updates-to-sam-cli.yml
Labels: pr/internal

#5271 integration tests for graphql resource package
  tests/integration/package/test_package_command_zip.py
  tests/integration/testdata/package/aws-serverless-graphqlapi.yaml
  tests/integration/testdata/package/sam_graphql_api/createPostItem.js
  tests/integration/testdata/package/sam_graphql_api/getPost.js
  tests/integration/testdata/package/sam_graphql_api/getPostFromTable.js
  tests/integration/testdata/package/sam_graphql_api/schema.graphql
Labels: area/package, pr/internal

#5276 Revert "fix: add 3.11 to classifiers and upgrade Docker (#5225)"
  Makefile
  mypy.ini
  requirements/base.txt
  requirements/dev.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  samcli/__init__.py
  samcli/cli/global_config.py
  samcli/cli/hidden_imports.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/lib/utils.py
  samcli/lib/build/workflows.py
  samcli/lib/deploy/deployer.py
  samcli/lib/hook/hook_config.py
  samcli/lib/iac/cdk/cdk_iac.py
  samcli/lib/iac/cfn/cfn_iac.py
  samcli/lib/pipeline/bootstrap/stage.py
  samcli/lib/providers/provider.py
  samcli/lib/utils/lock_distributor.py
  samcli/local/docker/container.py
  setup.py
  tests/integration/logs/test_logs_command.py
  tests/integration/traces/test_traces_command.py
  tests/unit/commands/deploy/test_command.py
  tests/unit/commands/sync/test_command.py
  tests/unit/commands/validate/test_cli.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/deploy/test_deployer.py
  tests/unit/lib/pipeline/bootstrap/test_environment.py
  tests/unit/local/apigw/test_lambda_authorizer.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#5277 Revert "fix: add 3.11 to classifiers and upgrade Docker (#5225)"
  Makefile
  mypy.ini
  requirements/base.txt
  requirements/dev.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  samcli/__init__.py
  samcli/cli/global_config.py
  samcli/cli/hidden_imports.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/lib/utils.py
  samcli/lib/build/workflows.py
  samcli/lib/deploy/deployer.py
  samcli/lib/hook/hook_config.py
  samcli/lib/iac/cdk/cdk_iac.py
  samcli/lib/iac/cfn/cfn_iac.py
  samcli/lib/pipeline/bootstrap/stage.py
  samcli/lib/providers/provider.py
  samcli/lib/utils/lock_distributor.py
  samcli/local/docker/container.py
  setup.py
  tests/integration/logs/test_logs_command.py
  tests/integration/traces/test_traces_command.py
  tests/unit/commands/deploy/test_command.py
  tests/unit/commands/sync/test_command.py
  tests/unit/commands/validate/test_cli.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/deploy/test_deployer.py
  tests/unit/lib/pipeline/bootstrap/test_environment.py
  tests/unit/local/apigw/test_lambda_authorizer.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#5273 feat: Refactor TomlProvider
  samcli/cli/cli_config_file.py
  samcli/commands/_utils/custom_options/hook_name_option.py
  samcli/commands/build/command.py
  samcli/commands/delete/delete_context.py
  samcli/commands/deploy/command.py
  samcli/commands/init/command.py
  samcli/commands/list/endpoints/command.py
  samcli/commands/list/resources/command.py
  samcli/commands/list/stack_outputs/command.py
  samcli/commands/local/generate_event/event_generation.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/logs/command.py
  samcli/commands/package/command.py
  samcli/commands/pipeline/bootstrap/cli.py
  samcli/commands/pipeline/init/cli.py
  samcli/commands/publish/command.py
  samcli/commands/sync/command.py
  samcli/commands/traces/command.py
  samcli/commands/validate/validate.py
  tests/unit/cli/test_cli_config_file.py
  tests/unit/commands/delete/test_delete_context.py
Labels: area/package, area/deploy, area/validate, area/init, area/logs, area/build, area/publish, area/local/invoke, pr/external, area/pipeline, area/delete, area/sync, area/traces, stage/needs-triage

#5279 chore: Upgrade Docker-py/ Support Py3.11 for running tests
  Makefile
  mypy.ini
  requirements/base.txt
  requirements/dev.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  samcli/cli/global_config.py
  samcli/cli/hidden_imports.py
  samcli/commands/package/package_context.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/lib/utils.py
  samcli/lib/build/app_builder.py
  samcli/lib/build/workflows.py
  samcli/lib/deploy/deployer.py
  samcli/lib/hook/hook_config.py
  samcli/lib/iac/cdk/cdk_iac.py
  samcli/lib/iac/cfn/cfn_iac.py
  samcli/lib/package/ecr_uploader.py
  samcli/lib/package/image_utils.py
  samcli/lib/pipeline/bootstrap/stage.py
  samcli/lib/providers/provider.py
  samcli/lib/sync/flows/image_function_sync_flow.py
  samcli/lib/utils/file_observer.py
  samcli/lib/utils/lock_distributor.py
  samcli/lib/utils/system_info.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_image.py
  samcli/local/docker/manager.py
  samcli/local/lambdafn/runtime.py
  setup.py
  tests/integration/logs/test_logs_command.py
  tests/integration/traces/test_traces_command.py
  tests/unit/commands/deploy/test_command.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/sync/test_command.py
  tests/unit/commands/validate/test_cli.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/deploy/test_deployer.py
  tests/unit/lib/pipeline/bootstrap/test_environment.py
  tests/unit/local/apigw/test_lambda_authorizer.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/package, area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#5290 test: GHA to Execute Test without Docker Running
  .github/workflows/build.yml
  tests/integration/buildcmd/test_build_cmd.py
Labels: pr/internal

#5296 fix: remove ruby3.2 from preview runtimes
  samcli/lib/utils/preview_runtimes.py
Labels: pr/internal

#5291 feat: Added OpenApi body integration testing and updated property builder
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  samcli/hook_packages/terraform/hooks/prepare/resources/apigw.py
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/lambda-auth-openapi/lambda-functions.zip
  tests/integration/testdata/start_api/terraform/lambda-auth-openapi/main.tf
  tests/unit/hook_packages/terraform/hooks/prepare/resources/test_apigw.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_property_builder.py
Labels: pr/internal

#5270 feat: Terraform Authorizer resource testing
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/v1-lambda-authorizer/lambda-functions.zip
  tests/integration/testdata/start_api/terraform/v1-lambda-authorizer/main.tf
Labels: pr/internal

#5305 Fix: Force docker version to match 4.2's default version
  samcli/commands/package/package_context.py
  samcli/lib/build/app_builder.py
  samcli/lib/constants.py
  samcli/lib/package/ecr_uploader.py
  samcli/lib/package/image_utils.py
  samcli/lib/sync/flows/image_function_sync_flow.py
  samcli/lib/utils/file_observer.py
  samcli/lib/utils/system_info.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_image.py
  samcli/local/docker/manager.py
Labels: area/package, area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#5306 chore: cleanup appveyor definitions for not running jobs which is already run with GHA & add docker info/version commands
  .github/workflows/build.yml
  appveyor-ubuntu.yml
  appveyor-windows.yml
Labels: pr/internal

#5297 feat: Add hierarchy for samconfig filetypes
  samcli/cli/cli_config_file.py
  samcli/commands/deploy/guided_config.py
  samcli/lib/config/file_manager.py
  samcli/lib/config/samconfig.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/samconfig/test_file_manager.py
  tests/unit/lib/samconfig/test_samconfig.py
Labels: pr/external, stage/needs-triage

#5317 fix: Fix failing tests on Python3.11
  tests/integration/local/invoke/runtimes/test_with_runtime_zips.py
  tests/integration/sync/test_sync_infra.py
Labels: pr/internal

#5318 Merge develop to master
  .github/workflows/automated-updates-to-sam-cli.yml
  .github/workflows/build.yml
  Makefile
  appveyor-ubuntu.yml
  appveyor-windows.yml
  mypy.ini
  requirements/base.txt
  requirements/dev.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  samcli/cli/global_config.py
  samcli/cli/hidden_imports.py
  samcli/commands/package/package_context.py
  samcli/hook_packages/terraform/hooks/prepare/resource_linking.py
  samcli/hook_packages/terraform/lib/utils.py
  samcli/lib/build/app_builder.py
  samcli/lib/build/workflows.py
  samcli/lib/constants.py
  samcli/lib/deploy/deployer.py
  samcli/lib/hook/hook_config.py
  samcli/lib/iac/cdk/cdk_iac.py
  samcli/lib/iac/cfn/cfn_iac.py
  samcli/lib/package/ecr_uploader.py
  samcli/lib/package/image_utils.py
  samcli/lib/pipeline/bootstrap/stage.py
  samcli/lib/providers/provider.py
  samcli/lib/sync/flows/image_function_sync_flow.py
  samcli/lib/utils/file_observer.py
  samcli/lib/utils/lock_distributor.py
  samcli/lib/utils/preview_runtimes.py
  samcli/lib/utils/system_info.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_image.py
  samcli/local/docker/manager.py
  samcli/local/lambdafn/runtime.py
  setup.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/local/invoke/runtimes/test_with_runtime_zips.py
  tests/integration/logs/test_logs_command.py
  tests/integration/package/test_package_command_zip.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/testdata/package/aws-serverless-graphqlapi.yaml
  tests/integration/testdata/package/sam_graphql_api/createPostItem.js
  tests/integration/testdata/package/sam_graphql_api/getPost.js
  tests/integration/testdata/package/sam_graphql_api/getPostFromTable.js
  tests/integration/testdata/package/sam_graphql_api/schema.graphql
  tests/integration/traces/test_traces_command.py
  tests/unit/commands/deploy/test_command.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/sync/test_command.py
  tests/unit/commands/validate/test_cli.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/deploy/test_deployer.py
  tests/unit/lib/pipeline/bootstrap/test_environment.py
  tests/unit/local/apigw/test_lambda_authorizer.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/package, area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#5309 test: Test the unsupported limitations for local start api
  tests/integration/local/start_api/test_start_api_with_terraform_application.py
  tests/integration/testdata/start_api/terraform/terraform-api-simple-local-variables-limitation/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-api-simple-local-variables-limitation/main.tf
  tests/integration/testdata/start_api/terraform/terraform-api-simple-multiple-resources-limitation/HelloWorldFunction.zip
  tests/integration/testdata/start_api/terraform/terraform-api-simple-multiple-resources-limitation/main.tf
Labels: pr/internal

#5320 add sleep between close and reopen
  .github/workflows/automated-updates-to-sam-cli.yml
Labels: pr/internal

#5294 GraphQLApi support for `sam deploy`
  samcli/commands/_utils/template.py
  samcli/lib/package/packageable_resources.py
  samcli/lib/utils/graphql_api.py
  samcli/lib/utils/resources.py
  tests/unit/commands/_utils/test_template.py
  tests/unit/lib/utils/test_graphql_api.py
Labels: area/build, pr/internal

#5295 fix: Update Arn parsing logic and fix some edge cases/bug fixes for remote invoke
  samcli/cli/command.py
  samcli/commands/remote/__init__.py
  samcli/commands/remote/exceptions.py
  samcli/commands/remote/invoke/__init__.py
  samcli/commands/remote/invoke/cli.py
  samcli/commands/remote/remote.py
  samcli/commands/remote/remote_invoke_context.py
  samcli/lib/cli_validation/remote_invoke_options_validations.py
  samcli/lib/pipeline/bootstrap/resource.py
  samcli/lib/remote_invoke/lambda_invoke_executors.py
  samcli/lib/utils/arn_utils.py
  tests/unit/commands/remote/__init__.py
  tests/unit/commands/remote/invoke/__init__.py
  tests/unit/commands/remote/invoke/test_cli.py
  tests/unit/commands/remote/test_remote_invoke_context.py
  tests/unit/lib/utils/test_arn_utils.py
Labels: pr/internal

#5283 test: test building npm and Typescript projects using external manifest file.
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/Esbuild/Node_without_manifest/main.js
  tests/integration/testdata/buildcmd/Esbuild/TypeScript_without_manifest/app.ts
  tests/integration/testdata/buildcmd/Esbuild/TypeScript_without_manifest/nested/function/app.ts
  tests/integration/testdata/buildcmd/Esbuild/npm_manifest/package.json
  tests/integration/testdata/buildcmd/Node_without_manifest/main.js
  tests/integration/testdata/buildcmd/npm_manifest/package.json
Labels: pr/internal

#5307 feat: add lambda streaming support for remote invoke
  requirements/base.txt
  samcli/lib/remote_invoke/lambda_invoke_executors.py
  samcli/lib/remote_invoke/remote_invoke_executor_factory.py
  tests/unit/lib/remote_invoke/test_lambda_invoke_executors.py
  tests/unit/lib/remote_invoke/test_remote_invoke_executor_factory.py
Labels: pr/internal

#5358 chore: bump version to 1.87.0
  samcli/__init__.py
Labels: pr/internal

#5357 chore: bump version to 1.87.0
  samcli/__init__.py
Labels: pr/internal

#5315 feat: Track config file extension
  samcli/lib/config/file_manager.py
  samcli/lib/config/samconfig.py
  samcli/lib/telemetry/event.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/integration/telemetry/test_installed_metric.py
  tests/integration/telemetry/test_telemetry_contract.py
  tests/unit/cli/test_cli_config_file.py
  tests/unit/lib/samconfig/test_samconfig.py
Labels: pr/external

#5356 Revert app templates gha
  .github/workflows/automated-updates-to-sam-cli.yml
Labels: pr/internal

#5360 refactor init_clients in sam delete
  samcli/commands/delete/command.py
  samcli/commands/delete/delete_context.py
  tests/unit/commands/delete/test_delete_context.py
Labels: pr/internal, area/delete

#5366 feat: sam remote invoke help text and UX fixes
  samcli/commands/_utils/options.py
  samcli/commands/remote/invoke/cli.py
  samcli/commands/remote/invoke/core/__init__.py
  samcli/commands/remote/invoke/core/command.py
  samcli/commands/remote/invoke/core/formatters.py
  samcli/commands/remote/invoke/core/options.py
  samcli/lib/cli_validation/remote_invoke_options_validations.py
  samcli/lib/remote_invoke/lambda_invoke_executors.py
  samcli/lib/remote_invoke/remote_invoke_executor_factory.py
  samcli/lib/remote_invoke/remote_invoke_executors.py
  tests/unit/cli/test_types.py
  tests/unit/commands/remote/invoke/core/__init__.py
  tests/unit/commands/remote/invoke/core/test_command.py
  tests/unit/commands/remote/invoke/core/test_formatter.py
  tests/unit/commands/remote/invoke/core/test_options.py
  tests/unit/commands/remote/invoke/test_cli.py
  tests/unit/lib/cli_validation/test_remote_invoke_options_validations.py
  tests/unit/lib/remote_invoke/test_lambda_invoke_executors.py
  tests/unit/lib/remote_invoke/test_remote_invoke_executor_factory.py
  tests/unit/lib/remote_invoke/test_remote_invoke_executors.py
Labels: pr/internal

#5384 chore: temporary pin python version to 3.7.16
  .github/workflows/build.yml
Labels: pr/internal

#5375 chore: Updated cfn-lint to support ruby3.2 in validate
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
Labels: pr/internal

#5371 feat: Add and fix samconfig integration tests
  samcli/cli/cli_config_file.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_samconfig.py
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/testdata/buildcmd/samconfig/samconfig.json
  tests/integration/testdata/buildcmd/samconfig/samconfig.toml
  tests/integration/testdata/buildcmd/samconfig/samconfig.yaml
  tests/integration/testdata/buildcmd/samconfig/template.yaml
  tests/unit/cli/test_cli_config_file.py
Labels: pr/external

#5374 Remove unneeded test cases
  tests/integration/delete/test_delete_command.py
Labels: pr/internal

#5387 fix: Bug Bash UX Issues
  samcli/commands/_utils/experimental.py
  samcli/commands/local/start_api/cli.py
  samcli/hook_packages/terraform/hooks/prepare/translate.py
  samcli/lib/providers/api_collector.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_translate.py
Labels: pr/internal

#5382 test: Integration tests for remote invoke on regular lambda functions
  tests/integration/remote/__init__.py
  tests/integration/remote/invoke/__init__.py
  tests/integration/remote/invoke/remote_invoke_integ_base.py
  tests/integration/remote/invoke/test_remote_invoke.py
  tests/integration/testdata/remote_invoke/__init__.py
  tests/integration/testdata/remote_invoke/events/default_event.json
  tests/integration/testdata/remote_invoke/lambda-fns/__init__.py
  tests/integration/testdata/remote_invoke/lambda-fns/main.py
  tests/integration/testdata/remote_invoke/nested_templates/childstack/function/__init__.py
  tests/integration/testdata/remote_invoke/nested_templates/childstack/function/app.py
  tests/integration/testdata/remote_invoke/nested_templates/childstack/function/requirements.txt
  tests/integration/testdata/remote_invoke/nested_templates/childstack/template.yaml
  tests/integration/testdata/remote_invoke/nested_templates/template.yaml
  tests/integration/testdata/remote_invoke/template-multiple-resources.yaml
  tests/integration/testdata/remote_invoke/template-single-lambda.yaml
Labels: pr/internal

#5383 test: Remote invoke integration tests for response stream configured lambda functions
  tests/integration/remote/invoke/test_lambda_invoke_response_stream.py
  tests/integration/testdata/remote_invoke/lambda-fns/src/index.js
  tests/integration/testdata/remote_invoke/template-lambda-response-streaming-fns.yaml
Labels: pr/internal

#5393 chore: bump version to 1.88.0
  samcli/__init__.py
Labels: pr/internal

#5395 chore: fix issues with appveyor ubuntu setup
  appveyor-ubuntu.yml
Labels: pr/internal

#5396 chore: merge develop to master
  appveyor-ubuntu.yml
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  samcli/__init__.py
  samcli/cli/command.py
  samcli/cli/root/command_list.py
  samcli/commands/remote/remote_invoke_context.py
  samcli/lib/cli_validation/remote_invoke_options_validations.py
  samcli/lib/docs/documentation_links.json
  samcli/lib/remote_invoke/lambda_invoke_executors.py
  samcli/runtime_config.json
  tests/end_to_end/end_to_end_base.py
  tests/end_to_end/test_runtimes_e2e.py
  tests/end_to_end/test_stages.py
  tests/integration/delete/test_delete_command.py
  tests/integration/remote/__init__.py
  tests/integration/remote/invoke/__init__.py
  tests/integration/remote/invoke/remote_invoke_integ_base.py
  tests/integration/remote/invoke/test_lambda_invoke_response_stream.py
  tests/integration/remote/invoke/test_remote_invoke.py
  tests/integration/testdata/remote_invoke/__init__.py
  tests/integration/testdata/remote_invoke/events/default_event.json
  tests/integration/testdata/remote_invoke/lambda-fns/__init__.py
  tests/integration/testdata/remote_invoke/lambda-fns/main.py
  tests/integration/testdata/remote_invoke/lambda-fns/src/index.js
  tests/integration/testdata/remote_invoke/nested_templates/childstack/function/__init__.py
  tests/integration/testdata/remote_invoke/nested_templates/childstack/function/app.py
  tests/integration/testdata/remote_invoke/nested_templates/childstack/function/requirements.txt
  tests/integration/testdata/remote_invoke/nested_templates/childstack/template.yaml
  tests/integration/testdata/remote_invoke/nested_templates/template.yaml
  tests/integration/testdata/remote_invoke/template-lambda-response-streaming-fns.yaml
  tests/integration/testdata/remote_invoke/template-multiple-resources.yaml
  tests/integration/testdata/remote_invoke/template-single-lambda.yaml
  tests/unit/cli/test_command.py
  tests/unit/commands/docs/core/test_command.py
  tests/unit/commands/docs/test_docs_context.py
Labels: pr/internal

#5394 feat: Fix message when no config file is found
  samcli/lib/config/samconfig.py
Labels: pr/external, stage/needs-triage

#5091 chore: remove deprecated runtime dotnetcore3.1
  .gitignore
  designs/build_debug_artifacts.md
  designs/sam_build_cmd.md
  samcli/commands/build/command.py
  samcli/commands/init/init_templates.py
  samcli/lib/build/constants.py
  samcli/lib/build/workflow_config.py
  samcli/lib/init/local_manifest.json
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/cookiecutter.json
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/src/HelloWorld/HelloWorld.csproj
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/src/HelloWorld/aws-lambda-tools-defaults.json
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/template.yaml
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/{{cookiecutter.project_name}}/test/HelloWorld.Test/HelloWorld.Tests.csproj
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/Dotnetcore3.1/HelloWorld.csproj
  tests/integration/testdata/buildcmd/Dotnetcore3.1/Program.cs
  tests/integration/testdata/buildcmd/Dotnetcore3.1/aws-lambda-tools-defaults.json
  tests/integration/testdata/invoke/credential_tests/inprocess/dotnet/STS/STS.csproj
  tests/integration/testdata/invoke/credential_tests/inprocess/template.yaml
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/init/test_manifest.json
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/lib/utils/test_architecture.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/init, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#5232 fix(invoke): Write in UTF-8 string instead of bytes.
  samcli/lib/utils/osutils.py
  samcli/lib/utils/stream_writer.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_image.py
  samcli/local/docker/manager.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/unit/lib/utils/test_osutils.py
  tests/unit/lib/utils/test_stream_writer.py
  tests/unit/local/docker/test_lambda_image.py
  tests/unit/local/docker/test_manager.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5401 Revert "fix(invoke): Write in UTF-8 string instead of bytes."
  samcli/lib/utils/osutils.py
  samcli/lib/utils/stream_writer.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_image.py
  samcli/local/docker/manager.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/unit/lib/utils/test_osutils.py
  tests/unit/lib/utils/test_stream_writer.py
  tests/unit/local/docker/test_lambda_image.py
  tests/unit/local/docker/test_manager.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#5400 Add sanity check script and use it in pyinstaller GHA
  .github/workflows/validate_pyinstaller.yml
  tests/sanity-check.sh
Labels: pr/internal

#5420 chore: Version bump to 1.89.0
  samcli/__init__.py
Labels: pr/internal

#5349 chore(docs): updated readme with additional resources
  .gitignore
  README.md
Labels: type/documentation, pr/external

#5298 fix: add a table for package help text.
  samcli/cli/context.py
  samcli/commands/_utils/options.py
  samcli/commands/package/command.py
  samcli/commands/package/core/__init__.py
  samcli/commands/package/core/command.py
  samcli/commands/package/core/formatters.py
  samcli/commands/package/core/options.py
  tests/unit/cli/test_context.py
  tests/unit/commands/package/core/__init__.py
  tests/unit/commands/package/core/test_command.py
  tests/unit/commands/package/core/test_formatter.py
  tests/unit/commands/package/core/test_options.py
Labels: area/package, pr/internal

#5386 fix: Handle BROKEN_PIPE_ERROR
  samcli/lib/utils/file_observer.py
  tests/unit/lib/utils/test_file_observer.py
Labels: pr/internal

#5426 feat: Disable samconfig.json support
  samcli/lib/config/file_manager.py
  tests/integration/buildcmd/test_build_samconfig.py
  tests/integration/testdata/buildcmd/samconfig/samconfig.yml
  tests/unit/lib/samconfig/test_file_manager.py
  tests/unit/lib/samconfig/test_samconfig.py
Labels: pr/external, stage/needs-triage

#5431 feat: Repair and refine tests
  tests/integration/deploy/test_deploy_command.py
  tests/unit/lib/samconfig/test_file_manager.py
Labels: pr/external, stage/needs-triage

#5430 fix: remove circular dependency by moving parse_s3 method to its own util file
  samcli/lib/bootstrap/companion_stack/companion_stack_manager.py
  samcli/lib/deploy/deployer.py
  samcli/lib/package/artifact_exporter.py
  samcli/lib/package/code_signer.py
  samcli/lib/package/packageable_resources.py
  samcli/lib/package/s3_uploader.py
  samcli/lib/package/utils.py
  samcli/lib/utils/s3.py
  tests/end_to_end/test_stages.py
  tests/unit/lib/bootstrap/companion_stack/test_companion_stack_manager.py
  tests/unit/lib/package/test_artifact_exporter.py
  tests/unit/lib/utils/test_s3.py
Labels: pr/internal

#5433 fix: Update package formatter to import ALL_OPTIONS from package instead of deploy
  samcli/commands/package/core/formatters.py
Labels: area/package
