Repository aws/aws-sam-cli, pull requests merged in 2023-03, with the labels that each got.

#4785 fix: change the ServerlessTf module version to use the latest
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_local_backend/main.tf
  tests/integration/testdata/buildcmd/terraform/image_based_lambda_functions_s3_backend/main.tf
Labels: pr/internal

#4787 fix: Support is SAM template check if transform is in list format
  samcli/commands/build/build_context.py
  tests/unit/commands/buildcmd/test_build_context.py
Labels: area/build, pr/external, stage/needs-triage

#4774 Update appveyor canary definitions to upload test reports to S3 on fi…
  appveyor-ubuntu.yml
  appveyor-windows.yml
Labels: pr/internal

#4789 fix: catch all boto errors and exit gracefully
  samcli/commands/_utils/command_exception_handler.py
  samcli/commands/delete/command.py
  samcli/commands/deploy/command.py
  samcli/commands/exceptions.py
  samcli/commands/package/command.py
  samcli/commands/pipeline/bootstrap/cli.py
  samcli/commands/pipeline/init/cli.py
  samcli/commands/publish/command.py
  samcli/commands/sync/command.py
  samcli/commands/validate/validate.py
  tests/unit/commands/_utils/test_command_exception_handler.py
Labels: area/package, area/deploy, area/validate, area/publish, pr/internal, area/pipeline, area/delete, area/sync, area/stability

#4777 chore: fix deploy test issue caused by uninstantiated s3_bucket_name variable
  tests/integration/deploy/test_managed_stack_deploy.py
Labels: pr/internal

#4797 chore: bump version to 1.76.0
  samcli/__init__.py
Labels: pr/internal

#4799 fix: set lint on validate to be default
  samcli/lib/init/default_samconfig.py
  tests/unit/lib/init/test_default_samconfig.py
Labels: pr/internal

#4803 fix: Fix init schema integration tests
  tests/integration/init/schemas/test_init_with_schemas_command.py
Labels: pr/internal

#4762 feat: Added identity source validation in request handling
  samcli/commands/local/lib/swagger/parser.py
  samcli/commands/local/lib/validators/identity_source_validator.py
  samcli/commands/local/lib/validators/lambda_auth_props.py
  samcli/lib/providers/api_collector.py
  samcli/lib/providers/cfn_api_provider.py
  samcli/lib/providers/cfn_base_api_provider.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_api_provider.py
  samcli/local/apigw/authorizers/__init__.py
  samcli/local/apigw/authorizers/authorizer.py
  samcli/local/apigw/authorizers/lambda_authorizer.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/apigw/route.py
  samcli/local/apigw/service_error_responses.py
  samcli/local/events/api_event.py
  tests/integration/local/start_api/test_start_api.py
  tests/unit/commands/local/lib/swagger/test_parser.py
  tests/unit/commands/local/lib/test_api_collector.py
  tests/unit/commands/local/lib/test_cfn_api_provider.py
  tests/unit/commands/local/lib/test_identity_source_validator.py
  tests/unit/commands/local/lib/test_local_api_service.py
  tests/unit/commands/local/lib/test_sam_api_provider.py
  tests/unit/local/apigw/test_lambda_authorizer.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4788 test: end-to-end test suite
  tests/end_to_end/__init__.py
  tests/end_to_end/end_to_end_base.py
  tests/end_to_end/end_to_end_context.py
  tests/end_to_end/test_runtimes_e2e.py
  tests/end_to_end/test_stages.py
  tests/integration/init/test_init_base.py
  tests/integration/sync/__init__.py
  tests/integration/sync/sync_integ_base.py
Labels: pr/internal

#4798 feat: Event construction refactor
  samcli/local/apigw/event_constructor.py
  samcli/local/apigw/local_apigw_service.py
  tests/unit/local/apigw/test_event_constructor.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4808 Update commands to upload test reports to narrow filtering
  appveyor-ubuntu.yml
  appveyor-windows.yml
Labels: pr/internal

#4807 feat: Event constructors for authorizers
  samcli/local/apigw/authorizers/lambda_authorizer.py
  samcli/local/apigw/local_apigw_service.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4792 design: per command help text criteria
  designs/per_command_help_text.md
Labels: pr/internal

#4804 test: Configure end-to-end tests in canaries
  appveyor-ubuntu.yml
  appveyor-windows.yml
  requirements/dev.txt
  tests/end_to_end/end_to_end_base.py
  tests/end_to_end/test_runtimes_e2e.py
  tests/end_to_end/test_stages.py
Labels: pr/internal

#4822 chore: fix sync tests by moving default field values into package test
  tests/integration/package/package_integ_base.py
  tests/integration/sync/sync_integ_base.py
Labels: pr/internal

#4805 chore: Add class tear down for cleaning up custom credentials
  tests/integration/init/schemas/schemas_test_data_setup.py
  tests/integration/init/schemas/test_init_with_schemas_command.py
Labels: pr/internal

#4823 fix: Create cache dir before attempting to lock it
  tests/end_to_end/end_to_end_base.py
  tests/end_to_end/test_stages.py
Labels: pr/internal

#4790 chore: move CI jobs to GH actions
  .github/workflows/build.yml
  appveyor-windows-build-dotnet.yml
  appveyor-windows-build-go.yml
  appveyor-windows-build-java-container.yml
  appveyor-windows-build-java-ruby-inprocess.yml
  appveyor-windows-build-nodejs.yml
  appveyor-windows-build-python.yml
  appveyor-windows-build-ruby.yml
  appveyor.yml
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_rust.py
  tests/integration/local/invoke/invoke_cdk_templates.py
  tests/smoke/templates/sar/AmazonConnectSalesforceLambda-template.yaml
  tests/testing_utils.py
Labels: pr/internal

#4817 feat: only clone init templates when required
  samcli/commands/init/init_templates.py
  samcli/lib/utils/git_repo.py
  tests/integration/init/test_init_command.py
  tests/unit/commands/init/test_templates.py
  tests/unit/lib/utils/test_git_repo.py
Labels: area/init, pr/internal

#4829 fix: Use python3.7 template in E2E tests
  tests/end_to_end/test_runtimes_e2e.py
Labels: pr/internal

#4778 Wire up the Go with Image package type into the init command flow
  samcli/commands/init/command.py
  samcli/commands/init/init_flow_helpers.py
  samcli/commands/init/init_templates.py
  samcli/commands/init/interactive_init_flow.py
  samcli/local/common/runtime_template.py
  tests/integration/init/test_init_command.py
  tests/unit/commands/init/test_cli.py
Labels: area/local/start-api, area/init, area/local/invoke, pr/external, area/local/start-invoke, stage/needs-triage

#4812 fix: use sha256 where it is possible & update md5 call to include usedforsecurity=False
  samcli/lib/sync/flows/alias_version_sync_flow.py
  samcli/lib/sync/flows/generic_api_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/stepfunctions_sync_flow.py
  samcli/lib/utils/hash.py
  tests/unit/lib/sync/flows/test_alias_version_sync_flow.py
  tests/unit/lib/sync/flows/test_http_api_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_rest_api_sync_flow.py
  tests/unit/lib/sync/flows/test_stepfunctions_sync_flow.py
  tests/unit/lib/utils/test_hash.py
Labels: pr/internal

#4836 chore: Enable workflow to trigger on merge_group
  .github/workflows/build.yml
Labels: pr/internal

#4834 bug: Don't set DisableRollback with OnFailure
  samcli/commands/deploy/deploy_context.py
  samcli/lib/deploy/deployer.py
  tests/integration/deploy/test_deploy_command.py
  tests/unit/commands/deploy/test_deploy_context.py
Labels: area/deploy, pr/internal

#4845 test: Disable running the Java build test cases in windows.
  tests/integration/buildcmd/test_build_cmd.py
Labels: pr/internal

#4847 chore: Add 'format' target to Makefile
  Makefile
Labels: pr/internal

#4838 feat: Add threshold to the number of code syncs that trigger skip infra sync
  samcli/lib/sync/infra_sync_executor.py
  tests/unit/lib/sync/test_infra_sync_executor.py
Labels: pr/internal

#4848 chore: update pytest plugins
  requirements/dev.txt
  tests/unit/lib/sync/test_watch_manager.py
Labels: pr/internal

#4846 bug: adding missing MemorySize field to terraform hook
  samcli/hook_packages/terraform/hooks/prepare/property_builder.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
Labels: pr/external, stage/needs-triage

#4842 feat: sam docs command
  .github/workflows/build.yml
  samcli/cli/command.py
  samcli/cli/root/command_list.py
  samcli/commands/docs/__init__.py
  samcli/commands/docs/command.py
  samcli/commands/docs/docs_context.py
  samcli/lib/docs/__init__.py
  samcli/lib/docs/browser_configuration.py
  samcli/lib/docs/documentation.py
  tests/integration/docs/__init__.py
  tests/integration/docs/docs_integ_base.py
  tests/integration/docs/test_docs_command.py
  tests/unit/cli/test_command.py
  tests/unit/commands/docs/__init__.py
  tests/unit/commands/docs/test_command.py
  tests/unit/commands/docs/test_docs_context.py
  tests/unit/lib/docs/__init__.py
  tests/unit/lib/docs/test_browser_configuration.py
  tests/unit/lib/docs/test_documentation.py
Labels: pr/internal

#4839 feat: Auto infra sync after 7 days
  samcli/commands/sync/command.py
  samcli/commands/sync/sync_context.py
  samcli/lib/sync/infra_sync_executor.py
  samcli/lib/sync/watch_manager.py
  tests/unit/commands/sync/test_command.py
  tests/unit/commands/sync/test_sync_context.py
  tests/unit/lib/sync/test_infra_sync_executor.py
  tests/unit/lib/sync/test_watch_manager.py
Labels: pr/internal, area/sync

#4859 feat: Update translator to use new managed policy map
  requirements/base.txt
  samcli/lib/translate/sam_template_validator.py
  tests/unit/commands/list/resources/test_resources_context.py
  tests/unit/commands/validate/lib/test_sam_template_validator.py
Labels: pr/internal

#4830 Revert "Revert "feat: Added data-safe stack trace collection to telem…
  samcli/lib/telemetry/metric.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#4840 feat: Invoke Lambda authorizer
  samcli/local/apigw/authorizers/lambda_authorizer.py
  samcli/local/apigw/event_constructor.py
  samcli/local/apigw/exceptions.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/apigw/service_error_responses.py
  samcli/local/events/api_event.py
  tests/unit/local/apigw/test_event_constructor.py
  tests/unit/local/apigw/test_lambda_authorizer.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4868 Handle non changeset error while waiting for chageset
  samcli/lib/deploy/deployer.py
  tests/unit/lib/deploy/test_deployer.py
Labels: pr/internal

#4849 feat: sync help text
  samcli/cli/cli_config_file.py
  samcli/cli/options.py
  samcli/cli/row_modifiers.py
  samcli/commands/_utils/custom_options/replace_help_option.py
  samcli/commands/_utils/options.py
  samcli/commands/sync/command.py
  samcli/commands/sync/core/__init__.py
  samcli/commands/sync/core/command.py
  samcli/commands/sync/core/formatters.py
  samcli/commands/sync/core/options.py
  tests/unit/cli/test_row_modifiers.py
  tests/unit/commands/_utils/custom_options/test_replace_help_summary_option.py
  tests/unit/commands/sync/core/__init__.py
  tests/unit/commands/sync/core/test_command.py
  tests/unit/commands/sync/core/test_formatter.py
Labels: pr/internal, area/sync

#4665 feat: support dotnet lambda container builds
  samcli/commands/build/build_context.py
  samcli/commands/build/command.py
  samcli/commands/build/utils.py
  samcli/lib/build/app_builder.py
  samcli/lib/build/exceptions.py
  samcli/lib/build/workflow_config.py
  samcli/lib/build/workflows.py
  samcli/local/docker/container.py
  samcli/local/docker/effective_user.py
  samcli/local/docker/lambda_build_container.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/buildcmd/test_command.py
  tests/unit/commands/buildcmd/test_utils.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/docker/test_effective_user.py
  tests/unit/local/docker/test_lambda_build_container.py
Labels: stage/in-progress, area/local/start-api, area/build, area/local/invoke, pr/external, area/local/start-invoke

#4862 feat: include --no-watch option for sam sync
  samcli/commands/sync/command.py
  tests/unit/commands/sync/test_command.py
Labels: pr/internal, area/sync

#4879 fix: bring back validate resource parameter
  samcli/commands/sync/command.py
  tests/integration/sync/test_sync_code.py
  tests/unit/commands/sync/test_command.py
Labels: pr/internal, area/sync

#4877 fix missing imports
  tests/integration/buildcmd/test_build_cmd.py
Labels: pr/internal

#4850 chore: use py38 for windows tests & update sdk configuration for python/java/dotnet
  appveyor-windows.yml
  tests/unit/cli/test_import_module_proxy.py
Labels: pr/internal

#4880 Upgrade cfn-lint in requirement
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/internal

#4872 feat: Integration testing of local Lambda authorizers in serverless properties
  tests/integration/local/common_utils.py
  tests/integration/local/start_api/lambda_authorizers/__init__.py
  tests/integration/local/start_api/lambda_authorizers/test_start_api_lambda_authorizers.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/lambda_authorizers/app.py
  tests/integration/testdata/start_api/lambda_authorizers/auth.py
  tests/integration/testdata/start_api/lambda_authorizers/serverless-api-props.yaml
  tests/integration/testdata/start_api/lambda_authorizers/serverless-http-props.yaml
Labels: pr/internal

#4882 fix: move mount with write into try/except block and don't prompt for Image type lambda functions
  samcli/commands/build/build_context.py
  samcli/commands/build/utils.py
  tests/integration/testdata/buildcmd/cdk_v1_synthesized_template_zip_image_functions.json
  tests/unit/commands/buildcmd/test_utils.py
Labels: area/build, pr/internal

#4864 feat: use pre-built resources when running code syncs right after Skip Infra Sync
  samcli/commands/build/build_context.py
  samcli/commands/sync/command.py
  samcli/lib/providers/provider.py
  samcli/lib/sync/flows/auto_dependency_layer_sync_flow.py
  samcli/lib/sync/flows/function_sync_flow.py
  samcli/lib/sync/flows/image_function_sync_flow.py
  samcli/lib/sync/flows/layer_sync_flow.py
  samcli/lib/sync/flows/zip_function_sync_flow.py
  samcli/lib/sync/sync_flow.py
  samcli/lib/sync/sync_flow_factory.py
  samcli/lib/sync/watch_manager.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/sync/flows/test_auto_dependency_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_function_sync_flow.py
  tests/unit/lib/sync/flows/test_image_function_sync_flow.py
  tests/unit/lib/sync/flows/test_layer_sync_flow.py
  tests/unit/lib/sync/flows/test_zip_function_sync_flow.py
  tests/unit/lib/sync/test_sync_flow_factory.py
Labels: area/build, pr/internal, area/sync

#4878 test: Add end2end test for package and local
  tests/end_to_end/end_to_end_base.py
  tests/end_to_end/test_runtimes_e2e.py
  tests/end_to_end/test_stages.py
  tests/integration/local/invoke/invoke_cdk_templates.py
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/runtimes/test_with_runtime_zips.py
  tests/integration/local/invoke/test_integration_cli_images.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/local/invoke/test_invoke_cdk_templates_with_function_id.py
  tests/integration/local/invoke/test_invoke_terraform_applications.py
  tests/integration/local/invoke/test_with_credentials.py
  tests/integration/package/package_integ_base.py
  tests/integration/package/test_package_command_image.py
  tests/integration/package/test_package_command_zip.py
Labels: pr/internal

#4886 Fix typo in delete_context.py
  samcli/commands/delete/delete_context.py
  tests/unit/commands/delete/test_delete_context.py
Labels: pr/external, area/delete, stage/needs-triage

#4873 fix: respect `--resolve-s3` and `--resolve-image-repos` in a guided context.
  samcli/commands/deploy/command.py
  samcli/commands/deploy/guided_context.py
  tests/unit/commands/deploy/test_command.py
Labels: area/deploy, pr/internal

#4857 feat: Add skip-deploy-sync option for sync command
  samcli/commands/sync/command.py
  samcli/commands/sync/core/options.py
  samcli/commands/sync/sync_context.py
  samcli/lib/sync/infra_sync_executor.py
  samcli/lib/sync/watch_manager.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
  tests/unit/commands/sync/test_sync_context.py
  tests/unit/lib/sync/test_infra_sync_executor.py
  tests/unit/lib/sync/test_watch_manager.py
Labels: pr/internal, area/sync

#4898 feat: add python3.10 support
  .github/workflows/build.yml
  samcli/commands/build/command.py
  samcli/commands/package/package_context.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/lib/utils/preview_runtimes.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/commands/package/test_package_context.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
Labels: area/package, area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke

#4871 fix: use relative path when resolving nested stack location
  samcli/lib/sync/infra_sync_executor.py
  tests/unit/lib/sync/test_infra_sync_executor.py
Labels: pr/internal

#4870 fix: use correct defnition field name for CFN resources
  samcli/lib/sync/sync_flow.py
  tests/unit/lib/sync/test_sync_flow.py
Labels: pr/internal

#4883 feat: skip infra sync for SAM Accelerate
  samcli/commands/sync/command.py
  samcli/lib/sync/infra_sync_executor.py
  samcli/lib/sync/watch_manager.py
  samcli/lib/telemetry/event.py
  tests/integration/sync/test_sync_infra.py
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/sync/infra/template-python-auto-skip.yaml
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
  tests/unit/lib/sync/test_infra_sync_executor.py
  tests/unit/lib/sync/test_sync_flow.py
Labels: pr/internal

#4913 fix: set the deploy delay default value to 5 seconds to match the old experience.
  samcli/commands/deploy/command.py
  tests/unit/commands/deploy/test_command.py
Labels: area/deploy, pr/internal

#4885 feat: sam build help text
  samcli/cli/core/__init__.py
  samcli/cli/core/command.py
  samcli/commands/_utils/experimental.py
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/build/core/__init__.py
  samcli/commands/build/core/command.py
  samcli/commands/build/core/formatters.py
  samcli/commands/build/core/options.py
  samcli/commands/sync/core/command.py
  tests/unit/commands/buildcmd/core/__init__.py
  tests/unit/commands/buildcmd/core/test_command.py
  tests/unit/commands/buildcmd/core/test_formatter.py
  tests/unit/commands/sync/core/test_command.py
Labels: area/build, pr/internal, area/sync

#4922 chore: Mark Dependabot PRs as internal
  .github/workflows/pr-labeler.yml
Labels: pr/internal

#4910 feat: Validate headers against validation expression property
  samcli/local/apigw/authorizers/lambda_authorizer.py
  samcli/local/apigw/local_apigw_service.py
  tests/unit/local/apigw/test_lambda_authorizer.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4916 fix: Fix APIGW V2 context passing
  samcli/local/apigw/local_apigw_service.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4940 fix: Allow better comment handling in XrayTracingTemplateModifier
  samcli/lib/init/template_modifiers/application_insights_template_modifier.py
  samcli/lib/init/template_modifiers/cli_template_modifier.py
  samcli/lib/init/template_modifiers/xray_tracing_template_modifier.py
  tests/unit/lib/init/test_cli_template_modifier.py
Labels: pr/internal

#4945 fix: parsing capabilities attribute as array or string value in config toml file
  requirements/base.txt
  requirements/reproducible-linux.txt
  tests/integration/deploy/test_deploy_command.py
  tests/integration/testdata/package/samconfig-capabilities-list.toml
  tests/integration/testdata/package/samconfig-capabilities-string.toml
Labels: area/build, pr/internal

#4917 feat: Integration testing of Lambda authorizers defined as CFN resources
  tests/integration/local/start_api/lambda_authorizers/test_cfn_authorizer_definitions.py
  tests/integration/local/start_api/lambda_authorizers/test_sfn_props_lambda_authorizers.py
  tests/integration/testdata/start_api/lambda_authorizers/app.py
  tests/integration/testdata/start_api/lambda_authorizers/cfn-apigw-v1.yaml
  tests/integration/testdata/start_api/lambda_authorizers/cfn-apigw-v2.yaml
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4640 fix: fix the copy terraform script to maintain the files permissions while extracting the ZIP files
  installer/pyinstaller/hook-samcli.py
  samcli/hook_packages/terraform/copy_terraform_built_artifacts.py
  samcli/hook_packages/terraform/hooks/prepare/makefile_generator.py
  samcli/local/lambdafn/remote_files.py
  samcli/local/lambdafn/zip.py
  samcli/local/layers/layer_downloader.py
  tests/integration/buildcmd/test_build_terraform_applications_other_cases.py
  tests/integration/scripts/test_copy_terraform_built_artifacts.py
  tests/integration/testdata/buildcmd/terraform/go_lambda_function_check_keep_permissions/go.mod
  tests/integration/testdata/buildcmd/terraform/go_lambda_function_check_keep_permissions/go.sum
  tests/integration/testdata/buildcmd/terraform/go_lambda_function_check_keep_permissions/main.go
  tests/integration/testdata/buildcmd/terraform/go_lambda_function_check_keep_permissions/main.tf
  tests/unit/cli/test_import_module_proxy.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_makefile_generator.py
  tests/unit/local/lambdafn/test_remote_files.py
  tests/unit/local/lambdafn/test_zip.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4938 fix: Added missing checks for Swagger parsing of Lambda authorizers and fixed some existing ones
  samcli/commands/local/lib/swagger/parser.py
  samcli/commands/local/lib/validators/lambda_auth_props.py
  samcli/lib/providers/cfn_api_provider.py
  tests/unit/commands/local/lib/swagger/test_parser.py
  tests/unit/commands/local/lib/validators/test_lambda_auth_props.py
Labels: pr/internal

#4939 feat: Integration testing of Lambda authorizers defined under the Swagger document
  tests/integration/local/start_api/lambda_authorizers/test_cfn_authorizer_definitions.py
  tests/integration/local/start_api/lambda_authorizers/test_swagger_authorizer_definitions.py
  tests/integration/testdata/start_api/lambda_authorizers/swagger-api.yaml
  tests/integration/testdata/start_api/lambda_authorizers/swagger-http.yaml
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4924 unpin regex dependency
  requirements/base.txt
  requirements/reproducible-linux.txt
Labels: pr/external, stage/needs-triage

#4941 feat: Deploy Help Text Overhaul
  samcli/commands/_utils/options.py
  samcli/commands/deploy/command.py
  samcli/commands/deploy/core/__init__.py
  samcli/commands/deploy/core/command.py
  samcli/commands/deploy/core/formatters.py
  samcli/commands/deploy/core/options.py
  tests/unit/commands/deploy/core/__init__.py
  tests/unit/commands/deploy/core/test_command.py
  tests/unit/commands/deploy/core/test_formatter.py
  tests/unit/commands/deploy/core/test_options.py
Labels: area/deploy, pr/internal

#4950 fix: Fix invoke image used with layer
  samcli/local/docker/lambda_image.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#4944 Update ECR_URL to match localhost repo
  samcli/lib/package/ecr_utils.py
  samcli/lib/package/regexpr.py
  tests/unit/lib/package/test_ecr_utils.py
Labels: pr/external

#4216 fix: Resolve handler paths to be relative to output dir
  samcli/commands/build/build_context.py
  samcli/commands/local/lib/exceptions.py
  samcli/lib/build/bundler.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/Esbuild/TypeScript/nested/function/app.ts
  tests/unit/lib/build_module/test_bundler.py
Labels: area/build, pr/internal
