Repository aws/aws-sam-cli, pull requests merged in 2024-08, with the labels that each got.

#7300 fix: Integration test using OS line endings
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#7306 fix: Remove str type constrain in Fn:FindInMap to avoid the issue of …
  samcli/lib/intrinsic_resolver/intrinsic_property_resolver.py
  tests/integration/local/start_lambda/test_start_lambda.py
  tests/integration/testdata/invoke/template.yml
  tests/unit/lib/intrinsic_resolver/test_intrinsic_resolver.py
Labels: pr/internal, stage/needs-triage

#7351 fix: Fix copying symlink files for Windows
  samcli/lib/utils/osutils.py
  tests/unit/lib/utils/test_osutils.py
Labels: pr/internal

#7328 chore: Upgrade to OpenSSL 3 for SAM CLI Installer
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/build-mac.sh
Labels: pr/internal, stage/needs-triage

#7360 Revert "chore(deps): bump setuptools from 70.3.0 to 72.1.0 in /requirements"
  requirements/pyinstaller-build.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  requirements/reproducible-win.txt
Labels: pr/internal

#7366 chore: bump version to 1.122.0
  samcli/__init__.py
Labels: pr/internal

#7371 chore: update log
  samcli/lib/build/app_builder.py
  samcli/lib/build/build_graph.py
  samcli/lib/build/build_strategy.py
  samcli/lib/providers/provider.py
  tests/integration/buildcmd/build_integ_base.py
Labels: area/build, pr/internal

#7380 chore: Version bump to 1.123.0
  samcli/__init__.py
Labels: pr/internal

#7384 fix: the cfn event is called DetailedStatus
  samcli/lib/deploy/deployer.py
  tests/unit/lib/deploy/test_deployer.py
Labels: pr/internal

#7392 fix: Avoid crashing on invalid function name
  samcli/lib/providers/exceptions.py
  samcli/lib/providers/sam_function_provider.py
  samcli/local/apigw/local_apigw_service.py
  tests/unit/commands/local/lib/test_sam_function_provider.py
  tests/unit/local/apigw/test_local_apigw_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#7401 chore: add back some --reruns to avoid flaky canary tests
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-binary.yml
  appveyor-windows.yml
Labels: pr/internal

#7419 fix: Fix a canary failure due to an updated error messages from boto lib
  tests/integration/pipeline/test_bootstrap_command.py
Labels: pr/internal
