Repository aws/aws-sam-cli, pull requests merged in 2024-10, with the labels that each got.

#7533 Add AWS_LAMBDA_INITIALIZATION_TYPE env var
  samcli/local/lambdafn/env_vars.py
  tests/unit/local/lambdafn/test_env_vars.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke, stage/needs-triage

#7566 fix: Update to OpenSSL 3.3.1 to avoid the issue with subprocess.check…
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/build-mac.sh
Labels: pr/internal

#7495 feat: adding `dotnet` build method that is version agnostic
  .gitignore
  samcli/lib/build/workflow_config.py
  tests/integration/buildcmd/test_build_cmd_dotnet.py
  tests/integration/testdata/buildcmd/Dotnet/HelloWorld.csproj
  tests/integration/testdata/buildcmd/Dotnet/Program.cs
  tests/integration/testdata/buildcmd/Dotnet/aws-lambda-tools-defaults.json
  tests/integration/testdata/buildcmd/template_build_method_dotnet.yaml
Labels: area/build, pr/external

#7593 feat: Dynamically determine latest init runtime
  samcli/commands/exceptions.py
  samcli/commands/init/interactive_init_flow.py
  tests/unit/commands/init/test_cli.py
Labels: area/init, pr/internal

#7611 fix: Pin down watchdog to 4.0.2 to fix sam sync --watch issues
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  requirements/reproducible-win.txt
Labels: pr/internal

#7612 chore: bump SAM CLI version to 1.127.0
  samcli/__init__.py
Labels: pr/internal
