Repository aws/aws-sam-cli, pull requests merged in 2024-01, with the labels that each got.

#6461 chore: install dotnet8 in CI (appveyor)
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
Labels: pr/internal

#6477 fix: getting logging information from lambda
  requirements/base.txt
  samcli/lib/observability/cw_logs/cw_log_group_provider.py
  tests/integration/logs/test_logs_command.py
  tests/integration/testdata/logs/nested-python-apigw-sfn/child-stack/function-with-custom-logging/app.py
  tests/integration/testdata/logs/nested-python-apigw-sfn/child-stack/grand-child-stack/function-with-custom-logging/app.py
  tests/integration/testdata/logs/nested-python-apigw-sfn/child-stack/grand-child-stack/template.yaml
  tests/integration/testdata/logs/nested-python-apigw-sfn/child-stack/template.yaml
  tests/integration/testdata/logs/nested-python-apigw-sfn/function-with-custom-logging/app.py
  tests/integration/testdata/logs/nested-python-apigw-sfn/template.yaml
  tests/integration/testdata/logs/python-apigw-sfn/function-with-custom-logging/app.py
  tests/integration/testdata/logs/python-apigw-sfn/template.yaml
  tests/unit/lib/observability/cw_logs/test_cw_log_group_provider.py
Labels: pr/internal

#6503 chore: bump version to 1.106.0
  samcli/__init__.py
Labels: pr/internal

#6476 fix: Explicitly exit when container is out-of-memory
  samcli/local/docker/container.py
  samcli/local/docker/container_analyzer.py
  samcli/local/docker/exceptions.py
  samcli/local/docker/manager.py
  samcli/local/lambdafn/runtime.py
  tests/unit/local/docker/test_container_analyzer.py
  tests/unit/local/docker/test_manager.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6471 fix: skip checks on non serverless api resources
  samcli/commands/deploy/auth_utils.py
  tests/unit/commands/deploy/test_auth_utils.py
Labels: area/deploy, pr/internal

#6470 SAM Publish add flag to fail on duplicate semantic version
  samcli/commands/publish/command.py
  samcli/vendor/serverlessrepo/exceptions.py
  samcli/vendor/serverlessrepo/publish.py
  schema/samcli.json
  tests/integration/publish/publish_app_integ_base.py
  tests/integration/publish/test_command_integ.py
  tests/unit/commands/publish/test_command.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/vendor/serverlessrepo/test_publish.py
Labels: area/publish, pr/internal, area/schema

#6509 Fix: sam invoke local throw error 'utf-8' codec can't decode byte 0xff
  samcli/lib/utils/stream_writer.py
  samcli/local/apigw/authorizers/lambda_authorizer.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/docker/container.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/services/base_local_service.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/testdata/invoke/image-for-lambda.png
  tests/integration/testdata/invoke/main.py
  tests/integration/testdata/invoke/template-return-image.yaml
  tests/unit/lib/utils/test_stream_writer.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6508 Fix Erroneous "No BuildArchitecture specified in Layer" Warning
  samcli/lib/build/build_strategy.py
  samcli/lib/providers/provider.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/layers-functions-template.yaml
  tests/unit/lib/build_module/test_build_strategy.py
Labels: area/build, pr/internal

#6532 fix: remove version from rest api payload
  samcli/local/apigw/event_constructor.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/events/api_event.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/events/test_api_event.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6537 Allow Security Field for Schema to be optional
  samcli/commands/local/lib/swagger/parser.py
  tests/unit/commands/local/lib/swagger/test_parser.py
Labels: pr/internal

#6542 chore: bump version to 1.107.0
  samcli/__init__.py
Labels: pr/internal

#6543 Revert "Fix: sam invoke local throw error 'utf-8' codec can't decode …
  samcli/lib/utils/stream_writer.py
  samcli/local/apigw/authorizers/lambda_authorizer.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/docker/container.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/services/base_local_service.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/testdata/invoke/image-for-lambda.png
  tests/integration/testdata/invoke/main.py
  tests/integration/testdata/invoke/template-return-image.yaml
  tests/unit/lib/utils/test_stream_writer.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6078 Add --add-host cli option to expose docker container option with the same name.
  samcli/cli/types.py
  samcli/commands/_utils/options.py
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/cli_common/options.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/invoke/core/options.py
  samcli/commands/local/lib/local_lambda.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_api/core/options.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/local/start_lambda/core/options.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_container.py
  samcli/local/lambdafn/runtime.py
  schema/samcli.json
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/local/start_lambda/test_cli.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/local/lambdafn/test_runtime.py
  tests/unit/schema/testdata/passing_tests/local_invokecmd.toml
  tests/unit/schema/testdata/passing_tests/local_start_apicmd.toml
  tests/unit/schema/testdata/passing_tests/local_start_lambdacmd.toml
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke

#6551 fix: Added missing add_host parameter to start-api entry methods
  samcli/commands/local/start_api/cli.py
  tests/unit/commands/local/start_api/test_cli.py
Labels: pr/internal

#6560 Add --debug to flaky test to get more information
  tests/end_to_end/test_runtimes_e2e.py
Labels: pr/internal

#6559 Fix: sam invoke local throw error 'utf-8' codec can't decode byte 0xff
  samcli/lib/utils/stream_writer.py
  samcli/local/apigw/authorizers/lambda_authorizer.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/docker/container.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/services/base_local_service.py
  tests/integration/local/invoke/test_integrations_cli.py
  tests/integration/testdata/invoke/image-for-lambda.png
  tests/integration/testdata/invoke/main.py
  tests/integration/testdata/invoke/template-return-image.yaml
  tests/unit/lib/utils/test_stream_writer.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6541 fix: sam delete not picking up global parameters from samconfig.yaml
  samcli/commands/delete/command.py
  samcli/commands/delete/delete_context.py
  tests/integration/delete/test_delete_command.py
  tests/unit/commands/delete/test_command.py
  tests/unit/commands/delete/test_delete_context.py
Labels: pr/internal, area/delete

#6580 fix: Add check for resolving symlinks when host_dir does not exist
  samcli/local/docker/container.py
  tests/unit/local/docker/test_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6598 chore: bump version to 1.108
  samcli/__init__.py
Labels: pr/internal

#6604 Add logging for files pulled from S3 + enable RIE debug for flaky test
  tests/end_to_end/test_runtimes_e2e.py
  tests/end_to_end/test_stages.py
Labels: pr/internal
