Repository aws/aws-sam-cli, pull requests merged in 2024-02, with the labels that each got.

#6622 fix: lock invocation per function for not having concurrent requests
  samcli/local/docker/container.py
  tests/integration/local/start_api/test_start_api.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6656 chore: bump version to 1.109.0
  samcli/__init__.py
Labels: pr/internal

#6575 Sync timestamp
  samcli/lib/sync/sync_flow_executor.py
  tests/integration/sync/test_sync_adl.py
  tests/integration/sync/test_sync_watch.py
  tests/integration/testdata/sync/code/before/template-makefile-create-new-file.yaml
  tests/integration/testdata/sync/code/before/template-python-code-only-layer.yaml
  tests/integration/testdata/sync/code/before/template-python-code-only.yaml
  tests/integration/testdata/sync/code/before/template-python-no-dependencies.yaml
  tests/integration/testdata/sync/code/before/template-python.yaml
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_level3_nested_zip_functions.json
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_level3_nested_zip_functions_after.json
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_zip_functions.json
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_zip_functions_after.json
  tests/integration/testdata/sync/infra/template-python-after.yaml
  tests/integration/testdata/sync/infra/template-python-auto-skip.yaml
  tests/integration/testdata/sync/infra/template-python-before.yaml
  tests/integration/testdata/sync/nested/before/child_stack/child_child_stack/template.yaml
  tests/integration/testdata/sync/nested/before/child_stack/template.yaml
  tests/integration/testdata/sync/nested/before/template.yaml
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_function/template.yaml
  tests/integration/testdata/sync/nested_intrinsics/before/child_stack/child_layer/template.yaml
Labels: pr/external

#6648 chore(deps-dev): Update pytest, pytest-metadata, and changed to pytest-json-report-wip
  requirements/dev.txt
Labels: pr/internal

#6664 chore: Deprecate Nodejs12 and Nodejs14
  designs/build_for_provided_runtimes.md
  samcli/commands/_utils/options.py
  samcli/commands/local/cli_common/options.py
  samcli/lib/build/workflow_config.py
  samcli/lib/init/local_manifest.json
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-nodejs/cookiecutter.json
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/functional/commands/validate/lib/models/function_with_image_in_metadata.yaml
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/testdata/validate/default_json/template.json
  tests/integration/testdata/validate/multiple_files/template.json
  tests/integration/testdata/validate/with_build/.aws-sam/build/template.yaml
  tests/integration/testdata/validate/with_build/template.json
  tests/integration/validate/test_validate_command.py
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/init/test_manifest.json
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/hook_packages/terraform/hooks/prepare/prepare_base.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_hook.py
  tests/unit/hook_packages/terraform/hooks/prepare/test_resource_linking.py
  tests/unit/lib/build_module/test_build_graph.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/lib/cli_validation/test_image_repository_validation.py
  tests/unit/lib/utils/test_architecture.py
  tests/unit/lib/utils/test_lambda_builders.py
  tests/unit/local/docker/test_lambda_build_container.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#6666 chore: Remove ruby2.7 support
  .github/workflows/build.yml
  designs/per_command_help_text.md
  samcli/commands/build/command.py
  samcli/lib/build/constants.py
  samcli/lib/build/workflow_config.py
  samcli/lib/init/local_manifest.json
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-ruby/README.md
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-ruby/cookiecutter.json
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/testdata/invoke/credential_tests/incontainer/ruby/Gemfile
  tests/integration/testdata/invoke/credential_tests/incontainer/template.yaml
  tests/integration/validate/test_validate_command.py
  tests/smoke/templates/sar/ffmpeg-lambda-layer-template.yaml
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/init/test_templates.py
  tests/unit/lib/bootstrap/nested_stack/test_nested_stack_manager.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/lib/sync/test_sync_flow_factory.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#6674 chore: Remove ruby2.7 support
  .github/workflows/build.yml
  designs/per_command_help_text.md
  samcli/commands/build/command.py
  samcli/lib/build/constants.py
  samcli/lib/build/workflow_config.py
  samcli/lib/init/local_manifest.json
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-ruby/README.md
  samcli/lib/init/templates/cookiecutter-aws-sam-hello-ruby/cookiecutter.json
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/testdata/invoke/credential_tests/incontainer/ruby/Gemfile
  tests/integration/testdata/invoke/credential_tests/incontainer/template.yaml
  tests/integration/validate/test_validate_command.py
  tests/smoke/templates/sar/ffmpeg-lambda-layer-template.yaml
  tests/unit/commands/init/test_cli.py
  tests/unit/commands/init/test_templates.py
  tests/unit/lib/bootstrap/nested_stack/test_nested_stack_manager.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/lib/sync/test_sync_flow_factory.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#6696 chore: Removed the setup.cfg file
  setup.cfg
Labels: pr/internal

#6701 fix: Raise UserException when an invalid runtime is specified
  samcli/local/docker/exceptions.py
  samcli/local/docker/lambda_container.py
  tests/unit/local/docker/test_lambda_container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6697 fix: Handle SIGTERM process kill signal
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/local/docker/exceptions.py
  samcli/local/services/base_local_service.py
  tests/integration/local/start_api/start_api_integ_base.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/local/start_lambda/start_lambda_api_integ_base.py
  tests/integration/local/start_lambda/test_start_lambda.py
  tests/unit/local/services/test_base_local_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6695 Add a Lock for removing decompressed paths
  samcli/local/lambdafn/runtime.py
  tests/integration/local/start_api/test_start_api.py
  tests/integration/testdata/start_api/template.yaml
  tests/integration/testdata/start_api/zipped.zip
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6722 fix(test): Skip SIGTERM tests on Windows
  tests/integration/local/start_api/test_start_api.py
  tests/integration/local/start_lambda/test_start_lambda.py
Labels: pr/internal

#6429 feat: add dotnet8 support
  .gitignore
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/Dotnet8/HelloWorld.csproj
  tests/integration/testdata/buildcmd/Dotnet8/Program.cs
  tests/integration/testdata/buildcmd/Dotnet8/aws-lambda-tools-defaults.json
  tests/integration/validate/test_validate_command.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/external, area/local/start-invoke, area/schema

#6723 feat: add dotnet8 support (#6429)
  .gitignore
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/testdata/buildcmd/Dotnet8/HelloWorld.csproj
  tests/integration/testdata/buildcmd/Dotnet8/Program.cs
  tests/integration/testdata/buildcmd/Dotnet8/aws-lambda-tools-defaults.json
  tests/integration/validate/test_validate_command.py
  tests/testing_utils.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#6727 chore: bump version to v1.110.0
  samcli/__init__.py
Labels: pr/internal
