Repository aws/aws-sam-cli, pull requests merged in 2024-12, with the labels that each got.

#7764 chore: Bump MacOS related pyinstaller artifacts to Python 3.11
  .github/workflows/update-reproducibles.yml
  Makefile
  installer/pyinstaller/build-mac.sh
  requirements/reproducible-mac.txt
Labels: pr/internal

#7769 Add support for --no-use-container option
  samcli/commands/_utils/options.py
  tests/unit/commands/samconfig/test_samconfig.py
Labels: pr/external, stage/needs-triage

#7786 chore: bump version to 1.132.0
  samcli/__init__.py
Labels: pr/external, stage/needs-triage

#7789 Update THIRD-PARTY-LICENSES
  installer/assets/THIRD-PARTY-LICENSES
Labels: pr/external, stage/needs-triage

#7675 Add logs on docker build failure
  samcli/lib/build/app_builder.py
  samcli/lib/docker/log_streamer.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: pr/external
