Repository aws/aws-sam-cli, pull requests merged in 2024-06, with the labels that each got.

#7107 fix: modified option resolve_s3 to allow override from samconfig
  samcli/commands/_utils/options.py
  tests/integration/deploy/test_deploy_command.py
Labels: pr/external, stage/needs-triage

#7131 Fix: ignore imageuri if not a path
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  samcli/lib/utils/path_utils.py
  tests/unit/lib/utils/test_path_utils.py
Labels: pr/internal

#7140 fix: Update the json schema type for tags option for deploy and sync commands
  samcli/cli/types.py
  schema/samcli.json
Labels: pr/internal, area/schema

#7141 fix: Catch readtimeout error when docker is not reachable
  samcli/local/docker/utils.py
  tests/unit/local/docker/test_manager.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#7148 fix: Updated default value of authorizer type to be upper case TOKEN
  samcli/lib/providers/sam_api_provider.py
  tests/unit/commands/local/lib/test_sam_api_provider.py
Labels: pr/internal

#7013 Allow `sam local invoke` to retrieve account id from current logged in session
  samcli/commands/local/cli_common/invoke_context.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
Labels: pr/external, stage/needs-triage

#7161 fix(tests): Fix local test failing for account ID checks
  tests/integration/local/invoke/invoke_integ_base.py
  tests/integration/local/invoke/test_integration_cli_images.py
  tests/integration/local/invoke/test_integrations_cli.py
Labels: pr/internal

#7160 chore: bump version to 1.119.0
  samcli/__init__.py
Labels: pr/internal

#7210 fix: catch error in _relevant_cdk_files_are_present
  samcli/lib/iac/cdk/utils.py
  tests/unit/lib/iac/cdk/test_cdk_utils.py
Labels: pr/internal

#7211 fix: bump timeout for waiting for restapi sync in sam sync integ test
  tests/integration/sync/test_sync_watch.py
Labels: pr/internal
