Repository aws/aws-sam-cli, pull requests merged in 2024-04, with the labels that each got.

#6721 Centralize Configurations for Runtime
  samcli/lib/build/constants.py
  samcli/lib/build/workflow_config.py
  samcli/lib/runtimes/base.py
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  tests/unit/lib/runtimes/__init__.py
  tests/unit/lib/runtimes/test_base.py
  tests/unit/lib/utils/test_architecture.py
Labels: area/local/start-api, area/init, area/local/invoke, pr/internal, area/local/start-invoke

#6889 fix: pass the missing `extra_hosts` argument
  samcli/commands/local/cli_common/invoke_context.py
  samcli/local/lambdafn/runtime.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke

#6922 Handle docker container creation error
  samcli/commands/local/invoke/cli.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/apigw/service_error_responses.py
  samcli/local/docker/container.py
  samcli/local/docker/exceptions.py
  samcli/local/lambda_service/lambda_error_responses.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/lambdafn/runtime.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6924 chore: Build bzip2 from source for Linux Pyinstaller builds
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/build-mac.sh
  installer/pyinstaller/samcli-mac.spec
  installer/pyinstaller/samcli.spec
Labels: pr/internal

#6931 chore: version bump to v1.115
  samcli/__init__.py
Labels: pr/internal

#6935 Update README.md: nitpick-fix (space missing before the dash)
  README.md
Labels: area/docs, pr/external

#6969 chore: Fix init and end to end integration tests
  samcli/local/common/runtime_template.py
  tests/end_to_end/test_runtimes_e2e.py
  tests/integration/init/schemas/test_init_with_schemas_command.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6989 fix: mac validate pyinstaller workflow to not use latest mac image
  .github/workflows/validate_pyinstaller.yml
Labels: area/build, pr/internal

#6988 fix: pass unpatched runtime to lambda builder
  samcli/lib/build/app_builder.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#6997 chore: version bump to 1.116.0
  samcli/__init__.py
Labels: pr/internal
