Repository aws/aws-sam-cli, pull requests merged in 2024-05, with the labels that each got.

#6996 fix: use correct openssl when building python
  .github/workflows/validate_pyinstaller.yml
  installer/pyinstaller/build-mac.sh
Labels: pr/internal

#6930 feat: sam Commands Understand Local File Paths for `AWS::Serverless::Function.ImageUri`
  samcli/commands/_utils/template.py
  samcli/lib/build/app_builder.py
  samcli/lib/build/build_graph.py
  samcli/lib/build/build_strategy.py
  samcli/lib/package/ecr_uploader.py
  samcli/lib/package/utils.py
  samcli/lib/providers/provider.py
  samcli/lib/providers/sam_function_provider.py
  samcli/local/docker/lambda_container.py
  samcli/local/lambdafn/config.py
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/deploy/test_deploy_command.py
  tests/integration/package/test_package_command_image.py
  tests/integration/testdata/buildcmd/load_image_archive/archive.tar.gz
  tests/integration/testdata/buildcmd/load_image_archive/error.tar.gz
  tests/integration/testdata/buildcmd/template_loadable_image.yaml
  tests/integration/testdata/package/load-image-archive/archive.tar.gz
  tests/integration/testdata/package/load-image-archive/error.tar.gz
  tests/integration/testdata/package/load-image-archive/template-image-load-fail.yaml
  tests/integration/testdata/package/load-image-archive/template-image-load.yaml
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/lib/build_module/test_build_graph.py
  tests/unit/lib/build_module/test_build_strategy.py
  tests/unit/lib/package/test_ecr_uploader.py
Labels: area/package, area/docker, area/deploy, area/build, pr/external

#7011 fix: Flaky integration tests
  appveyor-windows.yml
  tests/integration/local/invoke/runtimes/test_with_runtime_zips.py
  tests/integration/local/start_api/test_start_api.py
Labels: pr/internal

#7014 fix: Revert pytest update breaking e2e testing, catch duplicate port error
  requirements/dev.txt
  tests/integration/local/common_utils.py
  tests/integration/local/start_lambda/test_start_lambda.py
Labels: pr/internal

#7049 fix: improve tag parsing performance for list input
  samcli/cli/types.py
  tests/unit/cli/test_types.py
Labels: pr/internal

#7019 fix: allow --container-env-var-file in sync command
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/commands/sync/command.py
  schema/samcli.json
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
Labels: pr/external, area/sync, stage/needs-triage, area/schema

#7060 chore: update ruff params according to warning message
  Make.ps1
  Makefile
  pyproject.toml
Labels: pr/internal

#7052 chore: add buildcmd integ test for cargo workspace
  tests/integration/buildcmd/build_integ_base.py
  tests/integration/testdata/buildcmd/Rust/cargo_workspace/Cargo.toml
  tests/integration/testdata/buildcmd/Rust/cargo_workspace/function_a/Cargo.toml
  tests/integration/testdata/buildcmd/Rust/cargo_workspace/function_a/src/main.rs
  tests/integration/testdata/buildcmd/Rust/cargo_workspace/function_b/Cargo.toml
  tests/integration/testdata/buildcmd/Rust/cargo_workspace/function_b/src/main.rs
  tests/integration/testdata/buildcmd/template_build_method_rust_cargo_workspace.yaml
Labels: pr/internal

#7069 chore: bump version to 1.117.0
  samcli/__init__.py
Labels: pr/internal

#7096 fix: skip file opened event for template watcher
  samcli/lib/utils/resource_trigger.py
  tests/unit/lib/utils/test_resource_trigger.py
Labels: pr/internal

#7109 fix(tests): Keep original test data path in its own variable to avoid overwriting
  tests/integration/deploy/deploy_integ_base.py
  tests/integration/package/package_integ_base.py
Labels: pr/internal

#7118 chore: Version bump to 1.118.0
  samcli/__init__.py
Labels: pr/internal
