Repository aws/aws-sam-cli, pull requests merged in 2024-07, with the labels that each got.

#7223 chore: Bump checkout version
  .github/workflows/validate_pyinstaller.yml
  installer/pyinstaller/Instruction.md
Labels: pr/internal

#7245 fix: catch ResourceNotFound error when adding code trigger in sam sync
  samcli/lib/sync/watch_manager.py
  tests/unit/lib/sync/test_watch_manager.py
Labels: pr/internal

#7162 feat: Add wait timeout for deploy command
  samcli/commands/deploy/command.py
  samcli/commands/deploy/core/options.py
  samcli/commands/deploy/deploy_context.py
  samcli/commands/sync/command.py
  samcli/lib/deploy/deployer.py
  schema/samcli.json
  tests/unit/commands/deploy/test_command.py
  tests/unit/commands/deploy/test_deploy_context.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/commands/sync/test_command.py
Labels: area/deploy, pr/external

#7271 Fix: sam sync defintion validator handling file opened event
  samcli/lib/utils/definition_validator.py
  samcli/lib/utils/resource_trigger.py
  tests/unit/lib/utils/test_definition_validator.py
Labels: pr/internal

#7272 add disclaimer for invoking rust lambdas
  samcli/commands/local/lib/local_lambda.py
  tests/unit/commands/local/lib/test_local_lambda.py
Labels: pr/internal

#7274 fix: sam sync ruby tests
  tests/integration/testdata/sync/infra/after/Ruby/function/app.rb
  tests/integration/testdata/sync/infra/before/Ruby/function/app.rb
Labels: pr/internal

#7275 fix: handle imageuri not being string
  samcli/lib/build/app_builder.py
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/internal

#7284 fix: change openssl url in build linux
  installer/pyinstaller/build-linux.sh
Labels: pr/internal

#7293 chore: bump version to 1.121.0
  samcli/__init__.py
Labels: pr/internal
