Repository aws/aws-sam-cli, pull requests merged in 2024-03, with the labels that each got.

#6747 fix(tests): Exclude dotnet8 runtimes for Docker related tests
  tests/integration/buildcmd/test_build_cmd.py
Labels: pr/internal

#6753 fix: don't error out if no content-type header
  samcli/local/docker/container.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6781 chore: Version bump to 1.111.0
  samcli/__init__.py
Labels: pr/internal

#6719 Handle Container Creation Failure in `local invoke`, `local start-api` and `local start-lambda`
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/validate/validate.py
  samcli/lib/lint.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/apigw/service_error_responses.py
  samcli/local/docker/container.py
  samcli/local/docker/exceptions.py
  samcli/local/lambda_service/lambda_error_responses.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/lambdafn/runtime.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/local/start_lambda/test_cli.py
  tests/unit/lib/test_lint.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: area/local/invoke, pr/internal

#6794 Fix bug in PR#6719
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/local/start_lambda/test_cli.py
Labels: area/local/invoke, pr/internal

#6800 Revert "Fix bug in PR#6719"
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/validate/validate.py
  samcli/lib/lint.py
  samcli/local/apigw/local_apigw_service.py
  samcli/local/apigw/service_error_responses.py
  samcli/local/docker/container.py
  samcli/local/docker/exceptions.py
  samcli/local/lambda_service/lambda_error_responses.py
  samcli/local/lambda_service/local_lambda_invoke_service.py
  samcli/local/lambdafn/runtime.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/local/start_lambda/test_cli.py
  tests/unit/lib/test_lint.py
  tests/unit/local/apigw/test_local_apigw_service.py
  tests/unit/local/lambda_service/test_local_lambda_invoke_service.py
Labels: area/local/invoke, pr/internal

#6815 feat: Display new CFN status during deploy
  samcli/lib/deploy/deployer.py
  tests/unit/lib/deploy/test_deployer.py
Labels: pr/internal

#6816 fix: change rvm to rbenv
  appveyor-ubuntu.yml
Labels: pr/internal

#6817 chore: bump sam cli version to 1.112.0
  samcli/__init__.py
Labels: pr/internal

#6822 chore: Deprecate java8 for provided
  samcli/lib/build/workflow_config.py
  samcli/lib/init/local_manifest.json
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/init/test_init_command.py
  tests/integration/local/invoke/runtimes/test_with_runtime_zips.py
  tests/integration/testdata/buildcmd/template-java-maven-with-layers.yaml
  tests/integration/testdata/invoke/credential_tests/incontainer/java21/pom.xml
  tests/integration/testdata/invoke/credential_tests/incontainer/java21/src/main/java/sts/App.java
  tests/integration/testdata/invoke/credential_tests/incontainer/template.yaml
  tests/integration/testdata/invoke/runtimes/java21/pom.xml
  tests/integration/testdata/invoke/runtimes/java21/src/main/java/helloworld/App.java
  tests/integration/testdata/invoke/runtimes/java21/target/HelloWorld-1.0.jar
  tests/integration/testdata/invoke/runtimes/template.yaml
  tests/integration/testdata/sync/infra/before/Java/HelloWorldFunction/pom.xml
  tests/integration/testdata/sync/infra/before/Java/HelloWorldLayer/pom.xml
  tests/integration/testdata/sync/infra/template-java.yaml
  tests/integration/validate/test_validate_command.py
  tests/smoke/templates/sar/cfn-nag-pipeline-template.yaml
  tests/smoke/templates/sar/ffmpeg-lambda-layer-template.yaml
  tests/unit/commands/init/test_cli.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/lib/schemas/test_schemas_code_manager.py
  tests/unit/lib/utils/test_architecture.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#6702 fix: Use container path for file observer in a container
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/lib/local_lambda.py
  samcli/lib/utils/file_observer.py
  samcli/local/lambdafn/config.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/lib/utils/test_file_observer.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6843 Revert "fix: Use container path for file observer in a container"
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/lib/local_lambda.py
  samcli/lib/utils/file_observer.py
  samcli/local/lambdafn/config.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/lib/utils/test_file_observer.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#6844 update sanity-check to use python runtime app template based on avail…
  .github/workflows/validate_pyinstaller.yml
  tests/sanity-check.sh
Labels: pr/internal

#6845 fix: File Observer Inside Container
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/lib/local_lambda.py
  samcli/lib/utils/file_observer.py
  samcli/local/lambdafn/config.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/lib/utils/test_file_observer.py
Labels: pr/internal

#6833 chore: Deprecate java8 for provided
  samcli/lib/build/constants.py
  samcli/lib/build/workflow_config.py
  samcli/lib/init/local_manifest.json
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/init/test_init_command.py
  tests/integration/local/invoke/runtimes/test_with_runtime_zips.py
  tests/integration/testdata/buildcmd/template-java-maven-with-layers.yaml
  tests/integration/testdata/invoke/credential_tests/incontainer/java21/pom.xml
  tests/integration/testdata/invoke/credential_tests/incontainer/java21/src/main/java/sts/App.java
  tests/integration/testdata/invoke/credential_tests/incontainer/template.yaml
  tests/integration/testdata/invoke/runtimes/java21/pom.xml
  tests/integration/testdata/invoke/runtimes/java21/src/main/java/helloworld/App.java
  tests/integration/testdata/invoke/runtimes/java21/target/HelloWorld-1.0.jar
  tests/integration/testdata/invoke/runtimes/template.yaml
  tests/integration/testdata/sync/infra/before/Java/HelloWorldFunction/pom.xml
  tests/integration/testdata/sync/infra/before/Java/HelloWorldLayer/pom.xml
  tests/integration/testdata/sync/infra/template-java.yaml
  tests/integration/validate/test_validate_command.py
  tests/smoke/templates/sar/cfn-nag-pipeline-template.yaml
  tests/smoke/templates/sar/ffmpeg-lambda-layer-template.yaml
  tests/unit/commands/init/test_cli.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/lib/schemas/test_schemas_code_manager.py
  tests/unit/lib/utils/test_architecture.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#6855 chore: Update OpenSSL version in installers
  installer/pyinstaller/build-linux.sh
  installer/pyinstaller/build-mac.sh
Labels: pr/internal

#6856 chore: version bump to v1.113.0
  samcli/__init__.py
Labels: pr/internal

#6831 fix: use parameter overrides in package context
  samcli/commands/deploy/command.py
  samcli/commands/package/package_context.py
  tests/unit/commands/deploy/test_command.py
Labels: area/package, area/deploy, pr/internal

#6768 fix: wrong cast of !Ref when using CommaDelimitedList
  samcli/lib/intrinsic_resolver/intrinsics_symbol_table.py
  tests/unit/lib/intrinsic_resolver/test_intrinsics_symbol_table.py
Labels: pr/external, stage/needs-triage
