Repository aws/aws-sam-cli, pull requests merged in 2024-11, with the labels that each got.

#7645 chore: remove python3.8 from validate tests
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#7649 chore: remove go1.x & provided from validate tests
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#7656 Remote py313 branch
  .github/workflows/build.yml
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/buildcmd/test_build_cmd_python.py
  tests/integration/testdata/buildcmd/Python/requirements.txt
  tests/integration/testdata/buildcmd/PythonPEP600/requirements.txt
  tests/unit/commands/init/test_cli.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
Labels: area/local/start-api, area/build, area/local/invoke, area/local/start-invoke, area/schema

#7658 chore: bump version to 1.128.0
  samcli/__init__.py
Labels: pr/internal

#7561 feat: Add python3.13 runtime support
  .github/workflows/build.yml
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-al2023.yml
  appveyor-windows-binary.yml
  appveyor-windows.yml
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/buildcmd/test_build_cmd_python.py
  tests/integration/testdata/buildcmd/Python/requirements.txt
  tests/integration/testdata/buildcmd/PythonImage/requirements.txt
  tests/integration/testdata/buildcmd/PythonImagesWithSharedCode/requirements.txt
  tests/integration/testdata/buildcmd/PythonPEP600/requirements.txt
  tests/unit/commands/init/test_cli.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#7677 chore: bump cfn-lint to 1.19.0 to fix sam validate for python3.13
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  requirements/reproducible-win.txt
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#7678 fix: catch not-ok http response codes for sam init
  samcli/commands/init/init_templates.py
  tests/unit/commands/init/test_cli.py
Labels: area/init, pr/internal

#7679 chore: bump version to 1.129.0
  samcli/__init__.py
Labels: pr/internal

#7653 Update the development guide with the correct minimum Python version
  DEVELOPMENT_GUIDE.md
Labels: pr/external

#7681 chore: remove dotnet6 from validate tests
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#7703 chore: Remove py313 install steps from the Windows Al2023 based AppVeyor project
  appveyor-windows-al2023.yml
Labels: pr/internal

#7624 feat: Add nodejs22.x runtime support
  .github/workflows/build.yml
  samcli/commands/_utils/options.py
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/init/local_manifest.json
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_debug_settings.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/buildcmd/test_build_cmd_node.py
  tests/integration/validate/test_validate_command.py
  tests/unit/commands/init/test_cli.py
  tests/unit/lib/build_module/test_workflow_config.py
  tests/unit/local/docker/test_lambda_container.py
  tests/unit/local/docker/test_lambda_debug_settings.py
  tests/unit/local/docker/test_lambda_image.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#7716 chore: version bump to 1.130.0
  samcli/__init__.py
Labels: pr/internal

#7725 chore: bump version to 1.131.0
  samcli/__init__.py
Labels: pr/internal

#7625 fix: Another approach to parse tag string with spaces to avoid long running time on regex matching.
  samcli/cli/types.py
  tests/unit/cli/test_types.py
Labels: pr/internal
