Repository aws/aws-sam-cli, pull requests merged in 2025-01, with the labels that each got.

#7813 Add Lambda Tooling to Code Owners
  .github/dependabot.yml
  CODEOWNERS
Labels: pr/external, stage/needs-triage

#7844 fix(git_action): remove python3.7 & 3.8
  .github/workflows/build.yml
  tests/integration/buildcmd/test_build_cmd.py
  tests/integration/buildcmd/test_build_cmd_arm64.py
  tests/integration/buildcmd/test_build_cmd_python.py
  tests/integration/buildcmd/test_build_samconfig.py
Labels: pr/external, stage/needs-triage

#7833 Support AWS::Lambda::Alias type resolving
  samcli/lib/intrinsic_resolver/intrinsics_symbol_table.py
  tests/unit/lib/intrinsic_resolver/test_intrinsics_symbol_table.py
Labels: pr/external

#7849 chore(runtime): move ruby3.3 out of test runtime
  samcli/local/docker/lambda_image.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke

#7854 fix: run appVeyor build env on py311
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-al2023.yml
  appveyor-windows.yml
  setup.py
Labels: pr/external, stage/needs-triage
