Repository aws/aws-sam-cli, pull requests merged in 2025-02, with the labels that each got.

#7857 fix: adding py311 for appveyor
  appveyor-linux-binary.yml
  appveyor-ubuntu.yml
  appveyor-windows-al2023.yml
  appveyor-windows.yml
  setup.py
Labels: pr/external

#7865 fix: Resolve symlinks on local invoke only
  samcli/lib/build/app_builder.py
  samcli/local/docker/container.py
  samcli/local/docker/manager.py
  samcli/local/lambdafn/runtime.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/docker/test_manager.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/external, area/local/start-invoke, stage/needs-triage

#7866 test: Change python3.8 image to python3.9
  tests/integration/testdata/delete/companion-ecr/hello_world/Dockerfile
Labels: pr/external, stage/needs-triage

#7867 test: Fix Terraform tests
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend/expected.template.yaml
Labels: pr/external, stage/needs-triage

#7868 test: Fix combination of flaky+parameterized
  tests/integration/local/start_api/test_start_api.py
Labels: pr/external, stage/needs-triage

#7869 chore: bump version to 1.133.0
  samcli/__init__.py
Labels: pr/external, stage/needs-triage

#7871 test: Set Python3.9 for AppVeyor tests
  appveyor-ubuntu.yml
  appveyor-windows-al2023.yml
  appveyor-windows.yml
Labels: pr/external, stage/needs-triage

#7872 test: remove double runtime in compatible layers
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend_container_windows/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_local_backend_windows/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend_container_windows/expected.template.yaml
  tests/integration/testdata/buildcmd/terraform/zip_based_lambda_functions_s3_backend_windows/expected.template.yaml
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_level3_nested_zip_functions.json
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_level3_nested_zip_functions_after.json
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_zip_functions.json
  tests/integration/testdata/sync/infra/cdk/cdk_v1_synthesized_template_zip_functions_after.json
Labels: pr/external, stage/needs-triage

#7873 test: Fix Terraform Docker container
  tests/integration/testdata/buildcmd/terraform/build_image_docker/Dockerfile
Labels: pr/external, stage/needs-triage

#7883 test: Increase start-api tests timeouts
  tests/integration/local/start_api/lambda_authorizers/test_cfn_authorizer_definitions.py
  tests/integration/local/start_api/lambda_authorizers/test_sfn_props_lambda_authorizers.py
  tests/integration/local/start_api/lambda_authorizers/test_swagger_authorizer_definitions.py
Labels: pr/external, stage/needs-triage

#7890 fix: Keep symlinks when copying files after build
  samcli/lib/utils/osutils.py
  tests/unit/lib/utils/test_osutils.py
Labels: pr/external, stage/needs-triage

#7891 feat: New parameter to resolve and mount symlinks in container
  samcli/commands/_utils/options.py
  samcli/commands/build/build_context.py
  samcli/commands/build/command.py
  samcli/commands/build/core/options.py
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/invoke/core/options.py
  samcli/lib/build/app_builder.py
  samcli/local/docker/container.py
  samcli/local/docker/lambda_build_container.py
  samcli/local/docker/lambda_container.py
  samcli/local/lambdafn/runtime.py
  schema/samcli.json
  tests/unit/commands/buildcmd/test_build_context.py
  tests/unit/commands/buildcmd/test_command.py
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/lib/build_module/test_app_builder.py
  tests/unit/local/docker/test_container.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/external, area/local/start-invoke, stage/needs-triage, area/schema

#7892 feat: New param to remove memory limit in invoke
  samcli/commands/_utils/options.py
  samcli/commands/local/cli_common/invoke_context.py
  samcli/commands/local/cli_common/options.py
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/invoke/core/options.py
  samcli/commands/local/start_api/cli.py
  samcli/commands/local/start_api/core/options.py
  samcli/commands/local/start_lambda/cli.py
  samcli/commands/local/start_lambda/core/options.py
  samcli/local/lambdafn/runtime.py
  schema/samcli.json
  tests/unit/commands/local/cli_common/test_invoke_context.py
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/start_api/test_cli.py
  tests/unit/commands/local/start_lambda/test_cli.py
  tests/unit/commands/samconfig/test_samconfig.py
  tests/unit/local/lambdafn/test_runtime.py
Labels: area/local/start-api, area/local/invoke, pr/external, area/local/start-invoke, stage/needs-triage, area/schema

#7894 chore: bump version to 1.134.0
  samcli/__init__.py
Labels: pr/external, stage/needs-triage

#7902 chore(deps): bump cfn-lint from 1.22.2 to 1.25.1 in /requirements
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  requirements/reproducible-win.txt
Labels: pr/external, stage/needs-triage

#7906 fix: Update maintainer aliases
  .github/workflows/pr-labeler.yml
Labels: pr/external, stage/needs-triage
