Repository aws/aws-sam-cli, pull requests merged in 2025-05, with the labels that each got.

#7995 bump openssl from 3.3.1 to 3.3.3
  installer/pyinstaller/build-linux.sh
Labels: pr/external, stage/needs-triage

#8005 chore: bump version to 1.138.0
  samcli/__init__.py
Labels: pr/internal

#8004 chore: added a link to the Apache license badge
  README.md
Labels: pr/external, stage/needs-triage

#8011 refactor: remove duplicate code and fix indentation
  samcli/commands/deploy/command.py
  samcli/commands/deploy/guided_context.py
  samcli/commands/package/command.py
  samcli/lib/bootstrap/bootstrap.py
  samcli/lib/package/s3_uploader.py
Labels: area/package, area/deploy, pr/external, stage/needs-triage

#8013 fix: close event loops for async tasks
  samcli/lib/utils/async_utils.py
Labels: pr/external, stage/needs-triage

#8039 chore(workflow): fix pip, pip-tools version
  Makefile
Labels: pr/internal

#8022 chore(workflow) Remove deprecated workflow
  .github/workflows/need-attention-label.yml
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  requirements/reproducible-win.txt
  samcli/cli/command.py
  samcli/commands/docs/core/command.py
  samcli/commands/local/generate_event/event_generation.py
  samcli/local/apigw/local_apigw_service.py
  tests/unit/cli/test_command.py
  tests/unit/commands/docs/core/test_command.py
Labels: area/local/start-api, area/local/invoke, pr/internal, area/local/start-invoke

#8043 chore: bump version to 1.139.0
  samcli/__init__.py
Labels: pr/internal

#8024 chore: remove SBT team from CODEOWNERS
  CODEOWNERS
Labels: pr/external, stage/needs-triage
