Repository aws/aws-sam-cli, pull requests merged in 2025-03, with the labels that each got.

#7885 Update sam local invoke to support new runtime options
  samcli/commands/local/invoke/cli.py
  samcli/commands/local/invoke/core/options.py
  samcli/commands/local/lib/local_lambda.py
  schema/samcli.json
  tests/unit/commands/local/invoke/test_cli.py
  tests/unit/commands/local/lib/test_local_lambda.py
  tests/unit/commands/samconfig/test_samconfig.py
Labels: area/local/invoke, stage/needs-triage, area/schema

#7920 test: fix error message in 'validate'
  tests/integration/validate/test_validate_command.py
Labels: pr/internal

#7917 test: go back to AL2 image in tf integ tests
  tests/integration/testdata/buildcmd/terraform/build_image_docker/Dockerfile
Labels: pr/internal

#7916 test: update Ruby version in integ tests
  tests/integration/testdata/buildcmd/Ruby/.ruby-version
  tests/integration/testdata/buildcmd/Ruby32/.ruby-version
  tests/integration/testdata/buildcmd/Ruby33/.ruby-version
  tests/integration/testdata/sync/infra/after/Ruby/function/.ruby-version
  tests/integration/testdata/sync/infra/after/Ruby/layer/.ruby-version
  tests/integration/testdata/sync/infra/before/Ruby/function/.ruby-version
  tests/integration/testdata/sync/infra/before/Ruby/layer/.ruby-version
Labels: pr/internal

#7921 chore: bump version to 1.135.0
  samcli/__init__.py
Labels: pr/internal

#7953 chore: update cfn-lint to 1.32.0
  requirements/base.txt
  requirements/reproducible-linux.txt
  requirements/reproducible-mac.txt
  requirements/reproducible-win.txt
Labels: pr/internal

#7940 feat: add ruby3.4 support
  samcli/commands/build/command.py
  samcli/lib/build/workflow_config.py
  samcli/lib/utils/architecture.py
  samcli/local/common/runtime_template.py
  samcli/local/docker/lambda_image.py
  schema/samcli.json
  tests/integration/buildcmd/test_build_cmd.py
  tests/unit/lib/build_module/test_workflow_config.py
Labels: area/local/start-api, area/build, area/local/invoke, pr/internal, area/local/start-invoke, area/schema

#7954 chore: bump version to 1.136.0
  samcli/__init__.py
Labels: pr/internal
