Repository aws/aws-sam-cli, pull requests merged in 2025-09, with the labels that each got.

#8007 feat(metrics): collect the DOCKER_HOST environment variable path
  samcli/cli/global_config.py
  samcli/lib/telemetry/event.py
  samcli/lib/telemetry/metric.py
  tests/integration/telemetry/integ_base.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/lib/telemetry/test_event.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/external, stage/needs-triage

#8254 Correcting tests
  tests/integration/init/test_init_command.py
Labels: pr/internal

#8248 feat: add python option for creating parent packages during copy
  samcli/lib/build/app_builder.py
  tests/integration/buildcmd/test_build_cmd_python.py
  tests/integration/testdata/buildcmd/PythonParentPackages/src/__init__.py
  tests/integration/testdata/buildcmd/PythonParentPackages/src/fnone/__init__.py
  tests/integration/testdata/buildcmd/PythonParentPackages/src/fnone/main.py
  tests/integration/testdata/buildcmd/PythonParentPackages/src/fnone/requirements.txt
  tests/integration/testdata/buildcmd/PythonParentPackages/src/fntwo/__init__.py
  tests/integration/testdata/buildcmd/PythonParentPackages/src/fntwo/main.py
  tests/integration/testdata/buildcmd/PythonParentPackages/src/fntwo/requirements.txt
  tests/integration/testdata/buildcmd/template_with_metadata_python.yaml
  tests/unit/lib/build_module/test_app_builder.py
Labels: area/build, pr/external, stage/needs-triage

#8279 fix: add osplatform telemetry
  samcli/lib/telemetry/metric.py
  tests/integration/telemetry/test_experimental_metric.py
  tests/unit/lib/telemetry/test_event.py
  tests/unit/lib/telemetry/test_metric.py
Labels: pr/internal

#8283 fix(README): correct the dead link on open source contribution story
  README.md
Labels: pr/external, stage/needs-triage
